@font-face
    font-family: avenirLtStd
    src: url('/fonts/AvenirLTStd-Book.ttf') format('truetype')
    font-display: swap


@font-face
    font-family: avenirLt95Bold
    src: url('/fonts/Avenir-LT-Std-85-Heavy_5177.ttf') format('truetype')
    font-display: swap
  
.content-landing
    // height: calc(100vh - 52.9px)
    overflow: hidden
    height: calc(100vh - 53px)
    margin-bottom: 20px
    min-height: 500px
    @media (min-width:500px)
        min-height: 800px
        height: initial
        margin-bottom: initial
        min-height: initial
    .item
        background-color: #3780A9
        border-radius: 6px
        padding: 16px 10px
        width: auto
        height: 88px
        @media (min-width:500px)
            height: 140px
            width: 217px
            padding: 18px
        .title
            p
                color: #FFFFFF
                font-size: 13px
                line-height: 1.3
                text-align: center

            div
                display: flex
                align-items: baseline
                justify-content: center
                margin: 5px 0
                span, h4
                    color: #FFD8AF
                    font-family: avenirLt95Bold 
                h4
                    font-size: 30px
            .dscto
                font-size: 12px
                text-align: center
                color: #FFD8AF
                margin: auto
        .title2
            height: 100%
            ul
                height: 100%
                display: flex
                flex-direction: column
                justify-content: space-between
                li
                    display: flex
                    align-items: center
                    align-items: baseline
                    p
                        text-align: left
                        font-size: 12px
                    span
                        display: block
                        height: 6px
                        width: 6px
                        background-color: white
                        border-radius: 100px
                        margin-right: 8px
                        @media (min-width:500px)
                            margin-right: 14px
                            height: 8px
                            width: 8px
            p
                color: #FFFFFF
                font-size: 13px
                line-height: 1.3
                text-align: center

            div
                display: flex
                align-items: baseline
                justify-content: center
                margin: 5px 0 0
                span, h4
                    color: #FFD8AF
                    font-family: avenirLt95Bold 
                h4
                    font-size: 30px
            .dscto
                font-size: 12px
                color: #FFD8AF
                display: block
                text-align: center
                margin-bottom: 4px
    @media (min-width:500px)
        padding-bottom: 69px
        margin-bottom: -63px
        height: calc(100vh - 8.9px)
        min-height: 689px
    .content-main
        position: relative
        .box-slider
            position: absolute
            bottom: -47px
            left: 20px
            width: 95%
            @media (min-width:500px)
                display: none
            h2
                font-size: 21px
                color: white
                font-family: avenirLt95Bold
                margin-bottom: 10px
                text-align: center
    .background-main
        background-image: url(/assets/landing_02/portada_landing_mobile.jpg)
        background-position: top left
        background-repeat: no-repeat
        background-color: #FF9F9F
        background-size: cover
        width: 100%
        height: 67vh
        overflow: hidden
        border-radius: 0 0 0 80px
        position: relative
        @media (min-width:500px)
            background-image: url(/assets/landing_02/portada_landing_02.jpg)
            border-radius: 0
            height: calc(100vh - 32px)
            min-height: 670px
        .box-title
            color: #20658B
            width: 80%
            margin: auto
            margin-top: 8px
            position: relative
            background-color: initial
            @media (min-width:500px)
                background-color: #20668B
                height: 646px
                width: 637px
                margin-top: 0
                margin-left: 0
                border-radius: 0 0 90px
                padding: 42px 97px
                display: grid
                grid-gap: 9px
            h2,h1,p
                text-align: center
            h2
                font-size: 18px
                color: #20668B
                font-family: avenirLt95Bold
                @media (min-width:500px)
                    font-size: 36px
                    color: white
            h3
                display: none
                @media (min-width:500px)
                    display: block
                    font-family: avenirLt95Bold
                    color: white
                    text-align: center
                    margin-top: 10px
                    font-size: 18px
            .parrafo-last
                color: #FFFFFF
                font-size: 12px
                margin-top: 5px
                display: none
                @media (min-width:500px)
                    display: block
            .box-title-desktop
                display: flex
                justify-content: center
                padding-right: 25px
                flex-direction: column
                align-items: center
                @media (min-width:500px)
                    flex-direction: row
                h1
                    font-size: 27px
                    color: #FFDA9A
                    font-weight: bold
                    font-family: avenirLt95Bold
                    margin-top: 10px
                    text-align: center
                    @media (min-width:500px)
                        font-size: 33px
                        max-width: 233px
                        text-align: right
                .box-part-text
                    display: flex
                    align-items: baseline
                    margin-left: 20px
                    position: relative
                    &::after
                        content: "*"
                        position: absolute
                        font-family: avenirLt95Bold
                        top: 7px
                        right: -12px
                        height: 10px
                        width: 10px
                        color: white
                        font-size: 15px
                        @media (min-width:500px)
                            font-size: 30px
                    span, h1
                        color: white
                        font-family: avenirLt95Bold
                    span
                        font-size: 24px
                        @media (min-width:500px)
                            font-size: 45px
                    h1
                        font-size: 51px
                        @media (min-width:500px)
                            font-size: 77px
            p
                font-size: 15px
                line-height: 1.3
                color: white
                @media (min-width:500px)
                    font-size: 20px
            .plan-mas-icon
                &::before
                    content: ""
                    height: 43px
                    width: 43px
                    position: absolute
                    right: -12px
                    top: -1px
                    background-image: url(/assets/images-landing/viva-mas-logotipo.svg)
                    background-size: cover
                    background-color: #eceae4
            .box-plans-desktop
                display: none
                p
                    font-size: 15px
                @media (min-width:500px)
                    display: grid
                    grid-template-columns: 1fr 1fr
                    grid-gap: 10px
            .btn-continua-desktop
                font-size: 18px
                width: 252px
                height: 48px
                font-weight: bold
                margin: auto
                font-size: 18px
                border-radius: 0 25px 0 0
                display: none
                margin-top: 10px
                @media (min-width:500px)
                    display: block
    .box-footer
        text-align: center
        padding: 70px 0 30px
        position: relative
        .btn-continua
            font-size: 18px
            width: 90%
            height: 48px
            font-weight: bold
            margin: auto
            font-size: 18px
            border-radius: 0 25px 0 0
        .parrafo-last
            color: #FFFFFF
            font-size: 12px
            margin-top: 5px
            display: block
            margin-top: 21px
            @media (min-width:500px)
                display: none
