<div class="content-landing">
<div class="content-main">
<section class="background-main">

  <div class="box-title">
    <!--<h2>Déjanos tus datos y obtén</h2> -->
    <div style="text-align: center;" class="box-h1">

      <div class="box-title-desktop">
        <h1 style="display: inline-block; position: relative;" >Tu primera cita médica a solo</h1>
        <div class="box-part-text">
          <!-- <span>S/</span> --> 
          <h1>S/30</h1>
        </div>
      </div>

  


    </div>
    <h3>Especialidades:</h3>
    <div class="box-plans-desktop">

      <div class="item">
        <div class="title2">
          <ul>
            <li><span></span> <p>Cardiología</p></li>
            <li><span></span> <p>Cirugía General</p></li>
            <li><span></span> <p>Dermatología</p></li>
            <li><span></span> <p>Gastroenterología</p></li>
          </ul>
          </div>
      </div>

      <div class="item">
          <div class="title2">
              <ul>
                <li><span></span> <p>Ginecología y Obstetricia</p></li>
                <li><span></span> <p>Medicina del Adolescente</p></li>
                <li><span></span> <p>Medicina Familiar</p></li>
              </ul>
              </div>
      </div>

      <div class="item">
          <div class="title2">
              <ul>
                <li><span></span> <p>Medicina Interna</p></li>
                <li><span></span> <p>Nutrición</p></li>
                <li><span></span> <p>Odontología</p></li>
                <li><span></span> <p>Oftalmología</p></li>
              </ul>
              </div>
      </div>

      <div class="item">
        <div class="title2">
            <ul>
              <li><span></span> <p>Pediatría</p></li>
              <li><span></span> <p>Traumatología</p></li>
              <li><span></span> <p>Urología</p></li>
            </ul>
            </div>
      </div>

    </div>
   
        <button id="ir_formulario_lo_quiero" (click)="redirectTo()" class="btn-continua-desktop">QUIERO EL DESCUENTO</button>
 
    <p class="parrafo-last">* Válido para citas hasta el 15 de diciembre</p>
  </div>
</section>
<div class="box-slider">
    <h2>Especialidades:</h2>

    <div style="overflow: initial;" class="swiper-container" [swiper]="config1">
        <div class="swiper-wrapper">
 
          <div style="    width: 135px" class="swiper-slide">
              <div class="item">
                  <div class="title2">
                      <ul>
                          <li><span></span> <p>Cardiología</p></li>
                          <li><span></span> <p>Cirugía General</p></li>
                          <li><span></span> <p>Dermatología</p></li>
                          <li><span></span> <p>Gastroenterología</p></li>
                        </ul>
                    </div>
                </div>
              </div>

              <div style="    width: 135px" class="swiper-slide">
                <div class="item">
                    <div class="title2">
                        <ul>
                            <li><span></span> <p>Ginecología y Obstetricia</p></li>
                            <li><span></span> <p>Medicina del Adolescente</p></li>
                            <li><span></span> <p>Medicina Familiar</p></li>
                          </ul>
                        </div>
                </div>   </div>
                
                <div style="    width: 135px" class="swiper-slide">
                <div class="item">
                    <div class="title2">
                        <ul>
                            <li><span></span> <p>Medicina Interna</p></li>
                            <li><span></span> <p>Nutrición</p></li>
                            <li><span></span> <p>Odontología</p></li>
                            <li><span></span> <p>Oftalmología</p></li>
                          </ul>
                        </div>
                </div>  </div>
                
                <div style="    width: 135px" class="swiper-slide">
                <div class="item">
                    <div class="title2">
                        <ul>
                            <li><span></span> <p>Pediatría</p></li>
                            <li><span></span> <p>Traumatología</p></li>
                            <li><span></span> <p>Urología</p></li>
                          </ul>
                    </div>
                </div></div>
        </div>
      </div>
  </div>
</div>
<div class="box-footer">
      <button  id="ir_formulario_lo_quiero" (click)="redirectTo()" class="btn-continua">QUIERO EL DESCUENTO</button>
  <p class="parrafo-last">* Válido para citas hasta el 15 de diciembre</p>
</div>
</div>