
<div class="close" (click)="onClickNo()"></div>
<div *ngIf="!show" class="modal box-modal-register">
  <h3 [ngClass]="{'colorCuida': message.page === 'aviva-cuida', 'colorCura' : message.page === 'aviva-cura', 'colorAviva' : message.page === 'home'}">PARA CONTACTARTE, <br> DÉJANOS LOS SIGUIENTES DATOS</h3>

  <!-- BOX FORM -->
  <div class="box-content-form">

    <!-- BOX NAME -->
    <div class="box-input" [ngClass]="{'box-input-load': loaderSession, 'box-input-error' : serviceError}">
      <label [ngClass]="{ 'input-active' : name != '' }">Nombres</label>
      <input [disabled]="loaderSession" autocomplete="off" type="text" [(ngModel)]="name" (keyup)="onkeyValidateString(name)" (blur)="blurValidateString(name)">
      <div *ngIf="nameReadyValidate" [ngClass]="{'icon2 check': nameValidate, 'icon error': !nameValidate}"></div>
    </div>

    <!-- BOX LASTNAME -->
    <div class="box-input" [ngClass]="{'box-input-load': loaderSession, 'box-input-error' : serviceError}">
      <label [ngClass]="{ 'input-active' : lastName != '' }">Apellidos</label>
      <input [disabled]="loaderSession" autocomplete="off" type="text" [(ngModel)]="lastName" (keyup)="onkeyValidateString(lastName)" (blur)="blurValidateString(lastName)">
      <div *ngIf="lastNameReadyValidate" [ngClass]="{'icon2 check': lastNameValidate, 'icon error': !lastNameValidate}"></div>
    </div>


    <!-- PHONE --> 
    <div class="box-input" [ngClass]="{'box-input-load': loaderSession, 'box-input-error' : serviceError}">
      <label [ngClass]="{ 'input-active' : phoneNumber != '' }">Teléfono</label>
      <input maxlength="9" [disabled]="loaderSession" autocomplete="off" type="tel" [(ngModel)]="phoneNumber" (keyup)="onkeyValidateString(phoneNumber)" (blur)="blurValidateString(phoneNumber)">
      <div *ngIf="phoneReadyValidate" [ngClass]="{'icon2 check': phoneValidate, 'icon error': !phoneValidate}"></div>
    </div>

    <!-- EMAIL --> 
    <div class="box-input" [ngClass]="{'box-input-load': loaderSession, 'box-input-error' : mailInvalid}">
      <label [ngClass]="{ 'input-active' : email != '' }">Correo electrónico</label>
      <input [disabled]="loaderSession" autocomplete="off" type="text" [(ngModel)]="email" (keyup)="onkeyValidateString(email)" (blur)="blurValidateString(email)">
      <span *ngIf="mailInvalid" class="notifiValidate">Este correo ya a sido registrado, intente con otro</span>
      <div *ngIf="emailReadyValidate" [ngClass]="{'icon2 check': emailValidate, 'icon error': !emailValidate}"></div>
    </div>


    
  </div>
  <br>
  <button [disabled]="validateAllInputs()" *ngIf="!loaderSession" mat-raised-button color="primary" (click)="sendForm()" >ENVIAR</button>
  <div *ngIf="loaderSession" class="preloader">
    <mat-progress-spinner
    [color]="color"
    [mode]="mode" [diameter]="30">
    </mat-progress-spinner>
  </div>
</div>

<div *ngIf="show" class="modal box-planes-reser box-modal-register">
    <h3 [ngClass]="{'colorCuida': message.page === 'aviva-cuida', 'colorCura' : message.page === 'aviva-cura', 'colorAviva' : message.page === 'home'}">MUCHAS GRACIAS</h3>
    <p>Nos pondremos en contacto contigo lo antes posible</p>

  </div>
