<div class="tab-pyp-container new">
    <div class="tab-planes-programas">
      <div *ngFor="let item of newData.planServices; let i = index" class="tab-pyp" [ngClass]="{'tab-pyp-active': show === i}" id="{{i}}" (click)="showPlan($event)">
        <p>{{item.name}}</p>
      </div>
    </div>
    <!-- BOX CONTENT -->
    <div *ngFor="let item of newData.planServices; let ii = index" >
      <div *ngIf="show === ii" id="{{ii}}" [innerHTML]="item.planPrograms[0].html">
  </div>
  </div>
    <!-- END BOX CONTENT -->
  </div>