<div class="container-tyc">
    <div class="container">
      <div class="col-md-8 col-12">
        <div class="title-tyc">
          <h2>Términos y condiciones</h2>
        </div>
        <div class="text-tyc">
          <p>
              Los siguientes términos y condiciones de uso (en adelante, "Términos") son un acuerdo legal entre el usuario y Centros de Salud Peruanos S.A.C., RUC N° con RUC N°20602393934, con domicilio en Jirón Carlos Villarán N°611, Urbanización Santa Catalina, Distrito de La Victoria, Provincia y Departamento de Lima, Perú (en adelante "CSP" o "nosotros", " nos” o "nuestro "), para establecer el marco legal y contractual mediante el cual el usuario de nuestra página web, aplicación o cualquier otra plataforma digital administrada por nosotros, podrá acceder a la promoción ofrecida por CSP en alianza comercial con Financiera Oh!, consistente en una Campaña de Implantación de Ortodoncia (brackets) cuya cuota inicial se podrá pagar mediante Tarjeta Oh! en 12 cuotas sin intereses (en adelante “La Campaña”).

Como usuario de nuestra plataforma digital, puedes acceder a “La Campaña” solicitando una cita de evaluación gratuita en nuestra sede denominada CLÍNICA AVIVA -SEDE MENDIOLA, ubicada en Av. Alfredo Mendiola N° 6301, distrito de Los Olivos, Lima (en adelante, “La Clínica”). La cita se programará a través del call center (Telf. 01 715 4600) sujeta a disponibilidad y horario de la especialidad de Odontología en La Clínica.

El usuario que efectúe la reserva de cita y asista a la evaluación gratuita no deberá necesariamente ser el titular de la Tarjeta Oh! con la que se cancele la cuota inicial de la Campaña. En otras palabras, no será requisito que el titular de la tarjeta sea el paciente.

La evaluación gratuita consistirá en determinar la idoneidad del paciente para la implantación de ortodoncia, así como el presupuesto total del tratamiento cuya cuota inicial de S/ 1,200.00 (mil doscientos y 00/100 Soles), se podrá pagar mediante cargo a la Tarjeta Oh! del paciente o su beneficiario.

La oferta es válida para programar citas hasta el día 15 de diciembre de 2019. 

En la fecha programada, el usuario deberá acercarse al Módulo de Admisión de La Clínica portando su DNI (o DNI del dependiente de ser el caso) de manera puntual. No existe tolerancia ni responsabilidad de la Clínica o los médicos o los especialistas en caso no se encuentre a la hora programada. Tampoco obligación de atender al usuario, salvo que la disponibilidad lo permita.

Los datos personales que el usuario proporcione para acceder a la Campaña podrían contener datos sensibles. En vista de ello, el usuario autoriza a CSP a recopilar y dar tratamiento (por sí mismo o a través de terceros) a sus datos personales, para que incluso pueda elaborar bases de datos con la información proporcionada. En ese sentido, a fin de dar tratamiento a la información conforme se indica en este documento, el usuario otorga a CSP su consentimiento libre, previo, expreso, inequívoco e informado, para que (por sí mismo o a través de terceros) pueda: recopilar, registrar, organizar, almacenar, conservar, elaborar, modificar, bloquear, suprimir, extraer, consultar, utilizar, transferir, exportar, importar o procesar (tratar) de cualquier otra forma sus datos personales, conforme a Ley. El usuario declara conocer que los datos pueden ser alojados en plataformas cuyos servidores se encuentren en el extranjero, consintiendo el flujo transfronterizo de sus datos. Esta autorización es indefinida y estará vigente hasta que el usuario la revoque, comunicando su decisión por escrito a CSP quien podrá informarle a través de cualquier medio de comunicación, sobre otros canales para que puedan hacer efectiva la revocatoria.

Estos Términos se regirán e interpretarán de acuerdo con las leyes de la República del Perú. Asimismo, el Usuario declara su conformidad de someter cualquier discrepancia a la jurisdicción de los jueces y tribunales de la Corte Superior de Justicia de Lima Norte.

Lima, NOVIEMBRE 2019.

          </p>
        </div>
  
      </div>
    </div>
  </div>
  