<div class="box-errors-500">
  <img src="assets/svg/logo.svg" width="130" alt="">
  <div class="main-letter">
    <h5>ERROR</h5>
    <h2>
      500
    </h2>
  </div>
  <p>Lo sentimos, pero la página que estás buscando no existe</p>
</div>
