<div class="conoce-aviva">
    <div class="especialidades-y-doctores-container">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 col-lg-3 col-xl-3">
            <div class="box-title-eyp">
              <p>
                Conoce al <span>especialista</span> a
                cargo
              </p>
              <div class="vector-orange">
                <div class="circle"></div>
              </div>
              <div class="vector-orange-horizontal">
                <div class="circle"></div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-9 ">
  
            <div style="    margin: auto;
            margin-top: 82px;" class="preloader" *ngIf="preloader">
                <mat-progress-spinner
                [color]="color"
                [mode]="mode" [diameter]="70">
                </mat-progress-spinner>
                <br>
                <br>
                <p class="text-small">Estamos cargando información del especialista</p>
            </div>
  
  
            <div *ngIf="!preloader" class="box-content-detail-doctor">
              <!-- conent top -->
              <!-- <div class="box-info-data-container"> -->
                <div class="box-info-data-doc">
                  <div class="row">
                    <div class="col-sm-12 col-md-4 col-lg-4">
                      <!-- stilos desktop -->                     
                      <!-- ESTILOS CON DATA -->
                      <div class="citas-detail-title-doc-compress">
                        <div class="row">
                          <div class="col-sm-12 col-md-12 col-lg-12">
                            <h4>{{dataDoctors.surname1}} {{dataDoctors.surname2}},<span>{{dataDoctors.name}} </span></h4>
                          </div>
                          <div class="col-sm-12 col-lg-12 col-md-12">
                            <span>{{dataDoctors.service.description}}</span>
                          </div>
                          <div class="col-sm-12 col-md-12 citas-detail-university cmp" >
                            <p>CMP: {{dataDoctors.info.cmp ? dataDoctors.info.cmp : '--'}} | RNE: {{dataDoctors.info.rne ? dataDoctors.info.rne : '--'}}</p>
                          </div>
                        </div>
                      </div>
                      <div class="box-info-citas-details-img-doc" *ngIf="doctorData">
                        <img [src]="urlBaseAlter + dataDoctors.info.imageUrl" alt="user" />
                      </div>
                      <div class="box-info-citas-details-img-no-data" *ngIf="!doctorData">
                        <img [src]="urlBaseAlter + dataDoctors.info.imageUrl" alt="user" />
                      </div>
                    </div>
                    <!-- stilos movile -->
                    <div class="col-sm-12 col-md-8 col-lg-8">
                      <div class="box-info-citas-details">
                        <div class="citas-detail-title-doc">
                          <div class="row">
                            <div class="col-sm-12 col-lg-12 col-md-12">
                              <span>{{dataDoctors.service.description}}</span>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12">
                              <h4>{{dataDoctors.surname1}} {{dataDoctors.surname2}},<span>{{dataDoctors.name}}</span></h4>
                              
                            </div>
                            <div class="col-sm-12 col-md-12 citas-detail-university-doc">
                              <p>CMP: {{dataDoctors.info.cmp ? dataDoctors.info.cmp : '--'}} | RNE: {{dataDoctors.info.rne ? dataDoctors.info.rne : '--'}}</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-12 col-md-5 col-lg-5 doctorDataMobile">
                          <mat-accordion *ngIf="doctorData">
                              <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                  <mat-panel-title>
                                    Conoce a tu doctor
                                  </mat-panel-title>
                                </mat-expansion-panel-header>
                                <h5 class="sobreMiMobile" >Sobre mi</h5>
                                <p class="fraseDoctorMobile" >{{doctorData.fraseExtendida}}</p>
                                <p class="universityMobile">
                                  <span *ngIf="dataDoctors.info.almaMater">{{dataDoctors.info.almaMater}}</span> 
                                </p> 
                                <div class="col-sm-12 col-md-7 col-lg-7 datosFormacionMobile" >
                                    <h5 class="blueTitle">Formación</h5>                                  
                                      <p class="colorGrey">{{doctorData.formacion}}</p>
                                    <h5 class="blueTitle">Enfermedades que trato</h5>
                                      <p class="colorGrey">{{doctorData.enferquetrato}}</p>
                                </div>
                              </mat-expansion-panel>
                          </mat-accordion>
                        </div>
                        <div class="col-sm-12 col-md-5 col-lg-5" *ngIf="doctorData">
                          <h5 class="sobreMi" >Sobre mi</h5>
                          <p class="fraseDoctor">{{doctorData.fraseExtendida}}</p>
                        </div>
                        <div class="col-sm-12 col-md-7 col-lg-7 datosFormacion" *ngIf="doctorData">
                            <h5 class="blueTitle" *ngIf="doctorData">Formación</h5>     
                              <p class="colorGrey" *ngIf="doctorData">{{doctorData.formacion}}</p>
                            <h5 class="blueTitle" *ngIf="doctorData">Enfermedades que trato</h5>
                              <p class="colorGrey" *ngIf="doctorData">{{doctorData.enferquetrato}}</p>
                        </div>
                        <p class="textoNoData" *ngIf="!doctorData">Este especialista pronto cargará su información</p> 
                      </div>
                    </div>
                  </div>
                </div>
              <!-- </div> -->
              <!-- /content top -->
              <!-- content bottom -->
              <div class="row">
                <div class="col-sm-12 col-lg-4 col-md-4"></div>
                <div class="col-sm-12 col-lg-8 col-md-8">
                  <div class="box-grey-bottom">
                    <div class="box-calendar no-border">
                      <p *ngIf="dataDoctors.availables.length > 0">Selecciona un día para ver las horas disponibles</p>
                      <p class="red" *ngIf="dataDoctors.availables.length < 1" >Este especialista no tiene horarios disponibles</p>
                      <ul>
                        <li *ngFor="let items of dataDoctors.availables; let i = index" (click)="showBox(i)" [ngClass]="{'active': i === idBox }">
                          <div class="box-day">{{items.date}}</div>
                          <span>{{items.newFormatDay}}</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <!-- /content bottom -->
                  <!-- box horas -->
                  <div *ngFor="let item of dataDoctors.availables; let ii = index">
                    <div *ngIf="idBox === ii" style="overflow: hidden;">
                      <div class="box-hour">
                          <p>Selecciona la hora en la que desees la cita</p>
                          <div class="box-hour-main">
                            <div *ngFor="let items of item.hours.hour; let iii = index"><span (click)="redirectTo(item.hours[iii].listjson, item.hours[iii].params.provisionId)" [ngClass]="{'activo': item.hours[iii].isAvailable === true, 'desactive': item.hours[iii].isAvailable === false}"><a>{{items}}</a></span></div>
                          </div>
                      </div>
                    </div>
                  </div>
                  <!-- /box horas -->
                </div>
              </div>  

            </div>
          </div>
          <div class="col-sm-12 offset-lg-5 col-lg-6">
            <h3 *ngIf="doctorsSpecialty.length > 0 && doctorsSpecialty" class="titleDoctors">Estos especialistas si tienen días disponibles</h3>
             <!-- BOXES DOCTORS -->
             <div *ngIf="doctorsSpecialty" >
               <div class="container-boxes" >
               <div *ngFor="let item of doctorsSpecialty; let itemDoctor = index;" class="box-content-detail-doctor">
                 <div class="box-main-content" *ngIf="item.id !== dataDoctors.id">
                   <div class="box-info-data-container">
                     <div class="box-info-data">
                       <div class="row">
                         <div class="col-sm-3">
                           <div class="box-info-citas-details-img-more">
                             <img [src]="urlBaseAlter + item.info.imageUrl" alt="user" />
                           </div>
                         </div>
                         <div class="col-sm-9">
                           <div class="box-info-citas-details-more">
                             <div class="citas-detail-title left">
                               <span>{{item.service.description}}</span>
                               <h4>{{item.surname1}} {{item.surname2}} <span>{{item.name}}</span></h4>
                             </div>
                             <div class="citas-detail-university grey">
                               <p>CMP: {{item.info.cmp ? item.info.cmp : '--'}} <span>|</span> RNE: {{item.info.rne ? item.info.rne : '--'}}</p>
                               <span *ngIf="item.info.almaMater">{{item.info.almaMater}}</span>
                             </div>
                           </div>
                         </div>
                       </div>
                     </div>
                   </div>
                   <div class="box-grey-bottom">
                     <div class="box-calendar no-border">
                       <p *ngIf="item.availables.length > 0">Selecciona un día para ver las horas disponibles</p>
                       <p *ngIf="item.availables.length < 1">No tiene días disponibles</p>
                       <ul>
                         <li *ngFor="let items of item.availables; let i = index" (click)="stateShow(itemDoctor, i)" [ngClass]="{'active': boxCaID === i && itemDoctor === boxID }">
                           <div class="box-day">{{items.date}}</div>
                           <span>{{items.newFormatDay}}</span>
                         </li>
                       </ul>
                     </div>
                   </div>
                   <!-- /content bottom -->
                   <!-- box horas -->
                   <div style="overflow: hidden;" *ngFor="let itemsss of item.availables; let ii = index">
                     <div *ngIf="itemDoctor === boxID && boxCaID === ii" class="box-hour">
                       <p>Selecciona la hora en la que desees la cita</p>
                       <div class="box-hour-main">
                         <div *ngFor="let items of itemsss.hours.hour; let indexxx = index"><span
                             id="{{'span-elegir-doctor-horaydia-'+item.service.idTraking}}"
                             [ngClass]="{'activo': itemsss.hours[ii].isAvailable === true, 'desactive': itemsss.hours[ii].isAvailable === false}"><a
                               (click)="redirectToa(indexxx, ii, itemDoctor, itemsss.hours[indexxx].params.provisionId)">{{items}}</a></span>
                         </div>
                       </div>
                     </div>
                   </div>
                 </div>
               </div>
             </div>
             </div>
            </div>
            <div style="margin: auto;" class="preloader" *ngIf="preloaderExtraDates">
             <mat-progress-spinner
             [color]="color"
             [mode]="mode" [diameter]="40">
             </mat-progress-spinner>
             <br>
             <br>
             <p class="text-small">Estamos cargando información del otros especialistas</p>
         </div>
         
        </div>
        <div (click)="backLink()" class="button-back">
          <br>
          <br>
            <img src="assets/img/sacar-cita/back-page.svg" width="45" height="45" alt="">
        </div>
      </div>
    </div>
  
  </div>
  