@font-face {
  font-family: avenir;
  src: url(src/fonts/AvenirLT95-Black.ttf)format("opentype");
  font-display: swap;
}

.container-boxes {
    @media (max-width: 975px) {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
    }
  }

  .box-photo {
    // background-color: $color-primary;
    width: 72px;
    height: 72px;
    border-radius: 100px;
    min-width: 60px;
    margin-right: 10px;
    overflow: hidden;
    margin-left:20px;
    
    img {
      width: 100%;
      margin-top:20px!important;
    }
  }

  .box-content-info {
    h3 {
      font-size: 15px;
      color: #20668c;
      line-height: 1.3;
      margin-top:20px;
      margin-left:20px;
      font-family: avenir; 
    }

    p {
      font-size: 12px;
      margin: 6px 0;
      color: rgba(255, 255, 255, 0.69);
    }

    a {
      text-decoration: none;
      font-size: 9px;
      text-transform: uppercase;
      color: #062F51;
      font-family: avenir;
      text-decoration: underline;
      margin-top:20px;
      margin-left:20px;
      margin-bottom:20px;
    }
  }
  .box-day {
    background-color: #062F51;
    cursor: pointer;
  }

  li {
    text-align: left;

    .box-day {
      width: 35px!important;
      height: 35px!important;
      font-size: 12px;
      border-radius: 100px;
      background-color: #062F51;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      color: white;
      cursor: pointer;
    }

    span {
      margin-top: 5px;
      display: inline-block;
      color: #062F51;
      font-size: 17px!important;
      /* font-family: $avenir-Bold; */
    }
}

.box-main-content {
    margin: 10px 0;
    margin-top:30px;

    .box-hour {
      display: grid;
      bottom: 0;
      right: 0;
      width: 100%;
      padding: 5px;
      height: auto;
      background-color: #20668c;
      text-align: center;
      overflow: hidden;

      p {
        margin-bottom: 16px;
        font-size: 11px;
        color: white;
      }

      .box-hour-main {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 6px;

        @media (max-width: 560px) {
          grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        }

        @media (max-width: 440px) {
          grid-template-columns: 1fr 1fr 1fr 1fr;
        }

        span {
          display: inline-block;
        
          background-color: #062F51;
          border-radius: 5px;
          font-size: 13px;
          color: white;
          cursor: pointer;

          a {
            display: block;
            padding: 5px 14px;
            color: white;
          }
        }

        .desactive {
          background-color: #a7a9ab;
          pointer-events: none;

          a {
            color: #e6e6e4;
          }
        }
      }
    }
  }
  .margin{
      margin-top:40px!important;
  }
  .box-info-citas-details-img{
    width:150px;
    img{
      width:90px!important;
      height: 90px!important;
      margin-top:-150px!important;
      margin-left: 30px;
    }
  }
  .box-info-citas-details{
    h4{
      font-size:1.2em!important;
    }
  }
  .box-content-detail-doctor{
    margin-top:20px;
    @media (min-width: 740px) {
      margin-top:80px;
    }
/*     background: transparent; */
  }
  .cmp{
    color:#20668c;
    margin-top:10px;
    margin-left:20px;
    @media (max-width: 740px) {
      font-size:1em;
      text-transform: lowercase;
    }
  }

  .box-info-data{
    margin-top:0px!important;
  }
  .titleDoctors{
    margin-top:30px;
    font-size:1.1em;
    font-weight: 500;
    color:#20668c;
    text-align: center;
    text-transform: uppercase;
    @media (min-width: 740px) {
      font-size:1.4em;
      font-weight: 600;
      margin-top:50px;
    }
  }
  .top{
    margin-top: -50px!important;
    span{
      text-align: left!important;
      text-transform: lowercase!important;
      margin-left:-200px;
      margin-bottom:15px!important;
      font-size:1.1em;
      font-weight: 600;
      color:#20668B;
    }
    h4{
      color:#20668B;
    }
  }
  .especialidades-y-doctores-container{
    background: transparent!important;
  }
  .conoce-aviva{
    background: #e6e6e4!important;
  }
  .box-title-ey{
    background: #062F51!important;
  }
  .box-info-citas-details-img-doc{
    border-top-right-radius: 50px;
    img{
      width:100%;
      border-top-right-radius: 50px;
      @media (min-width: 740px) {
        margin-top:20px;
        margin-left:20px;
        margin-bottom: 20px;
        border-top-right-radius: 50px;
        width:95%;
      }
    }
  }
  .box-info-citas-details-img-no-data{
    border-top-right-radius: 50px;
    img{
      width:100%!important;
      border-top-right-radius: 50px;
      @media (min-width: 740px) {
        margin-top:20px;
        margin-left:50px;
        border-top-right-radius: 20px;
        width:180px!important;
      }
    }
  }
  .box-content-detail-doctor{
    border-top-right-radius: 50px;
    background : #fff;
    flex-direction: column;
    box-shadow: none;
  }

  .citas-detail-title-doc{
    @media (min-width: 740px) {
      display: none;
    }
    display: block;
    span{
      font-size:1.1em;
      text-align:center;
      color:#062F51;
      margin-top:10px;
      display: block;
      @media (min-width: 740px) {
        text-align: left;
        font-size: 1em;
      }
    }
    h4{
      width:90%;
      margin-left:5%;
      text-align: center;
      margin-top:10px;
      margin-bottom:10px;
      color: #20668B;
      font-weight: 600;
      span{
        font-size:.9em;
        color:#20668c;
      }
    }
    h3{
      width:100%;
      text-align: left;
      margin-bottom:10px;
      color: #20668B;
      margin-left:20px;
      margin-top:30px;
      font-weight: 600;
      font-size:1em;
    }
  }

  .citas-detail-title-doc-compress{
    @media (min-width: 740px) {
      display: block;
    }
    display: none;
    span{
      font-size:.9em!important;
      text-align:center;
      color:#062F51;
      margin-left:20px;
      margin-top:30px;
      margin-bottom:10px;
      @media (min-width: 740px) {
        text-align: center;
      }
    }
    h3{
      width:100%;
      text-align: left;
      margin-bottom:10px;
      color: #20668B;
      margin-left:20px;
      margin-top:30px;
      font-weight: 600;
      font-size:1em;
    }
    h4{
      width:100%;
      text-align: left;
      margin-bottom:10px;
      color: #20668B;
      margin-left:20px;
      margin-top:30px;
      font-weight: 600;
      font-size:1.6em;
      span{
        font-size:1.2em;
        color:#20668c;
        text-align: left;
      }
    }
  }
  .citas-detail-university-doc{
    p{
      text-align: center;
      color:#a7a9ab;
      width:100%;
      margin-bottom:10px;
      text-align: .9em;
    }
  }
  .fraseDoctor{
    color:#BBBBBB;
    font-size:1.05em;
    text-align: left;
    margin-bottom:20px;
    text-align: justify;
    @media (max-width: 740px) {
      display: none;
    }
  }
  .fraseDoctorMobile{
    color:#BBBBBB;
    font-size:1em;
    text-align: left;
    text-align: center;
    text-align: justify;
  }
  .universityMobile{
    color:#a7a9ab;
    margin-top:10px;
  }
  .doctorDataMobile{
    display: block;
    @media (min-width: 740px) {
      display: none;
    }
  }
  mat-expansion-panel-header{
    background: #20668c;
    color:#fff;
    mat-panel-title{
      color:#fff;
      font-size:.8em;
    }
  }
  .box-orange{
    background: #062F51;
    @media (max-width: 740px) {
      display: none;
    }
  }
  .datosFormación{
    margin-top:50px;
  }
  .blueTitle{
    color:#20668B;
    margin-bottom:10px;
    margin-top:20px;
    font-size:1.2em;
  }
  .sobreMi{
    display: none;
    color:#20668B;
    margin-top: 80px;
    margin-bottom: 10px;
    font-size:1.2em;
    text-align: justify;
    @media (min-width: 740px) {
      display: block;
      margin-top:80px;
    }
  }
  .sobreMiMobile{
    color:#20668B;
    margin-bottom: 10px;
    font-size:1.2em;
    margin-top: 20px;
    text-align: justify;
    @media (min-width: 740px) {
      display: none;
    }
  }
  li{
    color:#BBBBBB;
    margin-bottom:10px;
  }
  .datosFormacion{
    display: none;
    @media (min-width: 740px) {
      display: block;
      margin-top:80px;
    }
  }
  .citas-detail-university-doc{
    @media (min-width: 740px) {
      margin-top:80px;
    }
  }
  .red{
    color:#FFB037!important;
  }
  .box-info-citas-details-img-more{
    img{
      width: 120px;
      border-radius:50%;
    }
  }
  .box-info-citas-details-more{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .left{
    text-align: left;
    margin-left:0px;
    span{
      text-align: left;
    }
  }
  .grey{
    color:#a7a9ab;
    margin-left:10px;
  }
  .colorGrey{
    color:#BBBBBB;
    font-size:1.1em;
    width:90%;
  }
  .textoNoData{
    text-align: center;
    margin-top: 200px;
    color:#062F51;
    font-weight: 600;
    font-size:1.4em;
    margin-left:50px;
    @media (max-width: 740px) {
      display: none;
    }
  }