.card {
    background-color: #fff;
    height: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.containerRecipes {
    margin-top: 20px;
    margin-bottom: 50px;
}

.containerRecipes {
    margin-top: 50px;
    margin-bottom: 50px;
}

.nombreDoctor {
    padding-top: 20px !important;
    font-weight: 200;
    font-size: .8em;
    width: 70%;

    @media (min-width: 720px) {
        font-size: 1.1em;
    }
}

.grey {
    margin-top: 20px;
    background: #ededed;
    border-top-right-radius: 20px;
}

.tituloReceta {
    color: #fff;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.3em;
    text-transform: uppercase;
}

.doctor {
    font-size: 1em;
    padding-bottom: 20px;
}

.dia {
    font-weight: 600;
    font-size: 1.1em;
    text-align: center;
    margin-top: 15px;
}

.diaReceta {
    font-size: 1.3em;
    font-weight: 400;
    color: #20668c;
}

.mesReceta {
    text-align: center;
    font-size: .8em;
    color: #20668c;
}

.especialidad {
    font-size: .9em;
    width: 70%;
    color: #20668c;
    margin-top: 5px;
    margin-bottom: 10px;
    text-transform: lowercase;

    span {
        font-size: 1em;
        font-weight: 400;
        text-transform: none;
    }

    @media (min-width: 720px) {
        font-size: 1.1em;
    }
}

.containerMedicine {
    margin-bottom: 30px !important;
}

.marcaComercial,
.marcaGenerica {
    font-weight: 600;
    font-size: .8em;
    color: #20668c;
    margin-bottom: 5px;

    @media (min-width: 720px) {
        font-size: 1em;
    }
}

.marcaComercial {
    margin-top: 20px;
}

.mat-expansion-panel-body {
    padding-left: 0 !important;
}

.containerIndicaciones {
    /* background: #f5f5f5; */
    border-top-right-radius: 20px;
    padding-bottom: 50px;
    margin-bottom: 20px;
}

.medicina {
    color: #062F51;
    font-size: .9em;
    width: 90% !important;
    margin-bottom: 20px;

    @media (min-width: 720px) {
        font-size: 1em;
    }
}

.distribucion {
    color: #20668c;
    font-size: 1em;
    margin-top: 10px;
    font-weight: 600;
    text-align: left;
}

.ultimo {
    padding-bottom: 20px;
}

.datosReceta {
    text-align: center;
    text-align: left;
    margin-bottom: 30px;
}

.card-recipe {
    margin-bottom: 190px;
    margin-top: 70px;
}


.containerDataConsumo {
    margin-bottom: 30px !important;
    width: 100%;
}

mat-expansion-panel {
    margin-bottom: 20px;
    height: auto;
}

mat-expansion-panel-header {
    height: 90px !important;
}

mat-panel-title {
    color: #062F51;
    margin-bottom: 20px;
}

.mat-tab-group {
    margin-bottom: 20px !important;
}

.mat-tab-label-container {
    background-color: #fff !important;
    margin-bottom: 10px !important;
}

.mat-tab-label {
    background: #fff !important;
}

.tituloCitasFamiliares {
    color: #fff;
    margin-top: 10px;
    text-align: center;
}