<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-lg-6 containerRecipes">
      <h3 class="tituloReceta">Recetas consulta presencial</h3>
      <mat-accordion>
        <mat-expansion-panel *ngFor="let receta of recipesPrincipal">
          <mat-expansion-panel-header>
            <div class="col-2 dia">
              <div class="col-12">
                <p class="diaReceta">{{receta.prescripciones[0].fecha_encuentro | date:'dd'}}</p>
              </div>
              <div class="col-12">
                <p class="mesReceta">{{receta.prescripciones[0].fecha_encuentro | date:'MMMM'}}</p>
              </div>
            </div>
            <div class="col-10">
              <div class="nombreDoctor">
                <div class="col-12">
                  {{receta.prescripciones[0].nombre_personal}}
                  {{receta.prescripciones[0].apellidop_personal}}
                  {{receta.prescripciones[0].apellidom_personal}}
                </div>
              </div>
              <div class="col-12 especialidad">
                {{receta.prescripciones[0].servicio}}
              </div>
            </div>
          </mat-expansion-panel-header>
          <div class="card card-recipe" *ngFor="let r of receta.prescripciones">
            <div class="containerMedicine">
              <div class="row grey">
                <div class="col-12 ">
                  <p class="marcaComercial">
                    Marca Comercial
                  </p>
                  <p class="medicina">{{r.marca_comercial}}</p>
                </div>
                <div class="col-12">
                  <p class="marcaGenerica">
                    Marca Generica
                  </p>
                  <p class="medicina">{{r.nombre_generico}}</p>
                </div>
              </div>
              <div class="container-fluid">
                <div class="row containerIndicaciones">
                  <div class="col-2">
                    <div class="col-12">
                      <p class="distribucion"> Cantidad </p>
                    </div>
                    <div class="col-12">
                      <p class="datosReceta"> {{r.cantidad_dosis}} {{r.unidad_desc_corta}} </p>
                    </div>
                  </div>
                  <div class="col-2">
                    <div class="col-12">
                      <p class="distribucion">Cada</p>
                    </div>
                    <div class="col-12">
                      <p class="datosReceta">{{r.cada_x_horas}} horas </p>
                    </div>
                  </div>
                  <div class="col-2">
                    <div class="row">
                      <div class="col-12">
                        <p class="distribucion">Tomar por</p>
                      </div>
                      <div class="col-12">
                        <p class="datosReceta">{{r.dias_duracion_prescripcion}} días </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-2">
                    <div class="row">
                      <div class="col-12">
                        <p class="distribucion"> Total </p>
                      </div>
                      <div class="col-12">
                        <p class="datosReceta">{{r.cantidad_dispensar}}</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 ultimo">
                    <div class="row">
                      <div class="col-12">
                        <p class="distribucion"> Nota: </p>
                      </div>
                      <div class="col-12">
                        <p class="datosReceta">{{r.notas}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div class="col-sm-12 col-lg-6 containerRecipes">
      <h3 class="tituloReceta">Recetas teleconsulta</h3>
      <div>
        <mat-tab-group class="teleTabs">
          <mat-tab label="Consultas Principal">
            <mat-accordion>
              <mat-expansion-panel *ngFor="let r of recipesTele">
                <mat-expansion-panel-header>
                  <div class="col-2 dia">
                    <div class="col-12">
                      <p class="diaReceta">{{r.newConsulta.date | date:'dd'}}</p>
                    </div>
                    <div class="col-12">
                      <p class="mesReceta">{{r.newConsulta.date | date:'MMMM'}}</p>
                    </div>
                  </div>
                  <div class="col-10">
                    <div class="nombreDoctor">
                      <div class="col-12">
                        {{r.newConsulta.diagnostico}}
                      </div>
                    </div>
                  </div>
                </mat-expansion-panel-header>
                <div class="card card-recipe" *ngFor="let recipe of r.newConsulta.prescription">
                  <div class="containerMedicine" *ngIf="r.newConsulta.prescription.length > 0">
                    <div class="row grey">
                      <div class="col-12 ">
                        <p class="marcaComercial">
                          Marca Comercial
                        </p>
                        <p class="medicina">{{recipe.principioActivo}}</p>
                      </div>
                      <div class="col-12">
                        <p class="marcaGenerica">
                          Marca Generica
                        </p>
                        <p class="medicina">{{recipe.productoSugerido}}</p>
                      </div>
                    </div>
                    <div class="container-fluid">
                      <div class="row containerIndicaciones">
                        <div class="col-2">
                          <div class="col-12">
                            <p class="distribucion"> Cantidad </p>
                          </div>
                          <div class="col-12">
                            <p class="datosReceta"> {{recipe.indicacionesDosis}}
                          </div>
                        </div>
                        <div class="col-2">
                          <div class="col-12">
                            <p class="distribucion">Cada</p>
                          </div>
                          <div class="col-12">
                            <p class="datosReceta">{{recipe.frecuencia}} horas </p>
                          </div>
                        </div>
                        <div class="col-2">
                          <div class="row">
                            <div class="col-12">
                              <p class="distribucion">Tomar por</p>
                            </div>
                            <div class="col-12">
                              <p class="datosReceta">{{recipe.indicacionesTiempo}} días </p>
                            </div>
                          </div>
                        </div>
                        <div class="col-2">
                          <div class="row">
                            <div class="col-12">
                              <p class="distribucion"> Total </p>
                            </div>
                            <div class="col-12">
                              <p class="datosReceta">{{recipe.cantidad}}</p>
                            </div>
                          </div>
                        </div>
                        <div class="col-12 ultimo">
                          <div class="row">
                            <div class="col-12">
                              <p class="distribucion"> Nota: </p>
                            </div>
                            <div class="col-12">
                              <p class="datosReceta">{{recipe.indicacionesNota}}</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
          </mat-tab>
          <mat-tab label="Consultas dependientes">
            <mat-accordion *ngFor="let red of consultasParent">
              <mat-expansion-panel *ngFor="let r of red">
                <mat-expansion-panel-header>
                  <div class="col-2 dia">
                    <div class="col-12">
                      <p class="diaReceta">{{r.newConsulta.date | date:'dd'}}</p>
                    </div>
                    <div class="col-12">
                      <p class="mesReceta">{{r.newConsulta.date | date:'MMMM'}}</p>
                    </div>
                  </div>
                  <div class="col-10">
                    <div class="nombreDoctor">
                      <div class="col-12">
                        {{r.newConsulta.diagnostico}}
                      </div>
                    </div>
                  </div>
                </mat-expansion-panel-header>
                <div class="card card-recipe" *ngFor="let recipe of r.newConsulta.prescription">
                  <div class="containerMedicine" *ngIf="r.newConsulta.prescription">
                    <div class="row grey">
                      <div class="col-12 ">
                        <p class="marcaComercial">
                          Marca Comercial
                        </p>
                        <p class="medicina">{{recipe.principioActivo}}</p>
                      </div>
                      <div class="col-12">
                        <p class="marcaGenerica">
                          Marca Generica
                        </p>
                        <p class="medicina">{{recipe.productoSugerido}}</p>
                      </div>
                    </div>
                    <div class="container-fluid">
                      <div class="row containerIndicaciones">
                        <div class="col-2">
                          <div class="col-12">
                            <p class="distribucion"> Cantidad </p>
                          </div>
                          <div class="col-12">
                            <p class="datosReceta"> {{recipe.indicacionesDosis}} {{recipe.unidad_desc_corta}} </p>
                          </div>
                        </div>
                        <div class="col-2">
                          <div class="col-12">
                            <p class="distribucion">Cada</p>
                          </div>
                          <div class="col-12">
                            <p class="datosReceta">{{recipe.indicacionesNota}} horas </p>
                          </div>
                        </div>
                        <div class="col-2">
                          <div class="row">
                            <div class="col-12">
                              <p class="distribucion">Tomar por</p>
                            </div>
                            <div class="col-12">
                              <p class="datosReceta">{{recipe.dias_duracion_prescripcion}} días </p>
                            </div>
                          </div>
                        </div>
                        <div class="col-2">
                          <div class="row">
                            <div class="col-12">
                              <p class="distribucion"> Total </p>
                            </div>
                            <div class="col-12">
                              <p class="datosReceta">{{recipe.cantidad}}</p>
                            </div>
                          </div>
                        </div>
                        <div class="col-12 ultimo">
                          <div class="row">
                            <div class="col-12">
                              <p class="distribucion"> Nota: </p>
                            </div>
                            <div class="col-12">
                              <p class="datosReceta">{{recipe.indicacionesNota}}</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>

</div>