<div class="box-container-loging">
  <div class="close" (click)="onClickNo()"></div>
  <div class="box-popup-login">
    <div class="modal box-login">
      <div class="box-content-login">
        <h5 class="citaSinAnular">
          ESTA CITA NO PUEDE CANCELARSE POR HABERSE SEPARADO PARA TELECONSULTA, PARA MÁS DETALLES COMUNICATE CON
          NOSOTROS AL NÚMERO: (01) 715 4600</h5>
        <button mat-raised-button color="primary m-b-10" (click)="onClickNo()">Entiendo</button>
      </div>
    </div>

  </div>



</div>