<div class="waiting-container">
  <div class="row">
    <div class="col-lg-5 containerTextoEspera">
      <div class="row">
        <div class="col-lg-12">
          <h1>En Espera...</h1>
        </div>
        <div class="col-lg-12">
          <p>El doctor <b>{{dataDoctor.professionalFullName}}</b> estará contigo en breves momentos</p>
        </div>
      </div>
    </div>
    <div
      style="background-image:url({{SERVERImage}}{{dataDoctor.professionalId}}.png); background-repeat: no-repeat; background-size:cover; height: 100vh; width: 100%;"
      (error)="errorHandler($event)" class="col-lg-7 col-lg-12">
    </div>
  </div>
</div>