.local {
    position: fixed;
    right: 2rem;
    top: 4rem;
    width: 20vw;
    height: 20vh;
    border-radius: 5px;
    overflow: hidden;
    z-index: 1;

    @media (min-width: 720px) {
        border-top: 12px solid #FB6D54;
        position: none;
        top: 0px;
        right: 0;
        width: 40vw;
        margin-top: 10vh;
        height: 100vh;
    }
}

.remote {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100vw;
    height: 93vh;
    margin-top: 7vh;

    @media (min-width: 720px) {
        border-top: 12px solid #2B758D;
        position: none;
        width: 60vw;
        padding: 0;
        margin: 0;
        margin-top: 10vh;
        height: 100vh;
    }
}

.header-md:after {
    background-image: none;
}

.containerBotoms {
    z-index: 5;
    position: fixed;
    bottom: 30px;
    width: 100%;

    .NombreDoctor {
        margin-bottom: 10px;
        font-size: 1.1em;
        text-transform: uppercase;
        margin-left: 16px;
        font-weight: 600;
        color: rgba(255, 255, 255, 0.5);
    }

    .DoctorTitle {
        color: rgba(255, 255, 255, 0.5);
        margin-left: 16px;
        font-size: 1.1em;
        font-weight: 200;
        text-transform: lowercase;
    }

    .horaInicio {
        color: rgba(255, 255, 255, 0.5);
        margin-top: 5px;
        font-size: 1.2em;
        margin-left: 16px;
        font-weight: 400;
    }
}

.botonClose {
    background: rgba(255, 0, 0, 0.7);
    color: #fff;
    width: 50px;
    height: 50px;
    margin-left: calc(50% - 25px);
    border-radius: 50%;

    @media (min-width: 720px) {
        text-align: center;
    }
}