@font-face
    font-family: avenirLtStd
    src: url('/fonts/AvenirLTStd-Book.ttf') format('truetype')
    font-display: swap


@font-face
    font-family: avenirLt95Bold
    src: url('/fonts/Avenir-LT-Std-85-Heavy_5177.ttf') format('truetype')
    font-display: swap

.box-content-step1
    background-color: #E6E6E4
    padding-bottom: 70px
    margin-bottom: -50px
    select
        font-size: 15px
        font-family: avenirLtStd
    .preloader
        margin: auto
    @media (min-width:500px)
        height: calc(100vh - 71px)
        min-height: 800px
    .box-content-login
        @media (min-width:500px)
            display: grid
            grid-template-columns: 1fr 1fr 1fr
            grid-row-gap: 13px
            width: 100%
            max-width: 716px
            grid-row: 18px
            grid-column-gap: 13px
            margin: auto
        .box-input
            margin: 0
    .box-content-select
        width: 100%
        max-width: 716px
        margin: 13px auto
        .box-input
            max-width: 100%
            margin: auto
            @media (min-width:500px)
                max-width: 230px
        p
            font-family: avenirLtStd
            color: #0E4B6C
            font-size: 18px
            margin: 0px 0 16px
            @media (min-width:500px)
                margin: 35px 0 23px
    .box-checkbox
        width: 100%
        max-width: 716px
        margin: 13px auto
        display: flex
        justify-content: center
        align-items: center
        margin: 41px auto 4px
        h6
            margin-top: 3px
            margin-left: 18px
            font-size: 15px
            color: #0E4B6C
            a
                font-family: avenirLt95Bold
                font-size: 16px
                border-bottom: 0

    .box-content
        border-radius: 0 0 80px
        margin-bottom: 51px
        background-image: url('/assets/images-landing/cita_fondo_mobile.jpg')
        background-position: top
        background-size: cover
        padding: 38px 0px
        @media (min-width:500px)
            background-image: url('/assets/images-landing/cita_fondo.jpg')
            height: 300px
            padding: 0
    .box-main
        height: 100%
        width: 80%
        text-align: center
        color: white
        margin: auto
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        h1
            font-size: 24px
            font-weight: bold
            line-height: 1.3
            font-family: avenirLt95Bold
            margin-bottom: 10px
            max-width: 245px
            @media (min-width:500px)
                max-width: initial
                font-size: 45px
                max-width: 900px
        p
            font-size: 15px
            line-height: 18px
            max-width: 245px
            @media (min-width:500px)
                max-width: initial
                font-size: 36px
                line-height: 1.3
        span
            font-size: 14px
            font-family: avenirLtStd
            margin-top: 42px
    .mat-dialog-container
        background-color: transparent
        .modal
            @media (min-width:500px)
                text-align: center
            input
                font-family: avenirLtStd !important
            .box-input
                background-color: white
                margin-bottom: 13px 
                @media (min-width:500px)
                    margin-bottom: 0