<div class="box-content-step1">
  <div class="box-content">
      <div class="box-main">
          <h1>Déjanos tus datos y recibe tu primera consulta médica por S/ 30*</h1>
          <p>en cualquiera de nuestras especialidades.</p>
          <!-- <p>Ahora, solo necesitamos estos datos para calcular el precio de tu plan:</p> -->
          <span>* Válido para citas hasta el 15 de diciembre</span>
      </div>
  </div>

  <div class="container-fluid">
      <div class="row">
          <div class="col-12">
              <div style="border-radius: 0 !important;box-shadow: none !important;" class="mat-dialog-container">
                  <div class="modal box-login">
                    <!-- BOX FORM -->
                    <div class="box-content-login">
                      <!-- BOX NAME -->
                      <div
                        class="box-input"
                        [ngClass]="{
                          'box-input-load': loaderSession
                        }"
                      >
                        <input
                          [disabled]="loaderSession"
                          autocomplete="off"
                          type="text"
                          [(ngModel)]="name"
                          (keyup)="onkeyValidateString(name)"
                          (blur)="blurValidateString(name)"
                          placeholder="Nombres"
                        />
                        <div
                          *ngIf="nameReadyValidate"
                          [ngClass]="{ 'icon2 check': nameValidate, 'icon error': !nameValidate }"
                        ></div>
                      </div>

                      <!-- BOX LASTNAME PATERNO -->
                      <div
                      class="box-input"
                      [ngClass]="{
                        'box-input-load': loaderSession
                      }"
                    >
                    
                      <input
                        [disabled]="loaderSession"
                        autocomplete="off"
                        type="text"
                        [(ngModel)]="lastName"
                        (keyup)="onkeyValidateString(lastName)"
                        (blur)="blurValidateString(lastName)"
                        placeholder="Apellido paterno"
                      />
                      <div
                        *ngIf="lastNameReadyValidate"
                        [ngClass]="{
                          'icon2 check': lastNameValidate,
                          'icon error': !lastNameValidate
                        }"
                      ></div>
                    </div>
                     <!-- APELLIDO MATERNO -->
                     <div
                     class="box-input"
                     [ngClass]="{
                       'box-input-load': loaderSession
                     }"
                   >
                   
                     <input
                       [disabled]="loaderSession"
                       autocomplete="off"
                       type="text"
                       [(ngModel)]="lastName2"
                       (keyup)="onkeyValidateString(lastName2)"
                       (blur)="blurValidateString(lastName2)"
                       placeholder="Apellido materno"
                     />
                     <div
                       *ngIf="lastNameReadyValidate2"
                       [ngClass]="{
                         'icon2 check': lastNameValidate2,
                         'icon error': !lastNameValidate2
                       }"
                     ></div>
                   </div>
                    <!-- DOCUMENT NUMBER -->
                    <div 
                    class="box-input"
                    [ngClass]="{
                    'box-input-load': loaderSession
                    }"
                    >
                
                    <input
                    maxlength="8"
                    [disabled]="loaderSession"
                    autocomplete="off"
                    type="tel"
                    [(ngModel)]="documentNumber"
                    (keyup)="onkeyValidateString(documentNumber)"
                    (blur)="blurValidateString(documentNumber)"
                    placeholder="DNI"
                    />
                    <div
                    *ngIf="documentReadyValidate"
                    [ngClass]="{
                      'icon2 check': documentValidate,
                      'icon error': !documentValidate
                    }"
                    ></div>
                    </div>

                   <!-- EMAIL -->
                   <div
                   class="box-input"
                   [ngClass]="{
                     'box-input-load': loaderSession,
                     'box-input-error': mailInvalid
                   }"
                 >
                   <input
                     [disabled]="loaderSession"
                     autocomplete="off"
                     type="text"
                     [(ngModel)]="email"
                     (keyup)="onkeyValidateString(email)"
                     (blur)="blurValidateString(email)"
                     placeholder="Correo electrónico"
                   />
                   <span *ngIf="mailInvalid" class="notifiValidate"
                     >Este correo no cumple con el formato requerido</span
                   >
                   <div
                     *ngIf="emailReadyValidate"
                     [ngClass]="{
                       'icon2 check': emailValidate,
                       'icon error': !emailValidate
                     }"
                   ></div>
                 </div>

                   <!-- PHONE -->
                  <div
                  class="box-input"
                  [ngClass]="{
                  'box-input-load': loaderSession
                  }"
                  >
                  <input
                  maxlength="9"
                  [disabled]="loaderSession"
                  autocomplete="off"
                  type="tel"
                  [(ngModel)]="phoneNumber"
                  (keyup)="onkeyValidateString(phoneNumber)"
                  (blur)="blurValidateString(phoneNumber)"
                  placeholder="Teléfono"
                  />
                  <div
                  *ngIf="phoneReadyValidate"
                  [ngClass]="{
                    'icon2 check': phoneValidate,
                    'icon error': !phoneValidate
                  }"
                  ></div>
                  </div>
                  




                    </div>

                    <div class="box-content-select">
                          <!-- BOX ESPECIALIDAD -->
                      <p>Selecciona la especialidad de tu interés</p>
                     <div
                     class="box-input"
                     [ngClass]="{
                       'box-input-load': loaderSession
                     }"
                   >
                     <select
                     [disabled]="loaderSession"
                     [(ngModel)]="sexo"
                     (change)="selecGender($event)"
                     >
                       <option value="Seleccionar">Seleccionar</option>
                       <!-- <option *ngFor="let item of gendersService; let i = index" value="{{item.id}}">{{item.name}}</option> -->
                       <option *ngFor="let item of dataSpecialty" value="{{ item.id }}">{{
                       item.title
                       }}</option>
                     </select>
                   </div>


                  
                    </div>
  <!-- TERMINOS Y CONDICIONES -->
  <div class="box-checkbox">
      <mat-checkbox [(ngModel)]="checked" color="primary"></mat-checkbox>
      <h6>Acepto los <a id="ir_terminos_y_condiciones" [routerLink]="[ '/promo-primera-cita/terminos-y-condiciones']" target="_blank">términos y condiciones</a></h6>
    </div>
                  <br>
                    <button
                      (click)="redirectTo()"
                      [disabled]="validateAllInputs()"
                      *ngIf="!loaderSession"
                      mat-raised-button
                      color="primary"
                      
                      id="ir_gracias"
                    >
                      ENVIAR
                    </button>
                    <div *ngIf="loaderSession" class="preloader">
                      <mat-progress-spinner [color]="color" [mode]="mode" [diameter]="30">
                      </mat-progress-spinner>
                    </div>
                  </div>
                  </div>
          </div>
        </div>
  </div>
</div>
