<section class="content-box-info container-fluid">
  <div class="row">

    <div class="col-12 col-lg-2 padding">
      <div class="box-header">
        <p><span class="main-letter">Hola,</span> <br>en base al motivo de tu consulta, <span class="strong">escoge el
            servicio donde deseas ser atendido</span></p>
        <div class="vector-orange">
          <div class="circle"></div>
        </div>
        <div class="vector-orange-horizontal">
          <div class="circle"></div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-10">
      <div class="cont-box">
        <div class="row">
          <div class="col-12 col-lg-12">
            <div class="box-cura boxes">
              <div class="box-content-cura">
                <img src="assets/img/sacar-cita/avivacura_logo.svg" width="165" height="36" alt="">
                <p>Atendemos tus <span class="strong-text">problemas de salud y urgencias</span> con médicos
                  especialistas,
                  de una manera integral y eficiente.
                </p>
                <!-- <a [routerLink]="['/reservas/avivacura']"><button>ELEGIR</button></a> -->
                <a [routerLink]="['/reservas/avivacura']" id="a-paso1-Ir_Aviva_Cuida_Paso1"><button>ELEGIR</button></a>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-12">
            <div class="box-cuida boxes">
              <div class="box-content-cuida">
                <img src="assets/img/sacar-cita/avivacuida_logo.svg" width="165" height="33" alt="">
                <p>Realizamos <span class="strong-text">controles y chequeos preventivos</span> en un ambiente especial
                  cuando estás sano y te quieres mantener así.</p>
                <a [routerLink]="['/reservas/avivacuida']" id="a-paso1-Ir_Aviva_Cura_Paso1"><button>ELEGIR</button></a>
              </div>
            </div>
          </div>
      <!--     <div class="col-12 col-lg-12">
            <div class="box-tele boxes">
              <div class="box-content-tele">
                <img src="assets/img/reservas/avivatele.png" alt="">
                <p>Atendemos <span class="strong-text">Vía consulta virtual</span> desde la comodidad de tu hogar,
                  además recibirás tu receta y tratamiento automaticamente.</p>
                <a [routerLink]="['/reservas/avivatele']" id="a-paso1-Ir_Aviva_Tele_Paso1"><button>ELEGIR</button></a>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>

  </div>

</section>