<div class="mis-datos-container">
  <div style="justify-content: left;" class="box-header">
    <p>
      <span *ngIf="show" class="main-letter">{{user}}</span><br />
      Revisa tus datos
    </p>
    <div class="vector-orange"><div class="circle"></div></div>
    <div class="vector-orange-horizontal"><div class="circle"></div></div>
  </div>
  <div class="box-info-data-container" *ngIf="!preloader">
    <div class="box-info-data">
      <div class="box-info-data-item">
        <p>Nombres:</p>
        <p>{{data.nombre}}</p>
      </div>
      <div class="box-info-data-item">
        <p>Apellidos:</p>
        <p>{{data.apellido1 }}  {{data.apellido2}}</p>
      </div>
      <div class="box-info-data-item">
        <p>Sexo:</p>
        <p>{{data.sexo}}</p>
      </div>
      <div class="box-info-data-item">
        <p>Nro. de documento:</p>
        <p>{{data.numeroDocumento ? data.numeroDocumento : '--'}}</p>
      </div>
      <div class="box-info-data-item">
        <p>Fecha de nacimiento:</p>
        <p>{{data.fecha_nac}}</p>
      </div>
      <div class="box-info-data-item">
        <p>Teléfono:</p>
        <p>{{data.telefono1}}</p>
      </div>
      <div class="box-info-data-item">
        <p>Correo:</p>
        <p>{{data.email ? data.email : '--'}}</p>
      </div>
      <!-- <div class="box-info-data-item">
        <p>Tipo de seguro:</p>
        <p>{{data.seguro ? data.seguro : '--'}}</p>
      </div> -->
    </div>

    <div style="text-align: center" class="button-back">
        <a [routerLink]="[ '/']">
          <img src="assets/img/sacar-cita/back-page.svg" width="45" height="45" alt="">
        </a>
        </div>
  </div>
  <div style="margin: auto;
  margin-top: 82px;" class="preloader" *ngIf="preloader">
      <mat-progress-spinner
      [color]="color"
      [mode]="mode" [diameter]="70">
      </mat-progress-spinner>
      <br>
      <br>
      <p class="text-small">Estamos cargando tus datos</p>
  </div>
</div>
