<section class="box-register aviva-cuida-section content-box-info container-fluid">
    <div class="row">
      <div class="col-12 col-lg-4 padding">
        <div class="box-header">
        <!-- <p><span class="main-letter">Hola,</span> <br>en base al motivo de tu consulta, <span class="strong">escoge el servicio donde deseas ser atendido</span></p> -->
        <p>Para reservar una cita, necesitamos que ingreses a tu cuenta o crees una nueva</p>
        <div class="vector-orange">
          <div class="circle"></div>
        </div>
        <div class="vector-orange-horizontal">
          <div class="circle"></div>
        </div>
        </div>
      </div>
  
    <div class="col-12 col-lg-7 offset-lg-1">
      <section class="box-register content-box-info">
        <div class="box-specialty">
          <h2>ELIGE A UNA OPCIÓN</h2>
          <p class="badge-elige-opcion">Ya elegiste la fecha y hora, ahora debes:</p>
  
        </div>
        <div class="container-boxes">
          <a><button (click)="openRegister()" id="button-aviva_cura_paso4_Crear_Cuenta" mat-raised-button color="primary">CREAR CUENTA</button></a>
          <a><button (click)="openLogin()" id="button-aviva_cura_paso4_Ingresar_Cuenta" mat-raised-button color="primary">INGRESAR A MI CUENTA</button></a>
        </div>
      </section>
    </div>
    </div>
  </section>
  
