<div class="mis-citas-container">
  <div class="box-header">
    <p>
      <span *ngIf="isUser()" class="main-letter">{{user}}</span><br />
      Revisa o cancela tus próximas citas
    </p>
    <div class="vector-orange">
      <div class="circle"></div>
    </div>
    <div class="vector-orange-horizontal">
      <div class="circle"></div>
    </div>
  </div>
  <div class="box-info-data-container tabs-content-mis-citas">
    <div *ngIf="!preloader">
      <div class="tab-planes-programas">
        <div style="cursor: initial" class="tab-pyp tab-pyp-active">
          <img src="assets/svg/citas.svg" alt="Próximas citas" />
          <p>Próximas citas</p>
        </div>
        <!--      <div class="tab-pyp">
          <img src="assets/svg/citas_pasadas.svg" alt="Citas pasadas" />
          <p>Citas Pasadas</p>
        </div> -->
      </div>

      <div *ngIf="orderLetrasMain.length === 0 && citasDependientes.length === 0" style="padding: 20px; color: #a0a0a0;
                  font-size: 18px;text-align: center;" class="tab-content-pyp">
        <p>Aún no tienes citas reservadas</p>
      </div>

      <div *ngFor="let item of orderLetrasMain" class="tab-content-pyp">
        <div class="tab-content-title-citas">
          <h4>{{item}}</h4>
        </div>

        <div *ngFor="let items of orderInfo[item]">
          <div *ngFor="let item of items" class="tab-content-item-citas">
            <div (click)="goToCitaDetail(item)" class="tab-item-citas" id="{{item.appointmentId}}">
              <div class="item-citas-img">
                <img [src]="urlBase + '/api/v2/ebooking/professionals/' + item.professionalId + '/image-url'"
                  alt="user" />
              </div>
              <div class="item-citas-info">
                <div class="item-citas-info-especialista">
                  <p>Especialista:</p>
                  <p>
                    Dr(a). {{item.professionalName}} {{item.professionalLastName1}} {{item.professionalLastName2}}
                  </p>
                  <p>
                    {{item.centerName}}
                  </p>
                </div>
                <div class="item-citas-hora">
                  <p>Hora:</p>
                  <p>{{item.hour}}</p>
                </div>
              </div>
              <div class="item-citas-icon">
                <span></span>
              </div>
            </div>
          </div>
        
        </div>


      </div>
      <div *ngFor="let items of citasDependientes" class="tab-content-pyp">
        <div class="tab-content-title-citas">
          <h4>Citas Familiares</h4>
        </div>
        <h3>{{items.user.name}}</h3>
        <div *ngFor="let item of items.appointments" class="tab-item-citas">
          <!-- [routerLink]="[ '/mis-citas/detalles', item.appointmentId]" -->
          <div (click)="goToCitaDetailParent(item)" class="tab-item-citas" id="{{item.appointmentId}}">
            <div class="item-citas-img">
              <img [src]="urlBase + '/api/v2/ebooking/professionals/' + item.professionalId + '/image-url'"
                alt="user" />
            </div>
            <div class="item-citas-info">
              <div class="item-citas-info-especialista">
                <p>Especialista:</p>
                <p>
                  Dr(a). {{item.professionalName}} {{item.professionalLastName1}} {{item.professionalLastName2}}
                </p>
                <p>
                  {{item.centerName}}
                </p>
              </div>
              <div class="item-citas-hora">
                <p>Hora:</p>
                <p>{{item.appointmentDateTime | date:'shortTime'}}</p>
              </div>
            </div>
            <div class="item-citas-icon">
              <span></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="    margin: auto;
          margin-top: 82px;" class="preloader" *ngIf="preloader">
      <mat-progress-spinner [color]="color" [mode]="mode" [diameter]="70">
      </mat-progress-spinner>
      <br>
      <br>
      <p class="text-small">Estamos cargando la lista de citas</p>
    </div>
  </div>
  <!--   <mat-tab-group animationDuration="0ms">
    <mat-tab label="First">Content 1</mat-tab>
    <mat-tab label="Second">Content 2</mat-tab>
    <mat-tab label="Third">Content 3</mat-tab>
  </mat-tab-group> -->

</div>