<section class="aviva-cuida-section content-box-info container-fluid">
  <div class="row">
    <div class="col-12 col-lg-4 padding">
      <div class="box-seguro box-header">
        <!-- <p><span class="main-letter">Hola,</span> <br>en base al motivo de tu consulta, <span class="strong">escoge el servicio donde deseas ser atendido</span></p> -->
        <p>Bienvenido(a)</p>
        <div *ngIf="isUser()"><span class="main">{{user}}</span></div>
        <div class="vector-orange">
          <div class="circle"></div>
        </div>
        <div class="vector-orange-horizontal">
          <div class="circle"></div>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-7 offset-lg-1">
      <section *ngIf="!preloader" class="content-box-info box-doctor box-seguro">
        <div class="box-specialty">
          <!-- <h2>¿COMO QUIERES PAGAR?</h2> -->
          <br>
          <!-- <div class="container-boxes-seguro">
            <button mat-raised-button color="primary" (click)="changeState()">SI <div *ngIf="showBoxRadio" class="ico-si"></div></button>
            <button [routerLink]="[ '/reservas/pago' ]" mat-raised-button color="primary">NO</button>
          </div> -->
        </div>
        <div class="box-info-extra">
          <div class="box-info-extra-title">
            <!-- <h4>¿QUÉ TIPO DE SEGURO?</h4> -->
            <h4>¿COMO QUIERES PAGAR?</h4>
          </div>
          <section class="example-section">
            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
              [(ngModel)]="favoriteSeason">
              <div class="box-radio">
                <mat-radio-button *ngFor="let season of financerInter" id="{{'metodo-pago-'+season.trackingId}}"
                  color="primary" (change)="select(season, season.precio[0].total, season.precio, season.plan_pk)">
                  {{ season.plan_desc }}
                </mat-radio-button>
                <mat-radio-button *ngFor="let season of financerExter" id="{{'metodo-pago-'+season.trackingId}}"
                  color="primary" (change)="select(season, season.precio[0].total, season.precio, season.plan_pk)">
                  {{season.Financiador}}
                </mat-radio-button>
              </div>
            </mat-radio-group>


          </section>
        </div>
        <div (click)="backLink()" class="button-back">
          <img src="assets/img/sacar-cita/back-page.svg" width="45" height="45" alt="">
        </div>
      </section>
      <div class="preloader" *ngIf="preloader">
        <mat-progress-spinner [color]="color" [mode]="mode" [diameter]="70">
        </mat-progress-spinner>
        <br>
        <br>
        <p class="text-small">Cargando formas de pago</p>
      </div>
    </div>
  </div>
</section>