.main-home{
	background-color: #20668B;
	// @media (min-width: 500px) {
		
	// 	background-color: #347699;
	//   }
}

.section-two{
	font-size: 30px;
	background-color: #20668B;
	font-family: $avenir-Bold;
	.content{
		background-color: #20668B;
		background-size: auto;
		background-repeat: no-repeat;
		background-position: top left;
		@media (max-width:700px){
			background-image: none;			
		}
		h1{
			text-align: center;
			margin: 26px 0 0px;
			color: $color-white;
			font-size: 23px;
			@media (min-width:700px){
				font-size: 30px;
				
				}
		}
		.box-flyer{
			width: 100%;
			height: 225px;
			
			background-size: cover;
			position: relative;
			box-shadow: 0 0 24px 8px rgba(0,0,0,0.18);
			border-radius: 0 0 80px 0;
			overflow: hidden;
			.box-left{
				position: absolute;
				top: 0;
				bottom: 0;
				margin: auto;
				left: 30px;
				width: 370px;
				display: flex;
				button{
					border-radius: 0 15px 0 0;
					max-width: 254px;
					width: 263px;
					@media (max-width:700px){
					max-width: 100%;
					font-size: 18px;
					width: 100%;
					font-family: $avenir-Bold;
					
					}
				}

				@media (max-width:700px){
					bottom: initial;
					left: 0;
					right: 0;
					margin: auto;
					width: 93%;
					top: 52px;
					display: block;
				
				}

				.content-boxs{
					margin: auto;
					.title{
						color: $color-white;
						.price{
							font-size: 6vw;
							@media (min-width:700px){
								font-size: 24px;
							}
						}

						.text-down{
							font-size: 12vw;
							margin-top: -9px;
							@media (min-width:700px){
								font-size: 51px; 
								margin-top: -9px;
							}
						}
					}

					.title2{
						color: #FFDA9A;
						margin-left: 20px;
						.soles{
							font-size: 11vw;
							@media (min-width:700px){
								font-size: 48px;
							}
						}

						.amount{
							font-size: 20vw;
							@media (min-width:700px){
								font-size: 90px;
							}
						}
						@media (max-width:700px){
							margin-left: 10px;
						}
					}
				}
			}
			@media (max-width:700px){
				height: 459px;
				background-image: url('./assets/home/banner_home_mobile.jpg');
			
			}
		}
		@media (max-width:700px){
			border-radius: 66px 0 0 0;
		
		}
	}

	@media (max-width:700px){
		background-color: #E6E6E4;
	
	}
}

	

