
    .box-reserva-finalizada{
        background-image: url('/../assets/reserva-finalizada/cita_fondo_mobile.jpg');
        @media (min-width:700px) {
            background-image: url('/../assets/reserva-finalizada/cita_fondo.jpg');  
        }
        background-color: $color-blue01;
        background-repeat: no-repeat;
        background-position: top;
        background-size: contain;
    
        height: auto;
        margin-bottom: 17px;
        min-height: 100vh; 
        @media (min-width: 980px){
            padding-left: inherit;
            padding-right: inherit;
      }
        .no-padding{
            padding-left: 0px;
            padding-right: 0px;
            @media (min-width: 980px){
                padding-left: inherit;
                padding-right: inherit;
          }
        }

        ul{
            margin-top: 30px;
            li{
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                padding: 20px 0;
                position: relative;
                &::before{
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 1px;
                    bottom: 0;
                    max-width: 700px;
                    background-color: rgba(255, 255, 255, 0.32);
                }
                &::after{
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 1px;
                    bottom: 1px;
                    max-width: 700px;
                    background-color: rgba(6, 50, 74, 0.9803921568627451);
                }
                .icon{
                    img{
                        margin-top: 7px;
                    }
                }
                .content{
                    margin-left: 15px;
                    line-height: 2;
                    h3{
                        color: $color-orange-aviva;
                        font-family: $avenir-Bold;
                        font-size: 19px;
                    }
                    p{
                        font-family: $avenir-Bold;
                        font-size: 23px;
                        color: $color-white;
                    }
                    img{
                        width: 115px;
                    }

                }
                p{
                    text-align: left;
                    margin: 0; 
                }
            }
        }
        p{
            color: $color-white;
            font-family: $avenir-LT;
            text-align: center;
            margin: 20px 0;
            @media (min-width: 980px){
              text-align: left;
        }
        }
        .social{
            margin-top: 0;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-pack: distribute;
                justify-content: space-around;
            @media (min-width: 980px){
                -webkit-box-pack: flex-start;
                    -ms-flex-pack: flex-start;
                        justify-content: flex-start;
        }
        .whatssap{
            @media (min-width: 980px){
               display: none;
        }
        }
            li{
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                border-bottom: none;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                -webkit-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
                padding: 0 0;
                margin-bottom: 50px;
                &::before{
                    display: none;
                }
                &::after{
                    display: none;
                }
                h5{
                    font-size: 18px;
                    font-family: avenirLt95Bold;
                    color: $color-white;
                    margin-top: 15px;
                }
            }
        }
        .box-content-down{
            background-color: #E6E6E4;
            margin-left: -15px;
            margin-right: -15px;
            margin-bottom: -3px;
            border-radius: 0 50px 0 0;
            overflow: hidden;
            @media (min-width: 980px){
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: horizontal;
                -webkit-box-direction: reverse;
                    -ms-flex-direction: row-reverse;
                        flex-direction: row-reverse;
            }
            .box-header-up{
                img{
                    width: 100%;
                    height: 218px;
                    -o-object-fit: cover;
                       object-fit: cover;
                    @media (min-width: 980px){
                        height: auto;
                 }
                }
            }
            button{
                height: 60px;	width: 300px;
                border-radius: 0 20px 0 0;
                margin: auto;
                text-align: center;
                span{
                    font-size: 19px;
                }
                @media (min-width: 980px){
                    margin: initial;
                }
            }
            .line{
                width: 90%;
                height: 1px;
                background-color: rgba(62, 62, 62, 0.21176470588235294);
                display: inline-block;
                margin: 20px 0;
            }
            p{
                color : $color-blue01;
            }
            h2, h3{
                color : $color-blue01;
                text-align: center;
                font-family: avenirLt95Bold;
                @media (min-width: 980px){
                    text-align: left;
                }
            }
            h2{
                font-size: 23px;
            }
            h3{
                font-size: 24px;
                margin-bottom: 15px;
            }
        }
        .box-info{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            line-height: 1.2;
            
            padding: 30px 0;
            @media (min-width: 980px){
                max-width: 50%;
                max-height: 430px;
                padding: 33px 12px 0 95px;
                -webkit-box-align: flex-start;
                    -ms-flex-align: flex-start;
                        align-items: flex-start;
                .before, .before-2{
                    position: relative;
                    &::before{
                        content: "";
                        position: absolute;
                        width: 12px;
                        height: 12px;
                        background-color: $color-orange-aviva;
                        top: 0;
                        border-radius: 100px;
                       top: 6px;
                       left: -61px;
                    }
       
                }
                .before{
                    &::after{
                       content: "";
                       position: absolute;
                       height: 45px;
                       width: 1px;
                       background-color: $color-orange-aviva;
                       top: -47px;
                       left: -56px;
                    }
                }
         }
         
        }
        .box-header{
            
            background-color: $color-blue03;
            color: white;
            position: relative;
            width: 95%;
            margin-right: 15px;
            border-radius: 0 0 116px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            padding: 7px 30px 12px 27px;
            @media (min-width:980px){
                padding: 60px 30px 40px 90px;
                width: 495px;
                margin-right: 15px;
                border-radius: 0 0 200px;
            }
          
            .vector-orange {
                width: 100%;
                position: absolute;
                bottom: -33px;
                left: 27px;
                .circle{
                    margin: 0;
                    &:before{
                        top: -58px;
                        height: 51px;
                    }
                }
            }
            p{
                font-size: 20px;
                line-height: 1.3;
                text-align: left;
                @media (min-width:980px){
                    font-size: 34px;
                    width: 324px;
                }
            }
            .main-letter{
                font-size: 30px;
                font-weight: bold;
                font-family: $avenir-Bold;
                position: relative;
                z-index: 10;
                &:before{
                    content:"01";
                    position: absolute;
                    left: -50px;
                    top: -60px;
                    height: 10px;
                    width: 10px;
                    font-family: $avenir-LT;
                    font-size: 99px;
                    color: $color-blue-span;
                    z-index: -1;
                    @media (max-width:980px){
                        display: none;
                    }
                }
                @media (min-width:980px){
                    font-size: 41px;
                }
            }
            .strong{
                font-family: $avenir-Bold;
            }
        }
    }
