<div class="conoce-aviva">
  <div class="especialidades-y-doctores-container">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-lg-3 col-xl-3">
          <div class="box-title-eyp">
            <p>
              Conoce todas las <span>especialidades y doctores</span> a
              cargo
            </p>
            <div class="vector-orange">
              <div class="circle"></div>
            </div>
            <div class="vector-orange-horizontal">
              <div class="circle"></div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6 offset-lg-2">
        <br><br><br>
            <app-doctors-list></app-doctors-list>
        </div>
      </div>
    </div>
  </div>

</div>
