<div class="close" (click)="onClickNo()"></div>
<div class="modal box-modal-register">
  <h3 [ngClass]="{
      colorCuida: message === 'aviva-cuida',
      colorCura: message === 'aviva-cura',
      colorTele: message === 'aviva-tele',
      colorAviva: message === 'home'
    }">
    COMPLETA LOS SIGUIENTES CAMPOS
  </h3>

  <!-- BOX FORM -->
  <div class="box-content-form">
    <!-- BOX NAME -->
    <div class="box-input" [ngClass]="{
        'box-input-load': loaderSession,
        'box-input-error': serviceError
      }">
      <label [ngClass]="{ 'input-active': name != '' }">Nombres</label>
      <input [disabled]="loaderSession" autocomplete="off" type="text" [(ngModel)]="name"
        (keyup)="onkeyValidateString(name)" (blur)="blurValidateString(name)" />
      <div *ngIf="nameReadyValidate" [ngClass]="{ 'icon2 check': nameValidate, 'icon error': !nameValidate }"></div>
    </div>

    <!-- BOX LASTNAME PATERNO -->
    <div class="box-input" [ngClass]="{
        'box-input-load': loaderSession,
        'box-input-error': serviceError
      }">
      <label [ngClass]="{ 'input-active': lastName != '' }">Apellido paterno</label>
      <input [disabled]="loaderSession" autocomplete="off" type="text" [(ngModel)]="lastName"
        (keyup)="onkeyValidateString(lastName)" (blur)="blurValidateString(lastName)" />
      <div *ngIf="lastNameReadyValidate" [ngClass]="{
          'icon2 check': lastNameValidate,
          'icon error': !lastNameValidate
        }"></div>
    </div>


    <!-- BOX LASTNAME MATERNO -->
    <div class="box-input" [ngClass]="{
       'box-input-load': loaderSession,
       'box-input-error': serviceError
     }">
      <label [ngClass]="{ 'input-active': lastNameMaterno != '' }">Apellido materno</label>
      <input [disabled]="loaderSession" autocomplete="off" type="text" [(ngModel)]="lastNameMaterno"
        (keyup)="onkeyValidateString(lastNameMaterno)" (blur)="blurValidateString(lastNameMaterno)" />
      <div *ngIf="lastNameMaternoReadyValidate" [ngClass]="{
         'icon2 check': lastNameMaternoValidate,
         'icon error': !lastNameMaternoValidate
       }"></div>
    </div>

    <!-- BOX SEXO -->
    <div class="box-input" [ngClass]="{
        'box-input-load': loaderSession,
        'box-input-error': serviceError
      }">
      <label [ngClass]="{ 'input-active': sexo != 'Sexo' }">Sexo</label>
      <select [disabled]="loaderSession" [(ngModel)]="sexo" (change)="selecGender($event)">
        <option value=""></option>
        <option value="sexo">Sexo</option>
        <!-- <option *ngFor="let item of gendersService; let i = index" value="{{item.id}}">{{item.name}}</option> -->
        <option *ngFor="let item of sexoData" value="{{ item.id }}">{{
          item.name
        }}</option>
      </select>
    </div>

    <!-- DOCUMENT TYPE -->
    <div class="box-input" [ngClass]="{
        'box-input-load': loaderSession,
        'box-input-error': serviceError
      }">
      <label [ngClass]="{ 'input-active': document != 'Tipo de documento' }">Tipo de documento</label>
      <select [disabled]="loaderSession" [(ngModel)]="document" (change)="selectDocument($event)">
        <option value=""></option>
        <option value="tipo de documento">Tipo de documento</option>
        <!-- <option *ngFor="let item of gendersService; let i = index" value="{{item.id}}">{{item.name}}</option> -->
        <option *ngFor="let item of tipeDocumentService" value="{{ item.id }}">{{ item.name }}</option>
      </select>
    </div>

    <!-- DOCUMENT NUMBER -->
    <div *ngIf="!hideBox" class="box-input" [ngClass]="{
        'box-input-load': loaderSession,
        'box-input-error': serviceError
      }">
      <label [ngClass]="{ 'input-active': documentNumber != '' }">Número de documento</label>
      <input maxlength="8" [disabled]="loaderSession || activateDocumentNumber" autocomplete="off" type="tel"
        [(ngModel)]="documentNumber" (keyup)="onkeyValidateString(documentNumber)"
        (blur)="blurValidateString(documentNumber)" />
        <span *ngIf="documentInvalid" class="notifiValidate">Ya tiene un usuario, trata recuperando tu contraseña</span>
      <div *ngIf="documentReadyValidate" [ngClass]="{
          'icon2 check': documentValidate,
          'icon error': !documentValidate
        }"></div>
    </div>

    <!-- BIRTHDATE -->
    <div class="box-input" [ngClass]="{
        'box-input-load': loaderSession,
        'box-input-error': serviceError
      }">
      <label [ngClass]="{ 'input-active': birthday != '' }">Fecha de nacimiento (día/mes/año)</label>
      <input maxlength="10" [disabled]="loaderSession" autocomplete="off" [(ngModel)]="birthday" type="tel"
        (keyup)="validateBirthdate()" (blur)="validateB()" />
      <div *ngIf="birthdayReadyValidate" [ngClass]="{
          'icon2 check': birthdayValidate,
          'icon error': !birthdayValidate
        }"></div>
    </div>

    <!-- PHONE -->
    <div class="box-input" [ngClass]="{
        'box-input-load': loaderSession,
        'box-input-error': serviceError
      }">
      <label [ngClass]="{ 'input-active': phoneNumber != '' }">Teléfono</label>
      <input maxlength="9" [disabled]="loaderSession" autocomplete="off" type="tel" [(ngModel)]="phoneNumber"
        (keyup)="onkeyValidateString(phoneNumber)" (blur)="blurValidateString(phoneNumber)" />
      <div *ngIf="phoneReadyValidate" [ngClass]="{
          'icon2 check': phoneValidate,
          'icon error': !phoneValidate
        }"></div>
    </div>

    <!-- EMAIL -->
    <div class="box-input" [ngClass]="{
        'box-input-load': loaderSession,
        'box-input-error': mailInvalid
      }">
      <label [ngClass]="{ 'input-active': email != '' }">Correo electrónico</label>
      <input [disabled]="loaderSession" autocomplete="off" type="text" [(ngModel)]="email"
        (keyup)="onkeyValidateString(email)" (blur)="blurValidateString(email)" />
      <span *ngIf="mailInvalid" class="notifiValidate">Este correo ya a sido registrado, intente con otro</span>
      <span *ngIf="documentInvalid" class="notifiValidate">Ya tiene un usuario, trata recuperando tu contraseña</span>
      <div *ngIf="emailReadyValidate" [ngClass]="{
          'icon2 check': emailValidate,
          'icon error': !emailValidate
        }"></div>
    </div>

    <!-- PASSWORD -->
    <div class="content-box-input">
      <div class="box-input" [ngClass]="{
          'box-input-load': loaderSession,
          'box-input-error': serviceError
        }">
        <label [ngClass]="{ 'input-active': password != '' }">Crear una contraseña</label>
        <input [disabled]="loaderSession" autocomplete="off" type="text"
          [(ngModel)]="password" (keyup)="validatePass()" />
        <div [ngClass]="{ 'icon2 check': passwordValidate }"></div>
      </div>
      <!-- REQUISITOS -->
      <div class="box-validator" [ngClass]="{
          'box-validator-active': activeRepeat,
          'box-validator-desactive': !activeRepeat
        }">
        <div class="title">
          <img width="15" src="assets/svg/info.svg" alt="" />
          <h4>Tu contraseña debe tener</h4>
        </div>
        <ul>
          <li>
            <div class="ico-small state" [ngClass]="{ check: mayor }"></div>
            <p class="text blue">Al menos 8 caracteres</p>
          </li>
         <!--  <li>
            <div class="ico-small state" [ngClass]="{ check: mayus }"></div>
            <p class=" text blue">Al menos una mayúscula</p>
          </li>
          <li>
            <div class="ico-small state" [ngClass]="{ check: isNum }"></div>
            <p class="text blue">Al menos un número</p>
          </li> -->
        </ul>
      </div>
    </div>
    <!-- REPEAT PASSWORD -->
   <!--  <div class="box-input" [ngClass]="{
        'box-input-load': loaderSession,
        'box-input-error': serviceError
      }">
      <label [ngClass]="{ 'input-active': passwordRepeat != '' }">Repetir contraseña</label>
      <input [disabled]="loaderSession" autocomplete="off" type="password" name="passwordrepeatt"
        [(ngModel)]="passwordRepeat" (keyup)="passRepeatKey()" />
      <div *ngIf="passwordRepeatReadyValidate" [ngClass]="{
          'icon2 check': passwordRepeatValidate,
          'icon error': !passwordRepeatValidate
        }"></div>
    </div> -->
    <div class="box-checkbox">
      <mat-checkbox [(ngModel)]="checked" color="primary"></mat-checkbox>
      <h6>Acepto los <a [routerLink]="[ '/terminos-y-condiciones']" target="_blank">términos y condiciones</a></h6>
    </div>
  </div>

  <button [disabled]="validateAllInputs()" *ngIf="!loaderSession" mat-raised-button color="primary" (click)="sendForm()"
    id="button_crear_cuenta_Enviar_Crear_Cuenta">
    REGISTRAR
  </button>
  <div *ngIf="loaderSession" class="preloader">
    <mat-progress-spinner [color]="color" [mode]="mode" [diameter]="30">
    </mat-progress-spinner>
  </div>
</div>