<div class="box-errors">
  <div class="main-letter">
    <h5>ERROR</h5>
    <h2>
      404
    </h2>
  </div>
  <p>Lo sentimos, pero la página que estás buscando no existe</p>
  <button [routerLink]="[ '/']">VOLVER AL INICIO</button>
</div>
