<div class="container-tyc">
  <div class="container">
    <div class="col-md-8 col-12">
      <div class="title-tyc">
        <h2>Términos y condiciones</h2>
      </div>
      <div class="text-tyc">
        <p>
            {{dataTerms}}
        </p>
      </div>

    </div>
  </div>
</div>
