<div class="planes-programas-nav">
  <div *ngIf="page != 'especialidades'">
    <div [ngClass]="{'box-suport': activateNav}">
      <div [ngClass]="{'content-menu-fixed': activateNav}">
        <!-- START NAV INTERNO DESKTOP -->
        <div class="box-nav-desktop-interno">
          <app-nav-interno></app-nav-interno>
        </div>
        <!-- END NAV INTERNO DESKTOP -->
        <div *ngIf="activateNav === true" class="box-select-planes">
          <div class="box-select-mobile">
            <select [(ngModel)]="programa" (change)="selecGender($event)">
              <option disabled value="Seleccionar otro programa">Seleccionar otro programa</option>
              <option *ngFor="let item of listNav" value="{{item.slug}}"><a
                  [routerLink]="[ '/planes-programas', item.slug ]">{{item.name}}</a></option>
            </select>
          </div>
          <div class="box-select-desktop container">
            <ul>
              <div *ngFor="let item of listNav">
                <a [routerLink]="[ '/planes-programas', item.slug ]" routerLinkActive="active">
                  <li id="{{item.slug}}">{{item.name}}</li>
                </a>
              </div>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>


    <div *ngIf="page === 'especialidades'" [ngClass]="{'box-suport-details': activateNav2}">
      <div [ngClass]="{'content-menu-fixed': true}">
        <!-- START NAV INTERNO DESKTOP -->
        <div class="box-nav-desktop-interno">
          <app-nav-interno></app-nav-interno>
        </div>
        <!-- END NAV INTERNO DESKTOP -->
        <div *ngIf="activateNav2" style="height: 63px;" class="box-select-planes-details">
          <div class="select-specia-details-desktop box-select-details container">

            <label>ESPECIALIDADES:</label>
            <div style="cursor: pointer; height: 100%;">
              <label style="position: relative" class="icon-text" (click)="showModalMenuList()"> Seleccionar otra
                especialidad <div [ngClass]="{'ico-active': showModalMenu}" class="ico"></div></label></div>
            <div class="content-men">
              <ul [ngClass]="{'hide-list': !showModalMenu, 'show-list': showModalMenu}">
                <div class="row">
                  <div class="col-lg-6" *ngFor="let item of listNav2">
                    <li>
                      <a (click)="showModalMenuList()"
                        [routerLink]="[ '/especialidades-doctores/especialidades-details/', item.id, item.slug]">{{item.title}}</a>
                    </li>
                  </div>
                </div>
              </ul>
            </div>
          </div>

          <div class="select-specia-details-movil box-select-details container">
            <label>ESPECIALIDADES</label>
            <select [(ngModel)]="programa2" (change)="selecGender2($event)">
              <option disabled value="Seleccionar otra especialidad">Seleccionar otra especialidad</option>
              <option *ngFor="let item of listNav2" value="{{item.id + '/' + item.slug }}"><a
                  [routerLink]="[ '/especialidades-doctores/especialidades-details/', item.id, item.slug]">{{item.title}}</a>
              </option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>

  <router-outlet></router-outlet>
  <app-footer></app-footer>
</div>