<div class="close" (click)="onClickNo()"></div>
<div class="modal box-login">
    <div class="box-content-login">

        <h3 [ngClass]="{'colorCuida': data.from === 'aviva-cuida', 'colorCura' : data.from === 'aviva-cura', 'colorAviva' : data.from === 'general'}">{{ data.tittle }}</h3>
        <p>{{ data.description }}</p>
        <br>
        <button  mat-raised-button color="primary" (click)="onClickNo()">ACEPTAR  </button>
    </div>
</div>