<div *ngIf="!preloader" class="content-landing">
<div class="content-main">
<section [ngStyle]="{'background-image': showDesktop ? 'url(' + dataPlans.imageDesktop + ')' : 'url(' + dataPlans.imageMobile + ')'}" class="background-main">

  <div class="box-title">
    <h2>Hola, conoce con nosotros</h2>
    <div style="text-align: center;" class="box-h1">

      <h1 *ngIf="dataPlans.name != 'Viva+'" style="display: inline-block; position: relative;" >{{dataPlans.name}}</h1>

    <img *ngIf="dataPlans.name === 'Viva+'" src="assets/images-landing/viva-mas-logotipo.svg" width="160" alt="viva mas">


    </div>
    <p>{{dataPlans.description}}</p>
    <h3>Beneficios:</h3>
    <div class="box-plans-desktop">
      <div *ngFor="let item of dataPlans.benefits" class="item">
        <div class="title2">
            <div style="display: flex">
              <span *ngIf="item.type === 'price'">S/</span>
              <h4>{{ item.type === 'price' ? item.value : item.value + '%'}}</h4>
            </div>
            <span *ngIf="item.type === 'percent'" class="dscto">de dscto</span>
            <p>
              {{item.description}}
            </p>
          </div>
      </div>
      <!-- <div class="item">
        <div class="title">
          <div style="display: flex">
            <span>S/</span>
            <h4>12</h4>
          </div>
          <p>
            consultas en todas nuestras especialidades y de urgencia
          </p>
        </div>
    </div> -->
    </div>
    <button (click)="redirectTo()" class="btn-continua-desktop">CONTINUA</button>
  </div>
</section>
<div class="box-slider">
    <h2>Beneficios:</h2>
    <!-- <div class="item">
        <div class="title">
            <div style="display: flex">
                <span>S/</span>
                <h4>15</h4>
            </div>
            <p>
                consultas en todas nuestras especialidades y de urgencia
            </p>
        </div>
    </div> -->
    <div class="swiper-container" [swiper]="config1">
        <div class="swiper-wrapper">
          <!-- <div class="item">
              <div class="title">
                <div style="display: flex">
                  <span>S/</span>
                  <h4>15</h4>
                </div>
                <p>
                  consultas en todas nuestras especialidades y de urgencia
                </p>
              </div>
          </div> -->
          <div *ngFor="let item of dataPlans.benefits" class="swiper-slide">
            <div class="item">
              <div class="title2">
                  <div style="display: flex">
                    <span *ngIf="item.type === 'price'">S/</span>
                    <h4>{{ item.type === 'price' ? item.value : item.value + '%'}}</h4>
                  </div>
                  <span *ngIf="item.type === 'percent'" class="dscto">de dscto</span>
                  <p>
                    {{item.description}}
                  </p>
                </div>
            </div>
          </div>

       
         

        </div>
      </div>
  </div>
</div>
<div class="box-footer">
  <button (click)="redirectTo()" class="btn-continua">CONTINUA</button>
</div>
</div>



<div *ngIf="preloader">
  <div style="background-color: #347699; margin-top: 0;    height: 81vh;
          width: 100%;
          max-width: 101%;"  class="preloader">
              <mat-progress-spinner
              [color]="color"
              [mode]="mode" [diameter]="70">
              </mat-progress-spinner>
              <br>
              <br>
              <p class="text-small">Estamos cargando...</p>
          </div>
        </div>
