@font-face
    font-family: avenirLtStd
    src: url('/fonts/AvenirLTStd-Book.ttf') format('truetype')
    font-display: swap


@font-face
    font-family: avenirLt95Bold
    src: url('/fonts/Avenir-LT-Std-85-Heavy_5177.ttf') format('truetype')
    font-display: swap
  
.content-landing
    height: calc(100vh - 52.9px)
    overflow: hidden
    .item
        height: 130px
        background-color: #32A0C4
        box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.25)
        border-radius: 0 0 20px
        padding: 10px
        .title
            p
                color: #FFFFFF
                font-size: 13px
                line-height: 1.3
                text-align: center

            div
                display: flex
                align-items: baseline
                justify-content: center
                margin: 5px 0
                span, h4
                    color: #FFD8AF
                    font-family: avenirLt95Bold 
                h4
                    font-size: 30px
            .dscto
                font-size: 12px
                text-align: center
                color: #FFD8AF
                margin: auto
        .title2
            p
                color: #FFFFFF
                font-size: 13px
                line-height: 1.3
                text-align: center

            div
                display: flex
                align-items: baseline
                justify-content: center
                margin: 5px 0 0
                span, h4
                    color: #FFD8AF
                    font-family: avenirLt95Bold 
                h4
                    font-size: 30px
            .dscto
                font-size: 12px
                color: #FFD8AF
                display: block
                text-align: center
                margin-bottom: 4px
    @media (min-width:500px)
        padding-bottom: 69px
        margin-bottom: -63px
        height: calc(100vh - 8.9px)
        min-height: 689px
    .content-main
        position: relative
        .box-slider
            position: absolute
            bottom: -47px
            left: 20px
            width: 95%
            @media (min-width:500px)
                display: none
            h2
                font-size: 18px
                color: #062F51
                font-family: avenirLt95Bold
                margin-bottom: 5px
    .background-main
      
        background-position: bottom
        background-repeat: no-repeat
        background-size: cover
        width: 100%
        height: 70vh
        overflow: hidden
        border-radius: 0 0 0 80px
        position: relative
        @media (min-width:500px)
            border-radius: 0
            height: calc(100vh - 32px)
            min-height: 670px
        .box-title
            color: #20658B
            width: 80%
            margin: auto
            margin-top: 35px
            position: relative
            @media (min-width:500px)
                height: 614px
                width: 637px
                background-color: #ECEAE5
                margin-top: 0
                margin-left: 0
                border-radius: 0 0 90px
                padding: 42px 97px
                display: grid
                grid-gap: 9px
            h2,h1,p
                text-align: center
            h2
                font-size: 15px
                font-family: avenirLt95Bold
                @media (min-width:500px)
                    font-size: 20px
            h3
                display: none
                @media (min-width:500px)
                    display: block
                    font-family: avenirLt95Bold
                    color: #20658B
                    text-align: center
                    margin-top: 10px
                    font-size: 18px

            h1
                font-size: 45px
                font-weight: bold
                font-family: avenirLt95Bold
                margin-top: 10px
                text-transform: uppercase
                @media (min-width:500px)
                    font-size: 50px
            p
                font-size: 15px
                line-height: 1.3
                @media (min-width:500px)
                    font-size: 20px
            .plan-mas-icon
                &::before
                    content: ""
                    height: 43px
                    width: 43px
                    position: absolute
                    right: -12px
                    top: -1px
                    background-image: url(/assets/images-landing/viva-mas-logotipo.svg)
                    background-size: cover
                    background-color: #eceae4
            .box-plans-desktop
                display: none
                p
                    font-size: 15px
                @media (min-width:500px)
                    display: grid
                    grid-template-columns: 1fr 1fr
                    grid-gap: 10px
            .btn-continua-desktop
                font-size: 18px
                width: 252px
                height: 48px
                font-weight: bold
                margin: auto
                font-size: 18px
                border-radius: 0 25px 0 0
                display: none
                margin-top: 10px
                @media (min-width:500px)
                    display: block
    .box-footer
        text-align: center
        padding: 70px 0 30px
        position: relative
        .btn-continua
            font-size: 18px
            width: 90%
            height: 48px
            font-weight: bold
            margin: auto
            font-size: 18px
            border-radius: 0 25px 0 0
