<div *ngIf="newData" class="planes-programas-header">
  <img *ngIf="newData.images.main" src="{{newData.images.main}}" alt="">
  <div class="planes-programas-box-text">
    <div *ngIf="newData">
      <h2 class="pp-box-title">{{newData.name}}</h2>
      <p class="pp-box-text">
        {{newData.interiorDescription}}
      </p>
    </div>
  </div>
</div>
<div class="planes-programas-content">
  <div class="container">
    <!-- Beneficios -->
    <div class="planes-programas-beneficios">
      <div class="planes-programas_title">
        <h3>BENEFICIOS</h3>
      </div>
      <div class="planes-programas-beneficios_list">
        <ul>
          <li *ngFor="let item of newData">{{item.planBenefits.name}}</li>
        </ul>
      </div>
    </div>
    <div class="line-divisor">

      </div>
    <!-- /Beneficios -->
  </div>
</div>

<!-- Inversión -->
<div class="planes-programas-inversión">
  <div class="container">
    <div class="row">
      <div class="planes-programas_title col-12 col-md-4">
          <h3>INVERSIÓN</h3>
          <div class="inversion-title-curve inversion-title-curve-mobile">
            <div *ngIf="newData.priceLetf" class="inversion-title-curve-content">
              <p></p>
            </div>
            
            <div *ngIf="newData.priceLetf" class="inversion-title-curve-content">
                <h4 class="inversion-curve-prima">Prima mensual</h4>
                <div class="inversion-curve-content-monto">
                  <div class="inversion-curve-content-rango">
                    <p>desde</p>
                    <p>S/</p>
                  </div>
                  <div class="inversion-curve-content-number">
                    <p>30</p>
                  </div>
                </div>
                <div class="inversion-curve-content-p">
                  <p>La prima varía de acuerdo al <br> rango de edad del afiliado</p>

                </div>
              </div>
          </div>
      </div>
      <div class="planes-programas-inversion-content col-12 col-md-8">
          <app-box-table></app-box-table>
          <!-- <app-box-tab-tab></app-box-tab-tab> -->
          <!-- <app-box-car></app-box-car> -->
          <!-- <app-box-tab></app-box-tab>  -->
          <app-box-tab></app-box-tab>
      </div>
    </div>
    <div class="line-divisor">

      </div>
  </div>
</div>
<!-- /Inversión -->
<!-- Información -->
  <div class="planes-programas-informacion planes-programas-content ">
    <div class="container informacion-container">
      <div class="row">
        <div class="planes-programas_title col-12 col-md-3 col-lg-4">
            <h3>INFORMACIÓN</h3>
        </div>
        <div class="planes-programas-informacion-pdf col-12 col-md-9 col-lg-8">
          <div class="informacion-pdf">
            <a href="">
                <img src="../../../assets/svg/pdf.svg" alt="PDF">
                <p>TARIFARIO DETALLADO</p>
            </a>
            <a href="">
                <img src="../../../assets/svg/pdf.svg" alt="PDF">
                <p>CONDCIONES DEL SERVICIO</p>
            </a>
          </div>
        </div>

      </div>
        <div class="line-divisor">

          </div>
    </div>
  </div>
<!-- /Información -->
<div class="planes-programas-app-store-container">

<div class="planes-programas-app-store">
    <!--  APP STORE -->
  <div class="container container-app-store">
    <div class="app-store-text">
      <div class="container">
        <h3>DÓNDE ADQUIRIRLO</h3>
        <p>
          Contáctanos para reservar tu Programa de Embarazo desde aquí u obtenlo
          en nuestra clínica
        </p>
        <button>RESERVAR PROGRAMA</button>
        <h3>
          DESCARGA LA <br />
          GUÍA DEL EMBARAZO
        </h3>
        <div class="app-store-container-img">
          <img src="../../../assets/svg/google_play.svg" alt="Google Play" />
        </div>
      </div>
    </div>
    <div class="app-store-img"></div>
    <!-- / APP STORE -->
  </div>
  
</div>
</div>

