<div class="box-content-step1">
    <div class="box-content">
        <div class="box-main">
            <h1>¡Ya estás registrado!</h1>
            <p>Ahora, para hacer efectivo el descuento, deberás reservar tu cita por alguno de los siguientes canales:
            </p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="title-two">

                </div>



                <div class="box-items-links">
                    <div class="line-box"></div>
                    <a id="action-call" href="tel:017154600">
                        <div class="itemss itemsss">
                            <img height="44" src="assets/telefono.svg" alt="">
                            <span>Central telefónica</span>
                            <p>715-4600</p>
                        </div>
                    </a>
                    <div class="line-box"></div>
                    <a id="to-link-reservas" href="https://www.aviva.pe/reservas">
                        <div class="itemss itemsss">
                            <img height="44" src="assets/puntero.svg" alt="">
                            <span>Nuestra pagina web*</span>
                            <p>aviva.pe</p>
                        </div>
                    </a>
                    <div class="line-box"></div>
                    <a id="dowload-app" href="https://play.google.com/store/apps/details?id=pe.aviva.booking&hl=es">
                        <div class="itemss itemsss">
                            <img height="44" src="assets/cel.svg" alt="">
                            <span>Descargando nuestro app de citas*</span>
                            <p>Ir a Google Play</p>
                        </div>
                    </a>
                    <div class="line-box"></div>
                    <a href="#">
                        <div class="itemss">
                            <img height="44" src="assets/cruz.svg" alt="">
                            <span>En el módulo de admisión de Clínica aviva</span>
                            <span>Av. Alfredo Mendiola 6301, Los Olivos, Lima.</span>
                        </div>
                    </a>
                </div>


                <!-- GOOFLE MAP -->

                <div class="google-map-map">
                    <!-- <div class="map" id="google-map-div"></div> -->
                    <!--    <div class="map">
                        <agm-map style="width: 100%; height: 100%;" [zoom]='zoom' [mapTypeId]='mapType' [latitude]="lat" [longitude]="lng">
                            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                        </agm-map>
                    </div> -->
                </div>
                <div class="line-box"></div>
                <p class="text-parrafo">*Seleccionar “Pago en Local” para acceder al precio promocional de S/ 30 soles
                </p>
            </div>
        </div>
    </div>
</div>