@font-face
    font-family: avenirLtStd
    src: url('/fonts/AvenirLTStd-Book.ttf') format('truetype')
    font-display: swap


@font-face
    font-family: avenirLt95Bold
    src: url('/fonts/Avenir-LT-Std-85-Heavy_5177.ttf') format('truetype')
    font-display: swap

.box-content-step1
    background-color: #E6E6E4
    padding-bottom: 70px
    margin-bottom: -50px
    .line-box
        height: 4px
        width: 100%
        background-color: #ececec
        position: relative
        margin-top: 30px
        &::before
            content: ""
            position: absolute
            height: 2px
            background-color: #dcdcdc
            width: 100%
            top: 0
            left: 0
    .text-parrafo
        font-size: 12px
        color: #50504F
        margin: 24px auto
        text-align: center
    .title-two
        text-align: center
        margin: 10px 0px 2px
        @media (min-width:500px)
            margin: 10px 0px 30px
        h4
            
            font-size: 18px
            color: #062F51
            text-decoration: underline

        p
            font-size: 15px
            color: #50504F
            font-family: avenirLt95Bold
            width: 100%
            max-width: 600px
            margin: auto
            @media (min-width:500px)
                font-size: 24px
                margin-bottom: 10px
    .box-items-links
        display: grid
        grid-template-columns: 1fr
        column-gap: 13px
        @media (min-width:500px)
            grid-template-columns: 1fr 1fr 1fr 1fr
        .line-box
            display: block
            margin: 13px 0
            @media (min-width:500px)
                display: none
        a
            display: block
            height: auto
            background-color: transparent
            position: relative
            @media (min-width:500px)
                background-color: #F5F5F5
                height: 217px
            .itemss
                display: grid
                align-items: center
                justify-content: center
                padding: 0
                height: auto
                grid-template-columns: 60px 1fr
                grid-template-rows: 1fr 1fr
                position: relative
                @media (min-width:500px)
                    padding: 35px 20px
                    grid-template-columns: initial
                    grid-template-rows: initial
                    height: 100%
                img
                    margin: auto
                    grid-column: 1
                    grid-row: 1 / span 2
                    max-height: 32px
                    @media (min-width:500px)
                        grid-column: initial
                        grid-row: initial
                        max-height: initial
                span
                    text-align: left
                    font-family: avenirLt95Bold
                    color: #0E4B6C
                    font-size: 15px
                    margin: 0
                    margin-top: 10px
                    @media (min-width:500px)
                        margin: 18px 0
                        text-align: center
                p
                    text-align: left
                    font-size: 21px
                    color: #062F51
                    font-family: avenirLt95Bold
                    @media (min-width:500px)
                        text-align: center
        .itemsss
            &:nth-child(1n)
                &::before
                    position: absolute
                    content: ""
                    right: 0
                    top: 0
                    bottom: 0
                    margin: auto
                    height: 15px
                    width: 15px
                    transform: rotate(45deg)
                    border-top: 1.5px solid #062F51
                    border-right: 1.5px solid #062F51
                    @media (min-width:500px)
                        display: none
    .box-content
        border-radius: 0 0 80px
        margin-bottom: 19px
        padding: 0 0 7px
        background-image: url('/assets/fin.jpg')
        background-position: top
        background-size: cover
        @media (min-width:500px)
            background-image: url('/assets/fin.jpg')
            height: 396px
        .box-text-down
            text-align: center
            margin-top: 21px
            margin-bottom: 10px
            h3
                font-family: avenirLt95Bold
                font-size: 18px
                color: white
            p
                font-size: 24px
                color: #FF9D59
                span
                    font-size: 33px
                    font-family: avenirLt95Bold
        .box-items
            display: grid
            grid-template-columns: 1fr 1fr
            width: 90%
            margin: auto
            grid-gap: 10px
    .box-main
        height: 100%
        width: 80%
        min-height: 195px
        text-align: center
        color: white
        margin: auto
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        h1
            font-size: 28px
            font-weight: bold
            line-height: 29px
            font-family: avenirLt95Bold
            margin-bottom: 20px
            width: 158px
            color: #FFDA9A
            @media (min-width:500px)
                font-size: 48px
                width: 100%
        p
            font-size: 16px
            line-height: 1.3
            width: 100%
            max-width: 650px
            font-family: avenirLt95Bold
            @media (min-width:500px)
                font-size: 34px
                width: 100%
                margin-top: 10px
            span
                font-family: avenirLt95Bold
    .mat-dialog-container
        background-color: transparent
        .modal
            input
                font-family: avenirLtStd !important
            .box-input
                background-color: white
    .item
        height: 130px
        background-color: #32A0C4
        box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.25)
        border-radius: 0 0 20px
        padding: 10px
        .title
            p
                color: #FFFFFF
                font-size: 13px
                line-height: 1.3
                text-align: center

            div
                display: flex
                align-items: baseline
                justify-content: center
                margin: 5px 0
                span, h4
                    color: #FFD8AF
                    font-family: avenirLt95Bold 
                h4
                    font-size: 30px
            .dscto
                font-size: 12px
                text-align: center
                color: #FFD8AF
                margin: auto
        .title2
            p
                color: #FFFFFF
                font-size: 13px
                line-height: 1.3
                text-align: center

            div
                display: flex
                align-items: baseline
                justify-content: center
                margin: 5px 0 0
                span, h4
                    color: #FFD8AF
                    font-family: avenirLt95Bold 
                h4
                    font-size: 30px
            .dscto
                font-size: 12px
                color: #FFD8AF
                display: block
                text-align: center
                margin-bottom: 4px