<div class="box-content-step1">
    <div class="box-content">
        <div class="box-main">
            <h1>¡Excelente, {{nameUser}}!</h1>
            <p>Accede ahora a todos
                los beneficios del <span>Plan {{dataUser.name}}</span></p>
        </div>
        <div class="box-items">
          <div *ngFor="let item of dataUser.benefits" class="item">
            <div class="title2">
                <div style="display: flex">
                  <span *ngIf="item.type === 'price'">S/</span>
                  <h4>{{ item.type === 'price' ? item.value : item.value + '%'}}</h4>
                </div>
                <span *ngIf="item.type === 'percent'" class="dscto">de dscto</span>
                <p>
                  {{item.description}}
                </p>
              </div>
          </div>
     
            
        </div>
        <div class="box-text-down">
            <h3>A solo:</h3>
            <p>s/ <span>{{dataUsuario.price}}</span> al mes</p>
        </div>
    </div>
  
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="title-two">
                    <h4>¿Necesitas más información?</h4>
                    <p>Déjanos tus datos de contacto:</p>
                </div>
                <div style="border-radius: 0 !important;box-shadow: none !important;" class="mat-dialog-container">
                    <div class="modal box-login">
                      <!-- BOX FORM -->
                      <div class="box-content-login">
                
  
                       <!-- PHONE -->
                        <div
                        class="box-input"
                        [ngClass]="{
                          'box-input-load': loaderSession
                        }"
                      >
                        <input
                          maxlength="9"
                          [disabled]="loaderSession"
                          autocomplete="off"
                          type="tel"
                          [(ngModel)]="phoneNumber"
                          (keyup)="onkeyPass()"
                          (blur)="blurValidateString(phoneNumber)"
                          placeholder="Teléfono"
                        />
                        <div
                          *ngIf="phoneReadyValidate"
                          [ngClass]="{
                            'icon2 check': phoneValidate,
                            'icon error': !phoneValidate
                          }"
                        ></div>
                      </div>
                      <!-- EMAIL -->
                      <div *ngIf="emailUser === ''" 
                      class="box-input"
                      [ngClass]="{
                        'box-input-load': loaderSession,
                        'box-input-error': mailInvalid
                      }"
                    >
                      <input
                        [disabled]="loaderSession"
                        autocomplete="off"
                        type="text"
                        [(ngModel)]="email"
                        (keyup)="onkeyValidateString(email)"
                        (blur)="blurValidateString(email)"
                        placeholder="Correo electrónico (opcional)"
                      />
                      <!-- <span *ngIf="mailInvalid" class="notifiValidate"
                        >Este correo ya a sido registrado, intente con otro</span
                      > -->
                      <div
                        *ngIf="emailReadyValidate"
                        [ngClass]="{
                          'icon2 check': emailValidate,
                          'icon error': !emailValidate
                        }"
                      ></div>
                    </div>

                    <button class="show-desktop"
                        [disabled]="validateAllInputs()"
                        *ngIf="!loaderSession"
                        mat-raised-button
                        color="primary"
                        (click)="sendForm()"
                        id="button_crear_cuenta_Enviar_Crear_Cuenta"
                      >
                        ENVIAR
                      </button>
                    
                      </div>
                    
                      <button class="show-movil"
                        [disabled]="validateAllInputs()"
                        *ngIf="!loaderSession"
                        mat-raised-button
                        color="primary"
                        (click)="sendForm()"
                        id="button_crear_cuenta_Enviar_Crear_Cuenta"
                      >
                        ENVIAR
                      </button>
                      <div *ngIf="loaderSession" class="preloader">
                        <mat-progress-spinner [color]="color" [mode]="mode" [diameter]="30">
                        </mat-progress-spinner>
                      </div>
                    </div>
                    </div>
            </div>
          </div>
    </div>
  </div>
  