.buscador{
    text-align: center;
    margin-bottom:20px;
    select{
        width:80%;
        height: 50px;
        margin-bottom:20px!important;
        margin-top:20px;
        background: #fff;
    }
}
mat-form-field{
    width:90%;
    margin-left:5%;
    color:#fff;
}
.mat-form-field-flex{
    background: #fff!important;
}
.nombre{
    color:#125D98;
    font-size:1em;
    text-align: left;
    span{
        font-size:.9em;
        color:#6c6e6e;
        text-transform: capitalize;
        margin-left:5px;
        text-align: left;
    }
}
.imagenDoctor{
    width:25px;
    margin-top:10px;
    border-radius: 50%;
}
.white{
    .mat-form-field-wrapper{
        background: #fff!important; 
    }
}
mat-label{
    color:#125D98!important;
}