<section class="home">
  <!-- [@slideIn]="state ? 'open' : 'closed'" -->
  <header>
    <div class="header container-fluid">
      <div class="header-relative container">
        <div class="row">
          <div class="col-12"></div>
        </div>
      </div>
    </div>
    <div class="boxes-accions container" (click)="tag()">
      <div class="boxes-absolute">
        <div class="row">
          <div class="col-12">
            <div [ngClass]="{ 'boxes-content-home-session': isUser() === true }" class="boxes-content-home">
              <div class="header-main">
                <div *ngIf="isUser()" class="">
                  <p class="header-main-bienvenido">BIENVENIDO(A)</p>
                  <h1 class="header-main-user-name">{{ user }}</h1>
                </div>
                <p (click)="changeState()">
                  ERES MÁS QUE UN PACIENTE, POR ESO, <br />
                  MERECES MÁS QUE UNA CLÍNICA
                </p>
                <h1 *ngIf="isUser() === false">
                  <span class="orange">DESCUBRE</span> CLÍNICA AVIVA
                </h1>
              </div>
              <div >
                <li style="width:100%;margin-bottom: 3px;">
                  <a  [routerLink]="['/reservas']" id="a-cuerpo-Ir_Reservas_Cuerpo" style="border-top-left-radius:10px;border-top-right-radius:10px;width:100%; text-transform: uppercase;background:#EB964D;"><img
                      src="/assets/svg/sacar_cita1.svg" width="24" height="24" alt="" />
                    <p style="font-size:1.3em;">SACAR UNA CITA</p>
                  </a>
                </li>
              </div>
              <ul>
                <!--------- <li><a class="dos" [routerLink]="[ '/especialidades-doctores']"><img src="assets/svg/especialidades.svg" alt=""> <p>VER ESPECIALIDADES <br/>Y DOCTORES</p></a></li>
                 -->
                <li>
                  <a [routerLink]="[ '/especialidades-doctores' ]" id="a-cuerpo-Ir_Especialidades-Y-Yoctores"
                    ><img src="/assets/svg/especialidades.svg" width="24" height="24" alt="" />
                    <p>ESPECIALIDADES <br />Y DOCTORES</p>
                  </a>
                </li>

                <li>
                  <a [routerLink]="['/planes-programas']" id="a-cuerpo-Ir_Planes_Y_Programas_Cuerpo"><img
                      src="/assets/svg/planes-y-paquetes.svg" width="24" height="24" alt="" />
                    <p>PROGRAMAS</p>
                  </a>
                </li>
                <li>
                  <a [routerLink]="['/conoce-aviva']" id="a-cuerpo-Ir_Conoce_Aviva_Cuerpo"><img
                      src="/assets/svg/conoce-aviva.svg" width="24" height="24" alt="" />
                    <p>
                      CONOCE
                      <img class="aviva-letra m-0" src="/assets/svg/logo_letra2.svg" width="40" height="9.9" alt="aviva" /></p>
                  </a>
                </li>

                <li *ngIf="isUser()">
                  <a [routerLink]="['/mis-citas']" [ngClass]="{ tres: isUser() === false }"><img
                      src="/assets/svg/mis-citas.svg" width="24" height="24" alt="" />
                    <p>MIS CITAS</p>
                  </a>
                </li>
                <li *ngIf="isUser()">
                  <a [routerLink]="['/mis-recetas']" [ngClass]="{ tres: isUser() === false }" style="border-bottom-left-radius:10px;"><img
                      src="/assets/svg/mis-datos.svg" width="24" height="24" alt="" />
                    <p>MIS RECETAS</p>
                  </a>
                </li>
                <li>
                  <a href="https://aviva.pe/laboratorio" target="_blank"
                    style="border-bottom-right-radius:10px;width:100%; text-transform: uppercase;">
                    <img src="/assets/svg/laboratorio2.svg" width="24" height="24" alt="" />
                    <p>resultados exámenes de laboratorio</p>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div *ngIf="isUser() === false" class="boxes-vector"></div>
      </div>
    </div>
        <div class="col-sm-12 col-md-6 offset-md-3 col-lg-6 offset-lg-3">
         <form>
           <mat-form-field class="example-full-width white" appearance="fill">
                 <mat-label>Busca doctor por nombre </mat-label>
                
            <input type="text" 
                  matInput 
                  [formControl]="myControl" 
                  [matAutocomplete]="auto">
                  <!-- <mat-icon matSuffix>home</mat-icon> -->
              <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
              <mat-option *ngFor="let item of filteredOptions | async" [value]="item" (click)="goToDoctor(item)">
                <div class="row">
              <div class="col-sm-0 col-md-1" *ngIf="item">
                <img class="imagenDoctor" src="{{ urlBase + item.imageUrl }}" alt="" />
              </div> 
                  <div class="col-sm-5 col-md-5 nombre">
                    {{item.fullname}}  
                  </div>
                  <div class="col-sm-2 col-md-2 nombre">
                    <span>{{ item.services[0].description}}</span>
                  </div>  
                </div>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
         </form>
        </div>
  </header>
</section>
<section class="section-two">
  <div class="content" [defaultImage]="defaultImage" [lazyLoad]="'/assets/conoce-aviva/fondo_azul.jpg'">
    <button class="botonHomeTour" style="background: #072F50;font-size:.8em!important;" [routerLink]="['/tour-virtual']">CONOCE EL CENTRO MATERNO, CON UN RECORRIDO
      VIRTUAL</button>
    <div style="padding-top: 48px;" class="container">
      <div class="vector-orange-desktop">
        <div class="circle"></div>
      </div>
      <div class="row">
        <div class="col-12">
          <h1>CONOCE TODAS NUESTRAS ESPECIALIDADES</h1>
          <br>
          <app-doctors-list></app-doctors-list>
        </div>
        <div class="col-12">
          <br>
          <div class="box-flyer" [defaultImage]="defaultImage" [lazyLoad]="'./assets/home/banner_home.jpg'">
            <div class="box-left">
              <div class="content-boxs">
                <div style="display: flex; justify-content: space-between; align-items: flex-end; margin-bottom: 10px;"
                  class="box-content">
                  <div class="title">
                    <p class="price">Precio por</p>
                    <p class="text-down">consulta</p>
                    <p class="price">desde</p>
                  </div>
                  <div style="display: flex;     align-items: baseline;
                    margin-bottom: -5px;" class="title2">
                    <span class="soles"> S/</span>
                    <span class="amount">50</span>
                  </div>
                </div>
                <a [routerLink]="['/reservas']" id="a-cuerpo-Ir_Reservas_Cuerpo_footer"><button
                    style="margin:0; 	height: 50px;">SACAR UNA CITA</button></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
  </div>
</section>