
    <div style="background-color: white;" class="container">
      <div class="row">
        <div
          *ngFor="let item of newData.planServices[0].planPrograms"
          class="col-12 col-md-6 p-0"
        >
          <div (click)="openModal('details', item, newData.planServices[0].comparisonTable)" class="content-card-programa content-card-nino-sano">
            <div class="card-img">
              <!-- <img src="" alt=""> -->
              <div>
                <img src="{{ item.icon }}" alt="" />
              </div>
            </div>
            <div class="card-content-monto">
              <p>{{ item.name }}</p>
              <p><span>S/ </span>{{ item.price }}</p>
            </div>
            <div class="card-content-button">
              <span class="row-span"></span>
              <button>VER MÁS</button>
            </div>
          </div>
        </div>
      </div>
      <div class="ver-cuadro-comparativo">
        <span (click)="openModal('comparador', newData.planServices[0].comparisonTable, '')">COMPARAR PROGRAMAS</span>
      </div>
    </div>

