<div class="close" (click)="onClickNo()"></div>
<div *ngIf="message.message === 'details' && !change">
  <div class="modal-cuadro-comparativo-title">
    <h3>{{dataDetails.name}}</h3>
    <div *ngIf="dataDetails.requirement != null">
        <p style="line-height: 1.4;">
      EDAD GESTACIONAL DE 
      INGRESO: <br /> <span class="new-title">Hasta las {{dataDetails.requirement}} semanas</span>
    </p>
    </div>
  </div>

  <div class="container-movil">
  <div class="modal-cuadro-comparativo-content">
    <!-- Beneficios -->
    <div class="modal-cuadro-comparativo-section">
      <div class="modal-cuadro-comparativo_title">
        <h3>BENEFICIOS</h3>
      </div>
      <div class="modal-cuadro-comparativo-beneficios_list">
        <ul>
          <li *ngFor="let item of dataDetails.planProgramBenefits">{{item.name}}</li>
        </ul>
      </div>

      <div class="box-buttons">
        <div class="botton-comparar-programa">
          <button (click)="saveProgramsSpecifi(dataDetails.links[0].href)">RESERVA PROGRAMA</button>
        </div>
          <a (click)="changeState()">
            <p>COMPARAR PROGRAMA</p>
          </a>
      </div>


    </div>
    <!-- /Beneficios -->
    <div class="line-divisor"></div>
    <div class="modal-cuadro-comparativo_title pt-4">
      <h3>INFORMACIÓN</h3>
    </div>
    <div *ngIf="dataDetails.planProgramDocuments.length != 0" class="modal-cuadro-comparativo-informacion-pdf">
      <div class="informacion-pdf">
        <a href="{{dataDetails.planProgramDocuments[0].filename}}" target="_blank">
          <img src="../../../assets/svg/pdf.svg" alt="PDF" />
          <p>{{dataDetails.planProgramDocuments[0].name}}</p>
        </a>
        <a href="{{dataDetails.planProgramDocuments[1].filename}}" target="_blank">
          <img src="../../../assets/svg/pdf.svg" alt="PDF" />
          <p>{{dataDetails.planProgramDocuments[1].name}}</p>
        </a>
      </div>
    </div>
    <div class="line-divisor"></div>
  </div>
  <div class="elige-este-programa">
    <div class="modal-cuadro-comparativo_title">
      <h3 class="title-down" style="color: white;">COSTO DEL PROGRAMA</h3>
      <div class="comparativo-monto">
         <span class="soles">S/ </span> <span class="price">{{dataDetails.price}}</span>
        </div>
    </div>
    <div class="elige-este-programa-text">
      <p style="color: white;">
        {{dataDetails.boxFooterDescription}}
      </p>
    </div>
    <div class="elige-este-programa-button">
      <button (click)="saveProgramsSpecifi(dataDetails.links[0].href)">
        RESERVA PROGRAMA
      </button>
    </div>
  </div>
  </div>
</div>

<div *ngIf="message.message === 'comparador' || message.message === 'details' && change" class="comparativo-de-programas" [innerHTML]="message.html">
  
</div>
