<div class="box-container-loging">
    <div *ngIf="!showNewInfo" class="close" (click)="onClickNo()"></div>
    <div class="box-popup-login">
      <div class="modal box-login">
            <div *ngIf="!showNewInfo" class="box-content-login">
                <h3 [ngClass]="{'colorCuida': message.page === 'aviva-cuida', 'colorCura' : message.page === 'aviva-cura', 'colorAviva' : message.page === 'home'}">{{message.message}}</h3>
                <div *ngIf="!loaderSession" style="    width: 100%;
                max-width: 478px;
                display: flex;
                align-items: center;
                justify-content: space-between;" class="box-but">
                <button  mat-raised-button color="primary" (click)="delete()">SI</button>
                <button  mat-raised-button color="primary" (click)="onClickNo()" >NO</button>
              </div>
              <div *ngIf="loaderSession" class="preloader">
                  <mat-progress-spinner
                  [color]="color"
                  [mode]="mode" [diameter]="30">
                  </mat-progress-spinner>
              </div>
            </div>

            <div *ngIf="showNewInfo" style="min-height: 178px;" class="box-content-login">
                <h3 [ngClass]="{'colorCuida': message.page === 'aviva-cuida', 'colorCura' : message.page === 'aviva-cura', 'colorAviva' : message.page === 'home'}">TU CITA HA SIDO CANCELADA</h3>

            </div>
      </div>
      
    </div>
    
      
    
    </div>