<section class="box-pago aviva-cuida-section content-box-info container-fluid" @fadeIn>
  <div class="row">
    <div class="col-12 col-lg-4 padding">
      <div class="box-header">
        <!-- <p><span class="main-letter">Hola,</span> <br>en base al motivo de tu consulta, <span class="strong">escoge el servicio donde deseas ser atendido</span></p> -->
        <p>El precio de tu consulta será:</p>
        <span class="main" *ngIf="financiador !== 'PACIFICO EPS'">S/ {{price}}</span>
        <span class="main" *ngIf="financiador === 'PACIFICO EPS'">El copago de tu plan de Salud</span>
        <div class="vector-orange">
          <div class="circle"></div>
        </div>
        <div class="vector-orange-horizontal">
          <div class="circle"></div>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-7 offset-lg-1">
      <section class="content-box-info box-pago">


        <div *ngIf="!loader" class="box-specialty">
          <buttons-pay-culqi page="reserva-doctor" idLocal='button-pago-avivacuida-local'
            idTarjeta="button-pago-avivacuida-con-tarjeta"></buttons-pay-culqi>
        </div>

        <div (click)="backLink()" class="button-back">
          <img src="assets/img/sacar-cita/back-page.svg" width="45" height="45" alt="">
        </div>

      </section>
    </div>
  </div>
</section>