<div *ngIf="showPage">
  <div *ngIf="!preloader">
<div class="especialidades-details-content">

  <div class="planes-programas-header">
    <picture *ngIf="dataServices.images">
      <source
        [srcset]="dataServices.images.coverMobile"
        media="(max-width: 768px)"
      />
      <img
      [attr.width]="IMAGES.ONE.width"
      [attr.height]="IMAGES.ONE.height"
        [srcset]="dataServices.images.cover"
        alt="My default image"
      />
    </picture>

    <div class="planes-programas-box-text">
      <div>
      
            <h2 class="pp-box-title">{{dataServices.title}}</h2>
            <p class="pp-box-text">
              {{dataServices.description}}
            </p>
        <!-- <button *ngIf="dataServices.cuidaId != null && dataServices.curaId != null " (click)="changeState()">RESERVAR UNA CITA</button>

        <button *ngIf="dataServices.cuidaId === null && dataServices.curaId != ''" [routerLink]="['/reservas/avivacura/selecciona-doctor', dataServices.curaId, dataServices.slug]">RESERVAR UNA CITA</button>
        <button *ngIf="dataServices.curaId === null && dataServices.cuidaId" [routerLink]="['/reservas/avivacuida/selecciona-doctor', dataServices.cuidaId, dataServices.slug]">RESERVAR UNA CITA</button> -->
        <div class="conoce-mas">
          <img style="height: auto" width="15" height="15" src="/assets/especialidades-doctores/bajar.svg" alt="" />
          <a (click)="scrollToElement('.planes-programas-header')"> <span>CONOCE MÁS</span> </a>
        </div>
      </div>
    </div>
  </div>
  <div id="anclaTop" class="container-especialidadles-details">
    <div class="container">
      <div class="row conoce-especialistas">






       <!-- BOXES TAB-->
       <div class="col-12 col-lg-4">
          <h3>CONOCE A LOS ESPECIALISTAS</h3>
          <p>
              Todos los doctores están listos para atenderte con eficiencia y trato amable.
          </p>
        </div>
        <div class="col-12 col-lg-6 offset-lg-1">

          <app-tab-cura-cuida *ngIf="dataDoctorsCuida != null && dataDoctorsCura != null" [dataDoctorsCuida]="dataDoctorsCuida" [dataDoctorsCura]="dataDoctorsCura"></app-tab-cura-cuida>
          <app-box-cura *ngIf="dataDoctorsCuida === null && dataDoctorsCura != null" [dataDoctorsCura]="dataDoctorsCura"></app-box-cura>
          <app-box-cuida *ngIf="dataDoctorsCura === null && dataDoctorsCuida != null" [dataDoctorsCuida]="dataDoctorsCuida"></app-box-cuida>

        </div>
       <!-- BOXES TAB -->




        <div style="margin: auto" class="conoce-mas">
            <img src="/assets/especialidades-doctores/bajar.svg" width="15" height="15" alt="" />
            <a (click)="scrollToElement('.especialidades-details-content')"> <span>CONOCE MÁS DE LA ESPECIALIDAD</span> </a>
          </div>


      </div>
    </div>
  </div>
</div>
<div *ngIf="dataServices.sliders.length > 0" class="content-especialidades-slider-blue">
  <div class="content-especialidades-slider">
    <div class="container">
      <div class="content-especialidades-slider-title">
        <h3>En <span>{{dataServices.title}}</span> de Clínica Aviva encontrarás</h3>
      </div>
      <div style="position: relative;" class="content-especialidades-slider-slider">
        <div class="swiper-container11111 swiper-eyd-item" [swiper]="config1">
          <div class="swiper-wrapper">
            <!-- CONTENT SLIDER -->
            <div style="box-shadow: 0 0 24px 8px rgba(0,0,0,0.18);" *ngFor="let item of dataServices.sliders" class="swiper-slide slider-one-content">
              <img src="{{item.image}}" [attr.width]="IMAGES.TWO.width"
              [attr.height]="IMAGES.TWO.height" alt="ofrece" />
              <div class="slider-one-info">
                <p>{{item.title}}</p>
                <span
                  >{{item.description}}
                </span>
              </div>
            </div>
            <!-- CONTENT SLIDER -->
          </div>
        </div>
        <div *ngIf="dataServices.sliders.length > 3">
          <div class="swiper-pagination-top"></div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>

      </div>
    </div>
  </div>
</div>

<div *ngIf="dataPlans.planServices.length > 0 && dataPlans.id !== '3'" class="content-especialidades-footer">
  <div class="content-google">
    <div class="google-map">
      <div class="container">
        <div class="title-footer-especialidades">
          <h3>{{dataPlans.name}}</h3>
        </div>
        <div class="row">
          <div class="col-12 col-lg-3 p-especialidades-footer texto-2-title-especialidades-footer">
            {{dataPlans.interiorDescription}}
          </div>
          <div class="col-12 col-lg-9">
            <!--  GINECOLOGIA -->
            <!-- <div *ngIf="dataPlans.slug === 'plan-viva-mas'" class="planes-programas-inversion-content" [innerHTML]="dataPlans.planServices[0].planPrograms[0].html">
            </div> -->
            <app-box-tab class="content-tab-eyd" *ngIf="dataPlans.planServices.length > 1" [newData]="dataPlans"></app-box-tab>

            <div *ngIf="dataPlans.planServices.length < 2" class="planes-programas-inversion-content col-12 col-md-12">
                <!-- <app-box-car [newData]="dataPlans"></app-box-car> -->
      
            </div>
            <!-- GINECOLOGIA -->
          </div>
        </div>
        <div *ngIf="dataPlans.hasGuiaDeEmbarazo">
        <div class="title-footer-especialidades app-text">
          <h3>Descarga la Guía del embarazo</h3>
          <p class="p-especialidades-footer">
            Encuentra información, datos y consejos de cada semana de tu
            embarazo.
          </p>
        </div>
        <div class="app-especialidades">
          <a *ngIf="urlBase != ''" 
            [href]=" urlBase + 'middleware2/api/v2/ebooking/google-play-url'"
            target="_blank"
            ><img alt="Google Play" src="../../../assets/svg/google_play.svg"
          /></a>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
</div>

<div style="margin-top: 0;    height: 81vh;
width: 100%;
max-width: 101%; background-color: #20668B"  class="preloader" *ngIf="preloader">
    <mat-progress-spinner
    [color]="color"
    [mode]="mode" [diameter]="70">
    </mat-progress-spinner>
    <br>
    <br>
    <p class="text-small">Estamos cargando los planes y programas</p>
</div>
</div>


<app-cura-cuida *ngIf="!showPage" [data]="dataServices"></app-cura-cuida>
