<div class="mis-citas-details-container">
  <div class="box-header">
    <p>
      <span *ngIf="isUser()" class="main-letter">{{user}}</span><br />
      Revisa o cancela tus próximas citas
    </p>
    <div class="vector-orange">
      <div class="circle"></div>
    </div>
    <div class="vector-orange-horizontal">
      <div class="circle"></div>
    </div>
  </div>
  <div class="box-info-data-container">
    <div *ngIf="!preloader" class="box-info-data">
      <div class="box-info-citas-details-img">
        <img [src]="urlBase + '/api/v2/ebooking/professionals/' + data.professionalId + '/image-url'" alt="user">
      </div>
      <div class="box-info-citas-details">
        <div class="citas-detail-title">
          <h4>DR(A). {{ data.professionalName }} {{ data.professionalLastName1 }} {{ data.professionalLastName }}</h4>
        </div>
        <div class="citas-detail-table">
          <div class="box-info-data">
            <div class="box-info-data-item">
              <p>Especialidad:</p>
              <p>{{ data.basicServiceDescription }}</p>
            </div>
            <div class="box-info-data-item">
              <p>Sede:</p>
              <p>{{data.centerName}}</p>
            </div>
            <div class="box-info-data-item">
              <p>Fecha:</p>
              <p>{{data.appointmentDateTime }}</p>
            </div>
            <div class="box-info-data-item">
              <p>Hora:</p>
              <p>{{data.hour}}</p>
            </div>
            <div class="box-info-data-item" *ngIf="data.provisionId === 845337">
              <p>Teleconsulta:</p>
              <p (click)="getpermissions()">
                <button type="button" class="btn btn-danger" style="background:red; ">
                  <!-- <img src="./assets/img/icons/camera.svg" alt="" style="width:30px;"> -->
                  INICIAR TELECONSULTA
                </button>
              </p>
            </div>
            <div>
              <qr-code [value]="data.dataString" [size]="300"></qr-code>
          </div>
          </div>
          <div class="citas-detail-button">
            <button (click)="openAlert()" *ngIf="data.provisionId !== 845337">CANCELAR CITA</button>
          </div>
          <div class="citas-detail-button">
            <button *ngIf="data.provisionId === 845337" (click)="openIndications()">CITA NO CANCELABLE</button>
          </div>
        </div>
      </div>
    </div>

    <div style="margin: auto;
      margin-top: 82px;" class="preloader" *ngIf="preloader">
      <mat-progress-spinner [color]="color" [mode]="mode" [diameter]="70">
      </mat-progress-spinner>
      <br>
      <br>
      <p class="text-small">Estamos cargando detalles de la cita</p>
    </div>
    <div style="text-align:center" class="button-back">
      <a [routerLink]="[ '/mis-citas']">
        <img src="assets/img/sacar-cita/back-page.svg" width="45" height="45" alt="">
      </a>
    </div>
    <br>
    <br>
    <br>
  </div>

</div>