<div class="box-content-code-main">
  <div class="box-content-reservas">
    <section class="box-register aviva-cuida-section content-box-info container-fluid">
      <div class="row">
        <div class="col-12 col-lg-4 padding">
          <div class="box-header">

            <p>Hemos enviado un código de validación con el que podrás recuperar tu cuenta</p>
            <div class="vector-orange">
              <div class="circle"></div>
            </div>
            <div class="vector-orange-horizontal">
              <div class="circle"></div>
            </div>
          </div>
        </div>

        <div class="col-12 col-lg-7 offset-lg-1">
          <section class="box-error box-register content-box-info">
            <div class="box-specialty">
              <h2>INGRESA EL CÓDIGO ENVIADO</h2>
            </div>
            <div class="box-info-inputs container-input-validation">
              <div class="box-input">
          
                <input (keyup)="valida()" [ngClass]="{'box-input-load': loaderSession, 'box-input-error' : serviceError}" [disabled]="loaderSession" autocomplete="off" [ngClass]="{'box-input-error': serviceError}" type="tel" [(ngModel)]="date1" name="dateUno"
                  maxlength="1" autofocus="autofocus" tabindex="1">
              
                <input (keyup)="valida()" [disabled]="loaderSession" autocomplete="off" [ngClass]="{'box-input-error': serviceError}" type="tel" [(ngModel)]="date2" name="datoDos"
                  maxlength="1" tabindex="2">
                <input (keyup)="valida()" [disabled]="loaderSession" autocomplete="off" [ngClass]="{'box-input-error': serviceError}" type="tel" [(ngModel)]="date3" name="datpTres"
                  maxlength="1" tabindex="3">
                <input (keyup)="valida()" [disabled]="loaderSession" autocomplete="off"[ngClass]="{'box-input-error': serviceError}" type="tel" [(ngModel)]="date4" name="datoCuatro"
                  maxlength="1" tabindex="4">
              </div>
              <div style="margin-bottom: 13px;" *ngIf="serviceError" class="error">
                El código ingresado no es valido, por favor vuelva a intentarlo
              </div>
              <a  style="    margin-top: 0;
              margin-bottom: 12px;" class="sub volver-validate">Volver a enviar el código</a>
            </div>
          </section>

                       <!-- INPUTS -->
<div class="inputs-free">
    <div class="modal box-modal-register">
        <div class="box-content-form">
        <!-- PASSWORD -->
          <div class="content-box-input">
          <div class="box-input" [ngClass]="{'box-input-load': loaderSession}">
          <label [ngClass]="{ 'input-active' : password != '' }">Crear nueva contraseña</label>
          <input (keydown)="noPuntoComa($event)" [disabled]="loaderSession" autocomplete="off" type="text" (click)="activeRepeatPass()" [(ngModel)]="password" (keyup)="validatePass()">
          <div [ngClass]="{'icon2 check': passwordValidate}"></div></div>
          <!-- REQUISITOS -->
          <div class="box-validator" [ngClass]="{'box-validator-active': activeRepeat, 'box-validator-desactive' : !activeRepeat}">
          <div class="title"><img width="15" src="assets/svg/info.svg" alt=""><h4>Tu contraseña debe tener</h4></div>
          <ul>
          <li><div class="ico-small state" [ngClass]="{'check': mayor}"></div><p class="text blue">Al menos 8 caracteres</p></li>
<!--           <li><div class="ico-small state" [ngClass]="{'check': mayus}"></div><p class=" text blue">Al menos una mayúscula</p></li>
          <li><div class="ico-small state" [ngClass]="{'check': isNum}"></div><p class="text blue">Al menos un número</p></li> -->
          </ul>
          </div>
          </div>
        <!-- REPEAT PASSWORD --> 
          <div class="box-input" [ngClass]="{'box-input-load': loaderSession}">
          <label [ngClass]="{ 'input-active' : passwordRepeat != '' }">Repetir contraseña nueva</label>
          <input (keydown)="noPuntoComa($event)" [disabled]="loaderSession" autocomplete="off" type="text" name="passwordrepeatt" [(ngModel)]="passwordRepeat" (keyup)="passRepeatKey()">
          <div *ngIf="passwordRepeatReadyValidate" [ngClass]="{'icon2 check': passwordRepeatValidate , 'icon error': !passwordRepeatValidate}"></div>
          </div>
        </div>
    </div>
      <!-- EN INPUTS -->
 
  </div>
  <a *ngIf="!loaderSession" class="enviar-validate">
      <button [disabled]="validateAllInputs()" *ngIf="!loaderSession" (click)="sendCodeRecovery()" mat-raised-button
      color="primary">RECUPERAR</button>
    </a>

    <div *ngIf="loaderSession" style="min-height: 59px;
    max-width: 371px;
    height: auto;
    width: 100%;
    padding: 5px;
    margin-top: 10px;" class="preloader">
        <mat-progress-spinner
        [color]="color"
        [mode]="mode" [diameter]="30">
        </mat-progress-spinner>
    </div>

    <br>
    <br>
        </div>
      </div>
    </section>
  </div>
</div>
