.bar-progress
    width: 100%
    height: 51px
    background-color: #0E4B6C
    border-bottom: 1px solid #6fb7d2
    .box-progress
        display: flex
        align-items: center
        justify-content: center
        height: 100%
        .step1,.step2
            color: white
            width: 100px
            width: 28px
            text-align: center
            span
                font-size: 9px
            .circle
                height: 15px
                width: 15px
                background-color: rgba(255,255,255,0.5)
                border-radius: 100px
                margin: auto
        .line
            height: 1px
            width: 50px
            background-color: white
            margin-top: -16px
        .active
            .circle
                display: flex
                align-items: center
                justify-content: center
                background-color: #EB954D
                .circle-small
                    height: 5px
                    width: 5px
                    background-color: #FFFFFF
                    border-radius: 100px
        .ready
            .circle
                display: flex
                align-items: center
                justify-content: center
                background-color: #062F51
                .circle-small
                    display: none