<div class="bar-progress">
  <div class="box-progress">

    <div [ngClass]="{'active' : dataObs.data1, 'ready' : dataObs.data2}" class="step1">
      <div class="circle">
        <div *ngIf="dataObs.data1" class="circle-small">
        </div>
        <img *ngIf="dataObs.data2" width="7" src="assets/img/sacar-cita/check2.svg" alt="">
      </div>
      <span>Paso 1</span>
    </div>

    <div class="line"></div>

    <div [ngClass]="{'active' : dataObs.data2}" class="step1">
        <div class="circle">
          <div class="circle-small">
          </div>
        </div>
        <span>Paso 2</span>
      </div>

  </div>
</div>
<router-outlet></router-outlet>
