<div class="box-container-loging">
  <div class="close" (click)="onClickNo()"></div>
  <div class="box-popup-login">
    <div class="modal box-login">
      <h3>¿ Esta seguro/a que quiere eliminar a este dependiente?</h3>
      <div class="box-content-login">
        <!-- <h3
          [ngClass]="{'colorCuida': message.page === 'aviva-cuida', 'colorCura' : message.page === 'aviva-cura', 'colorAviva' : message.page === 'home'}">
          {{message.message}}</h3> -->
        <div style="    
              width: 100%;
              max-width: 478px;
              display: flex;
              align-items: center;
              justify-content: space-between;" class="box-but">
          <button mat-raised-button color="primary" (click)="deleteParent()">SI</button>
          <button mat-raised-button color="primary" (click)="cancelModal()">NO</button>
        </div>
        <!-- <div *ngIf="loaderSession" class="preloader">
          <mat-progress-spinner [color]="color" [mode]="mode" [diameter]="30">
          </mat-progress-spinner>
        </div> -->
      </div>

      <div *ngIf="showNewInfo" style="min-height: 178px;" class="box-content-login">
        <h3
          [ngClass]="{'colorCuida': message.page === 'aviva-cuida', 'colorCura' : message.page === 'aviva-cura', 'colorAviva' : message.page === 'home'}">
          ESTE DEPENDIENTE HA SIDO ELIMINADO</h3>

      </div>
    </div>

  </div>



</div>