<div class="tab-planes-programas">
    <div class="tab-pyp tab-pyp-active">
        
        <img style="max-width: 130px" width="130" height="25"  src="assets/avivacuida_logo-color.svg" alt="doctor" />
  
    </div>
  </div>
  <!-- [ngClass]="{'expande': !moreInfo}" -->
  <div style="overflow: hidden; height: auto;">

   <!-- BOX CURA -->
   <div>
   <div class="tab-list-doctores">
      <div class="list-eyp-doctores-items">
        <!-- BOX DOCTORS -->
        <div *ngFor="let item of dataLimit"  class="list-eyp-doctores-item" [routerLink]="['/especialidades-doctores/details-doctors', item.service.id ,item.id]">
          <div>
              <img *ngIf="item.info" width="54" height="51"  src="{{urlBaseAlter + item.info.imageUrl}}" alt="doctor" />
          </div>
          <div>
            <p>{{item.surname1}} {{item.surname2}}, <span>{{item.name}}</span></p>
            <span style="text-transform: lowercase;">{{item.service.description}}</span>
          </div>
          <div>
            <span></span>
          </div>
        </div>
       <!-- BOX DOCTORS -->
      </div>
    </div>
  </div>
</div>
    <!-- BOX CURA -->

    <div *ngIf="showButton" class="container">
        <div class="row">
            <button *ngIf="!moreInfo2"  (click)="changeTable()" style="margin: 20px auto; border-radius: 0 15px 0 0;" class="btn-tabs-pe">VER MÁS</button>
            <button *ngIf="moreInfo2" (click)="changeTable2()" style="margin: 20px auto; border-radius: 0 15px 0 0;" class="btn-tabs-pe">VER MENOS</button>
        </div>
        
      </div>