<div class="container-tyc">
    <div class="container">
      <div class="col-md-8 col-12">
        <div class="title-tyc">
          <h2>Términos y condiciones</h2>
        </div>
        <div class="text-tyc">
          <p>
              Los siguientes términos y condiciones de uso (en adelante, "Términos") son un acuerdo legal entre el usuario y Centros de Salud Peruanos S.A.C., RUC N° con RUC N°20602393934, con domicilio en Jirón Carlos Villarán N°611, Urbanización Santa Catalina, Distrito de La Victoria, Provincia y Departamento de Lima, Perú (en adelante "CSP" o "nosotros", " nos” o "nuestro "), para establecer el marco legal y contractual aplicable a la promoción ofrecida consistente en un descuento de 40% del costo de la primera consulta médica (es decir, “Primera cita a 30 soles”).

Se entiende como “primera cita” a la consulta médica que realiza el usuario o su dependiente directo en cualquier especialidad ofrecida por CSP en su local denominado CLÍNICA AVIVA -SEDE MENDIOLA, ubicado en Av. Alfredo Mendiola N° 6301, distrito de Los Olivos, Lima (en adelante, “La Clínica”); con cualquier médico de los que figuran en el listado de profesionales expuesto a través de las diferentes plataformas de difusión de La Clínica; siendo esta oportunidad la primera en la que el usuario utiliza los servicios médicos de La Clínica, dándose apertura a su Historia Clínica Electrónica.

Una vez completados los datos del formulario web y recibidos por CSP, el usuario podrá reservar la cita para él o su dependiente directo por cualquiera de los medios habilitados para programación de citas (página web, app, counter, call center), dentro del horario de atención de La Clínica, sin indicación alguna sobre la promoción. La oferta es válida para programar citas hasta el día 15 de diciembre de 2019, sujetas a disponibilidad de horarios de atención del médico o la especialidad elegida. 

En la fecha programada, el usuario o su dependiente directo deberá acercarse al Módulo de Admisión de La Clínica portando su DNI (o DNI del dependiente directo) y cancelar el monto de 30 soles, el cual incluye únicamente la consulta médica. No incluye procedimientos, medicinas o cualquier gasto relacionado. La Clínica no exigirá pago adicional alguno salvo prescripción médica y aceptación expresa del usuario.

La promoción es personal e intransferible (salvo el caso del dependiente directo) y válida por única vez por persona. No podrá ser utilizada por dos personas distintas para el mismo dependiente. Las consultas o procedimientos posteriores a la primera consulta, serán cobrados a las tarifas establecidas por La Clínica.

Los datos personales que el usuario proporcione para hacer efectiva la promoción, podrían contener datos sensibles. En vista de ello, el usuario autoriza a CSP a recopilar y dar tratamiento (por sí mismo o a través de terceros) a sus datos personales, para que incluso pueda elaborar bases de datos con la información proporcionada. En ese sentido, a fin de dar tratamiento a la información conforme se indica en este documento, el usuario otorga a CSP su consentimiento libre, previo, expreso, inequívoco e informado, para que (por sí mismo o a través de terceros) pueda: recopilar, registrar, organizar, almacenar, conservar, elaborar, modificar, bloquear, suprimir, extraer, consultar, utilizar, transferir, exportar, importar o procesar (tratar) de cualquier otra forma sus datos personales, conforme a Ley. El usuario declara conocer que los datos pueden ser alojados en plataformas cuyos servidores se encuentren en el extranjero, consintiendo el flujo transfronterizo de sus datos. Esta autorización es indefinida y estará vigente hasta que el usuario la revoque, comunicando su decisión por escrito a CSP quien podrá informarle a través de cualquier medio de comunicación, sobre otros canales para que puedan hacer efectiva la revocatoria.

Estos Términos se regirán e interpretarán de acuerdo con las leyes de la República del Perú. Asimismo, el Usuario declara su conformidad de someter cualquier discrepancia a la jurisdicción de los jueces y tribunales de la Corte Superior de Justicia de Lima Norte.
Lima, OCTUBRE 2019.

          </p>
        </div>
  
      </div>
    </div>
  </div>
  