@font-face {
    font-family: avenir;
    src: url(src/fonts/AvenirLT95-Black.ttf)format("opentype");
  }
  @font-face {
    font-family: avenir_black;
    src: url(src/fonts/Avenir-LT-Std-85-Heavy_5177.ttf)format("opentype");
  }
p {
    color:#20678B;
    margin-top:20px;
    font-weight: 200;
    padding-left:20px;
    padding-right: 20px;
    font-size: 1.1em;
    span{
        font-weight: 800!important;
        color:#1d5977;
        font-size: 1.1em;
    }
    @media (max-width: 600px) {
        font-size:.9em;
    }
}
h2{
    text-align: center;
    color:#20678B;
    font-size: 1.3em;
}
ul{
    margin-top: 20px;
    li{
        color:#20678B;
        margin-top: 20px;
    }
}
.mascara{
    width:230px;
    height: auto;
    margin-right:100px;
    text-align: left!important;
    margin-top:20px;
    @media (max-width: 600px) {
        width: 100px;
        margin-right: 20px;
      
    }
}
.textoNuevaClinica{
    font-weight: 900;
    font-size:3.4em;
    margin-top:20px;
    font-family: avenir;
    @media (max-width: 600px) {
          font-size: 1.5em;
            font-weight: 900;
            width:100%;
      }
}
.center{
    text-align: center;
}
.logo{
    width:200px;
    text-align: center;
    @media (max-width: 600px) {
       width: 150px;
      
    }
}
.resolucion{
    width:60%;
    margin-left:20%;
    text-align: center;
    margin-bottom:20px;
    @media (max-width: 600px) {
        width:90%;
        margin-left:5%;
       
     }
}
.slogan, span{
    font-size:1.3em;
    font-size: avenir;
    font-weight: 900;
    @media (max-width: 600px) {
        font-size: 1em;
          font-weight: 900;
    }
}
.tusegu{
    font-size: 1.1em;
    font-weight: 600;
    font-family: avenir;
}
.border{
    border: 3px solid #20678B;
    border-top-right-radius: 35px;

}