
<div class="box-container-loging">
    <div class="close" (click)="onClickNo()"></div>
    <div class="border">
        <div class="row">
            <div class="col-7">
                <p class="textoNuevaClinica">
                    Nueva medida de ingreso a clínica
                </p>
            </div>
            <div class="col-5">
                <img class="mascara" src="assets/covid/mascarilla.png" alt="">
            </div>
            <div class="col-12 center" >
                <p class="tusegu">Tu seguridad nos importa</p>
                <p>Seguimos cuidando de ti y tu familia contra la COVID 19, por eso, <br>
                    además del uso de la mascarilla, el distanciamiento social y <br>
                    el lavado de manos, ahora debes usar de manera obligatoria un <br>
                    <span>Protector facial.</span> <br>
                    ¡Mitigar la segunda ola es tarea de todos!
                </p>
                <p class="slogan">Más que una clínica, somos aviva</p>
            </div>
        </div>
        <div class="col-12 center ">
            <img class="logo" src="assets/covid/logo.png" alt="">
        </div>
        <div class="col-12">
            <img class="resolucion" src="assets/covid/resolucion.png" alt="">
        </div>
       
    </div>
</div>
