
<div class="box-content-reservas cura-cuida">

  <section class="content-box-info container-fluid">
    <div class="row">
      <div class="col-1">
        <div (click)="backLink()" style="height: 50px; width:50px;margin-top:30px;">
          <img src="assets/img/sacar-cita/back-page.svg" width="45" height="45" alt="">
          </div>
      </div>
     <div class="col-11">
       <h3 style="color:#fff; text-align: center; font-size:2em; margin-top:40px; margin-bottom:50px;">Bienvenidos al Tour Virtual del Centro Médico Materno Clínica Aviva</h3>
     </div>  
<!--       <div class="col-12 col-lg-7 offset-lg-2">
        <div class="cont-box">
        <div class="box-cura boxes">
  
          <div style="padding: 20px 20px" class="box-content-cura">
            <img src="assets/img/sacar-cita/avivacura_logo.svg" alt="">
            <div class="box-texto" [innerHtml]="data.cuidaDescription"></div>
            <a [routerLink]="['/reservas/avivacura/selecciona-doctor', data.curaId, data.slug]" id="a-paso1-Ir_Aviva_Cuida_Paso1"><button>ELEGIR</button></a>
          </div>
          
        </div>
      <div class="box-cuida boxes">
        <div style="padding: 20px 20px" class="box-content-cuida">
          <img src="assets/img/sacar-cita/avivacuida_logo.svg" alt="">
            <div class="box-texto" [innerHtml]="data.cuidaDescription">
            </div>
            <a [routerLink]="['/reservas/avivacuida/selecciona-doctor', data.cuidaId, data.slug]" id="a-paso1-Ir_Aviva_Cuida_Paso1"><button>ELEGIR</button></a>
        </div>
      </div>
      
  
    </div>
    <div style="text-align: center;
    margin-top: 40px;" (click)="backLink()" class="button-back">
      <img src="assets/img/sacar-cita/back-page.svg" alt="">
      </div>
    </div> -->
    <div class="col-1"></div>
    <div class="col-10">
      <iframe width="100%" height="600" style="width: 100%; height: 640px; border: none; max-width: 100%;" frameborder="0" allowfullscreen="true" 
              allow="vr,gyroscope,accelerometer,fullscreen" scrolling="no" 
              src="https://kuula.co/share/collection/7lXqB?fs=1&vr=1&sd=1&initload=0&thumbs=1&chromeless=1&logo=0">
      </iframe>
    </div>
    <div class="col-1"></div>
  </div>
  </section>
  </div>
  <app-footer></app-footer>
