
    <div style="height: 65px;" class="tab-planes-programas">
      <div (click)="changeTabDoctor()" class="tab-pyp tab-pyp-active" [ngClass]="{'tab-pyp-active': active}">
          <img *ngIf="active" style="max-width: 130px" width="130" height="25" src="assets/avivacuida_logo-color.svg" alt="doctor" />
          <img *ngIf="!active" style="max-width: 130px" width="130" height="26" src="assets/img/sacar-cita/avivacuida_logo.svg" alt="doctor" />
          
      </div>
      <div (click)="changeTabDoctor()" class="tab-pyp"[ngClass]="{'tab-pyp-active': !active}">
          
          <img *ngIf="!active" style="max-width: 130px" width="130" height="28" src="assets/avivacura_logo-color.svg" alt="doctor" />
          <img *ngIf="active" style="max-width: 130px" width="130" height="28" src="assets/img/sacar-cita/avivacura_logo.svg" alt="doctor" />
      </div>
    </div>

    <!-- BOX CUIDA -->
 
    <div style="overflow: hidden; height: auto;">


    <div >
    <div *ngIf="active" class="tab-list-doctores">
      <div class="list-eyp-doctores-items">
        <!-- BOX DOCTORS -->
        <div *ngFor="let item of dataLimit" class="list-eyp-doctores-item" [routerLink]="['/especialidades-doctores/details-doctors', item.service.id ,item.id]">
          <div>
            <img  *ngIf="item.info" height="54" width="54" src="{{urlBaseAlter + item.info.imageUrl}}" alt="doctor" />


          </div>
          <div>
              <p>{{item.surname1}} {{item.surname2}} <span>{{item.name}}</span></p>
              <span style="text-transform: lowercase;">{{item.service.description}}</span>
          </div>
          <div>
            <span></span>
          </div>
        </div>
       <!-- BOX DOCTORS -->
      </div>
    </div>
  </div>
    <!-- BOX CUIDA -->

     <!-- BOX CURA -->
     <div>
     <div *ngIf="!active" class="tab-list-doctores">
        <div class="list-eyp-doctores-items">
          <!-- BOX DOCTORS -->
          <div *ngFor="let item of dataLimitCura"  class="list-eyp-doctores-item" [routerLink]="['/especialidades-doctores/details-doctors', item.service.id ,item.id]">
            <div>
                <img *ngIf="item.info" width="54" height="54"  src="{{urlBaseAlter + item.info.imageUrl}}" alt="doctor" />
            </div>
            <div>
              <p>{{item.surname1}} {{item.surname2}} <span>{{item.name}}</span></p>
              <span style="text-transform: lowercase;">{{item.service.description}}</span>
            </div>
            <div>
              <span></span>
            </div>
          </div>
         <!-- BOX DOCTORS -->
        </div>
      </div>
    </div>
  </div>
      <!-- BOX CURA -->
      <div *ngIf="showButton && active" class="container">
        <div class="row">
            <button *ngIf="!moreInfo"  (click)="changeTable('cuida')" style="margin: 20px auto; border-radius: 0 15px 0 0;" class="btn-tabs-pe">VER MÁS</button>
            <button *ngIf="moreInfo" (click)="changeTable2('cuida')" style="margin: 20px auto; border-radius: 0 15px 0 0;" class="btn-tabs-pe">VER MENOS</button>
        </div>
        
      </div>

      <div *ngIf="showButtonCura && !active" class="container">
          <div class="row">
              <button *ngIf="!moreInfo2"  (click)="changeTable('cura')" style="margin: 20px auto; border-radius: 0 15px 0 0;" class="btn-tabs-pe">VER MÁS</button>
              <button *ngIf="moreInfo2" (click)="changeTable2('cura')" style="margin: 20px auto; border-radius: 0 15px 0 0;" class="btn-tabs-pe">VER MENOS</button>
          </div>
          
        </div>