    <!-- box tap -->
    <div class="tab-pyp-container">
      <div class="tab-planes-programas">
        <a
          *ngFor="let item of newData.planServices; let i = index"
          id="{{ i }}"
          (click)="showPlan($event)"
        >
          <div [ngClass]="{ 'tab-pyp-active': show === i }" class="tab-pyp">
            <p>{{ item.name }}</p>
          </div></a
        >
      </div>

      <div *ngFor="let item of newData.planServices; let ii = index">
        <div style="max-width: 100%"
          *ngIf="show === ii"
          id="{{ ii }}"
          class="tab-content-pyp tab-content-100"
        >
          <div class="container">
            <div class="row">
              <div
                *ngFor="let items of item.planPrograms"
                class="col-12 col-md-4 p-0 border-buttom"
              >
                <div (click)="openModal('details', items, item.comparisonTable )" class="content-card-programa ">
                  <div class="card-img">
                    <!-- <img src="" alt=""> -->
                    <div>
                      <img src="{{ items.icon }}" width="80" height="80" alt="" />
                    </div>
                  </div>
                  <div class="card-content-monto">
                    <p>{{ items.name }}</p>
                    <p><span>S/ </span>{{ items.price }}</p>
                  </div>
                  <div class="card-content-button">
                    <span class="row-span"></span>
                    <button class="btn-tabs-pe">VER MÁS</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="ver-cuadro-comparativo">
              <span (click)="openModal('comparador', item.comparisonTable)">COMPARAR PROGRAMAS</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- box tab -->
  
  
