<div class="box-content-code-main">
  <div class="box-content-reservas">
  <section class="box-register aviva-cuida-section content-box-info container-fluid">
      <div class="row">
        <div class="col-12 col-lg-4 padding">
          <div class="box-header">
       
          <p>Hemos enviado un código de validación a tu correo</p>
          <div class="vector-orange">
            <div class="circle"></div>
          </div>
          <div class="vector-orange-horizontal">
            <div class="circle"></div>
          </div>
          </div>
        </div>
    
      <div class="col-12 col-lg-7 offset-lg-1">
        <section class="box-error box-register content-box-info">
          <div class="box-specialty">
            <h2>INGRESA EL CÓDIGO DE ENVIADO</h2>
          </div>
          <div class="box-info-inputs container-input-validation">
                <div class="box-input">
                  <input (keyup)="valida()" [ngClass]="{'box-input-error': serviceError}" inputmode="numeric" type="tel" [(ngModel)]="date1" name="dateUno" maxlength="1"  autofocus="autofocus" tabindex="1">
                  <input (keyup)="valida()" [ngClass]="{'box-input-error': serviceError}" inputmode="numeric" type="tel" [(ngModel)]="date2" name="datoDos" maxlength="1" tabindex="2">
                  <input (keyup)="valida()" [ngClass]="{'box-input-error': serviceError}" inputmode="numeric" type="tel" [(ngModel)]="date3" name="datpTres" maxlength="1" tabindex="3">
                  <input (keyup)="valida()" [ngClass]="{'box-input-error': serviceError}" inputmode="numeric" type="tel" [(ngModel)]="date4" name="datoCuatro" maxlength="1" tabindex="4">
                </div>
                <div *ngIf="serviceError" class="error">
                  El código ingresado no es valido, por favor vuelva a intentarlo
                </div>
                <a class="enviar-validate"><button (click)="sendResssgister()" id="button-registro-enviar-codigo" mat-raised-button color="primary">ENVIAR</button></a>
                <a (click)="sendAgainEmail()" class="sub volver-validate">Volver a enviar el correo</a>
          </div>
        </section>
      </div>
      </div>
    </section>
  </div>
  </div>