.tituloFamiliares {
    margin-top: 30px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 2em;
    color: #20678B;
}

.card {
    background-color: #fff;
}

.tarjetaDepes {
    background-color: #fff;
    height: 100px;
    margin-bottom: 10px;
    border-top-right-radius: 20px;

}

.containerCards {
    margin-top: 50px;
}

.contentParents {
    text-align: left;
    margin-top: 10px;
}

.nombrePariente {
    color: #20678B;
    font-weight: 600;
    text-align: left;
    font-size: 1.2em;
}

.relationPariente {
    color: #20678B;
    font-weight: 600;
    text-align: left;
    margin-bottom: 20px;
}

.hombre {
    width: 50px;
    margin-left: 20px;
    margin-top: -10px;
}

.iconClose {
    color: red;
    font-weight: 600;
    margin-top: 15px;
    margin-right: 10px;
    text-align: right;
}