<div class="container-fluid">
  <div class="col-sm-12 col-1g-12 col-md-12">
    <div class="card">
      <div class="card-body">
        <h3 class="tituloFamiliares">Mis Familiares Registrados</h3>
      </div>
    </div>
    <div class="row containerCards">
      <div class="col-sm-6 col-lg-3 col-md-3" *ngFor="let depe of parents">
        <div class="contentParents">
          <div class="card">
            <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-12 containerIconClose">
                <p class="iconClose" (click)="deleteDependent(depe)"> X</p>
              </div>
              <div class="col-sm-3 col-md-3 col-lg-3 avatar">
                <img class="hombre"
                  src="https://static.vecteezy.com/system/resources/previews/000/652/388/non_2x/head-of-cute-little-boy-avatar-character-vector.jpg">
              </div>
              <div class="col-sm-9 col-lg-9 col-md-9">
                <h3 class="nombrePariente">{{depe.name}} {{depe.surname1}}</h3>
                <p class="relationPariente">{{depe.relation.name}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-lg-6 offset-lg-3">
      <button class="btn btn-success btn-rounded btn-outline" (click)="createParent()">
        Agregar Familiar
      </button>
    </div>

  </div>
</div>