

<div class="box-content-eyp" >
  <div class="tabs-content-eyp-especialidades" *ngIf="showSpecialty">
    <ul>
      <li *ngFor="let item of dataSpecialty">
        <a id="{{'li-ver-especialidades-'+item.slug}}" [routerLink]="[ '/especialidades-doctores/especialidades-details', item.id, item.slug ]">
          <!-- <a id="{{'li-ver-especialidades-'+item.slug}}"  (click)="goToService(item.id, item.slug)"> -->
          <img width="20" height="20" [defaultImage]="defaultImage" [lazyLoad]="item.icon" />
          <p>{{item.title}}</p>
          <span></span>
        </a>
      </li>
    </ul>
  </div>
</div>
<!--/ tabs content -->
<div style="    margin: auto;
margin-top: 82px;" class="preloader" *ngIf="preloader">
    <mat-progress-spinner
    [color]="color"
    [mode]="mode" [diameter]="70">
    </mat-progress-spinner>
    <br>
    <br>
    <p class="text-small">Estamos cargando las especialidades</p>
</div>
