<div class="box-container-loging">
    <div class="close" (click)="onClickNo()"><a style="    display: block;
    width: 100%;
    height: 30px;
    z-index: 100;" id="header_Ir_Iniciar_Sesion_Header_Cerrar"></a></div>
</div>

<div>
    <div class="modal box-login">
        <div class="box-content-login">

            <h3 class="colorCura">
                ¿OLVIDASTE TU CONTRASEÑA?</h3>
            <p>Te enviaremos un correo para que puedas recuperarla</p>

            <!-- INPUT EMAIL -->
            <div class="box-input" [ngClass]="{'box-input-load': loaderSession, 'box-input-error' : serviceError}">
                <label [ngClass]="{ 'input-active' : email != '' }">Correo electrónico</label>
                <input [disabled]="loaderSession" autocomplete="off" type="text" [(ngModel)]="email"
                    (keyup)="onkeyBlurEmail()">
                <div *ngIf="validate" [ngClass]="{'icon2 check': emailValidate, 'icon error': emailValidate === false}">
                </div>
                <span *ngIf="serviceError" class="notifiValidate">El correo no esta registrado en el sistema</span>
            </div>
            <br>
            <button [disabled]="!emailValidate" *ngIf="!loaderSession" mat-raised-button color="primary"
                (click)="sendRecover()">ENVIAR</button>
            <div *ngIf="loaderSession" class="preloader">
                <mat-progress-spinner [color]="color" [mode]="mode" [diameter]="30">
                </mat-progress-spinner>
            </div>

        </div>
    </div>
</div>

<!-- 
<div mat-dialog-actions>
  <button mat-button (click)="onClickNo()">NO</button>
  <button mat-button [mat-dialog-close]="true">SI</button>
</div> -->