<div class="box-content-planes-programas" @fadeIn>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-lg-4">
        <div class="box-title-planes-programas">
          <h1>PROGRAMAS DE SALUD</h1>
          <p>Pensando en tu salud y la de tu familia, te presentamos:</p>
          <div class="vector-orange">
            <div class="circle"></div>
          </div>
          <div class="vector-orange-horizontal">
            <div class="circle"></div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-8">
        <div *ngIf="!preloader" class="box-content-planes">
          <div *ngFor="let item of dataPlans" class="box" >
              <img src="{{item.images.homeDesktop}}" width="343" height="320"/>
              <a [routerLink] = "[item.slug]">
            <div class="box-title">
              <div class="ico-next">
                <h3>{{item.name}}</h3>
                <P>{{item.listDescription}}</P>
                <button id="{{'button-planes-y-programas-' + item.slug}}">VER MÁS</button>
              </div>
            </div>
          </a>
          </div>
        </div>
        <div style="    height: 81vh;
        width: 100%;
        max-width: 101%;"  class="preloader" *ngIf="preloader">
            <mat-progress-spinner
            [color]="color"
            [mode]="mode" [diameter]="70">
            </mat-progress-spinner>
            <br>
            <br>
            <p class="text-small">Estamos cargando los planes y programas</p>
        </div>
      </div>
    </div>
  </div>
</div>
