<div class="box-container-loging">
  <div class="close" (click)="onClickNo()"></div>
  <div class="box-popup-login">
    <div class="modal box-login">
          <div class="box-content-login">
              <h3 [ngClass]="{'colorCuida': message.page === 'aviva-cuida', 'colorCura' : message.page === 'aviva-cura', 'colorAviva' : message.page === 'home' || message.page === 'reserva-doctor'}">{{message.message}}</h3>
              <button  mat-raised-button color="primary" (click)="onClickNo()">{{message.messageButton}}</button>
          </div>
    </div>
    
  </div>
  
    
  
  </div>