<nav style="background-color: white;" class="container-fluid"
>
  <!-- START NAV DESKTOP -->
  <div class="nav-dekstop">
    <div class="img-log-aviva" id="div-header-Ir_Home_Header">
      <a [routerLink]="['/']" id="a-header-Ir_Home_Header">
        <img src="assets/svg/logo.svg" alt="" />
      </a>
    </div>
    <ul>


      <li  class="close">
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          viewBox="0 0 300 300" style="enable-background:new 0 0 300 300;" xml:space="preserve">
       <path class="st0" d="M270.2,285c-6,9.1-16.3,14.4-27.3,13.8c-11-0.6-25.1-2.2-34.8-4.7C164.8,282.8,120,255.8,82,217.8
         C44,179.9,17.1,135,5.8,91.7C3.2,82,2,68.2,1.1,57.2c-0.6-10.7,4.4-21,13.5-27L53.1,4.5C63.2-2.1,76.7,1.4,82,12l31.4,60.6
         c4.4,8.5,2.2,19.1-5.3,25.1l-28.2,22c11.3,21,22,38,42.7,58.4c19.1,19.1,35.8,30.4,57.4,42l22.3-28.5c6-7.5,16.6-10,25.1-5.3
         l60.9,31.4c10.7,5.3,14.1,18.8,7.5,28.9L270.2,285z"/>
       </svg>
        (01) 7154600
      </li>
    </ul>
  </div>
  <!-- END NAV DESKTOP -->
  <!-- START NAV  MOVIL -->
  <div class="content-nav-mobil">
    <div class="row">
      <div class="col-3">
        <div class="icons" style="justify-content: flex-end;">
  </div>
</div>

      <div class="col-6">
        <div class="img-log-aviva" id="div-header-Ir_Home_Header">
          <a [routerLink]="['/']" id="a-header-Ir_Home_Header">
            <img style="width: 105px;" src="assets/svg/logo.svg" alt="" />
          </a>
        </div>
      </div>
      <div class="col-3">
        <div style="justify-content: flex-end;" class="icons">
          <a href="tel:017154600">
            <svg
              version="1.1"
              id="Layer_1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              x="0px"
              y="0px"
              viewBox="0 0 300 300"
              style="enable-background:new 0 0 300 300; width: 26px; margin-right: 0px"
              xml:space="preserve"
            >
              <path
                class="st0"
                d="M270.2,285c-6,9.1-16.3,14.4-27.3,13.8c-11-0.6-25.1-2.2-34.8-4.7C164.8,282.8,120,255.8,82,217.8
                C44,179.9,17.1,135,5.8,91.7C3.2,82,2,68.2,1.1,57.2c-0.6-10.7,4.4-21,13.5-27L53.1,4.5C63.2-2.1,76.7,1.4,82,12l31.4,60.6
                c4.4,8.5,2.2,19.1-5.3,25.1l-28.2,22c11.3,21,22,38,42.7,58.4c19.1,19.1,35.8,30.4,57.4,42l22.3-28.5c6-7.5,16.6-10,25.1-5.3
                l60.9,31.4c10.7,5.3,14.1,18.8,7.5,28.9L270.2,285z"
              />
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
