.conoce-aviva{
  //HEADER
  background-color: $color-blue01;

.conoce-aviva-header {
  background-image: url("/../../assets/conoce-aviva/conocemas_mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 60vh;
  border-radius: 0 0 100px 0;
  @media (min-width: 1200px) {
    background-image: url("/../../assets/conoce-aviva/conocemas_portada.jpg");
    height: 70vh;
    border-radius: 0 0 200px 0;
  }
  @media (min-height: 1200px) {
    height: 50vh;
  }
  .conoce-aviva-box-text {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    @media (min-width: 1200px) {
      height: 70vh;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
    }
    div {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      width: 90%;
      padding-top: 30px;
      @media (max-width: 320px) {
        padding-top: 50px;
      }
      @media (min-width: 1200px) {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        width: 40%;
        background-color: $color-blue03;
        height: 50%;
        padding: 3% 3% 3% 5%;
        border-radius: 0 0 170px;
      }

       @media (min-width: 1450px) {
  
        height: 40%;
        max-width: 700px;
      }

      h2 {
        font-size: 27px;
        text-align: center;
        color: $color-white;
        font-family: $avenir-Bold;
        line-height: 1.3;
        
        @media (min-width: 1200px) {
          text-align: start;
          font-size: 42px;
          min-width: 400px;
        }
  
      }
      p {
        line-height: 1.3;
        font-size: 18px;
        font-family: $avenir-LT;
        color: $color-white;
        text-align: center;
        @media (min-width: 1200px) {
          text-align: start;
          font-size: 27px;
          padding: 0;
        }
        @media (min-width: 1200px) {
          font-size: 31px;
        }
      }
    }
  }
}
}


//content
.cotent-conoce-aviva{
  @media (min-width:1200px) {
    background-image: url("/../../assets/conoce-aviva/fondo_azul.jpg");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: top left;
  }
}

.aviva-te-brinda{
  color: $color-white;
  text-align: center;
  padding: 15px 30px 0;

  & > div{
    position: relative;

    .vector-orange-horizontal{
      top: 10px !important;
      right: -45px !important;
      width: 60px !important;
      .circle{
        &::before{
          width: 70px !important;
          left: -85px !important;
        }
      }
    }
  }
  @media (min-width:1200px) {
    text-align: start;
    padding: 180px 0;
  }
  
  h3{
    font-size: 1.2em;
    font-family: $avenir-Bold;
    @media (min-width:1200px) {
      font-size: 2em;
      line-height: 1.3;
    }
  }

  p{
    font-size: 1.2em;
    font-family: $avenir-LT;    
    margin-top: 15px;
    @media (min-width:1200px) {
      font-size: 1.6em;
      margin-top: 20px;
    }
  }
}

.m-4{
  @media (min-width:1200px) {
    margin-top: 50px !important;
  }
}

//swipper

.slider-one-content{
  img{
    width: 100%;
  }
  .slider-one-info{
    position: absolute;
    z-index: 99;
    bottom: 0;
    width: 100%;
    height: 40%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    border-radius: 0 40px 0 0;

    p{
      color: $color-blue01;
      font-family: $avenir-Bold;
      font-size: .8em;
      @media (min-width:330px) {
        font-size: 1em;
      }
    }

    @media (min-width:992px) {
      border-radius: 0 50px 0 0;
      height: 30%;

      p{
        font-size: 1.5em;
        padding: 0 30px;
      }
    }
  }
}

//aviva te ofrece
.aviva-te-ofrece{
  margin-top: 40px;
  position: relative;
}

.aviva-title{
  padding: 20px 0;
  text-align: center;
  color: $color-white;
  h3{
    font-size: 1em;
    font-family: $avenir-Bold;
  }
  @media (min-width:1200px) {
    padding: 30px 0;

    h3{
      font-size: 2em;
    }
  }
}

.slider-one{
  .swiper-container{
    padding-bottom: 50px;
  }
  .swiper-pagination{
    bottom: 20px;
  }
}

.swiper-button-prev, .swiper-button-next, .swiper-button-prev-2, .swiper-button-next-2{
  display: none;
  @media (min-width:992px) {
    display: block;
    
  }
}

.swiper-pagination-bullet-active{
  background: $color-white !important;
}

.swiper-pagination-bullet{
  @media (min-width:992px) {
    width: 9px !important;
    height: 9px !important;
    
  }
}

//nuestros servicios
.nuestros-servicios{
  .aviva-title{
    text-align: center;
  @media (min-width:992px) {
    text-align: start;
  }
  }
}
.ns-content-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  @media (min-width:992px) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 30px 10px;

  }

  .ns-item-grid{
    .ns-item{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-content: center;
      align-items: center;
      background-color: $color-blue-hover;
      border-radius: 0 30px 0 0;
      @media (min-width:992px) {
        border-radius: 0 40px 0 0;
      }
      .ns-item-text{
        padding: 20px 5px;
        width: 50%;
        @media (min-width:992px) {
          padding: 20px 10px;
        }
        p{
          font-size: .7em;
          color: $color-white;
          @media (min-width:992px) {
            font-size: .9em;
          }
        }
      }
      .ns-item-icon{
        padding: 20px 5px;
        width: 50%;
        background-color: $color-white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0 30px 0 0;
        @media (min-width:992px) {
          border-radius: 0 40px 0 0;
        padding: 40px 5px;

        }
        img{
          width: 40px;
          height: 40px;
        }
      }
    }
  }
}

.swiper-container11111, .swiper-container3{
  overflow: hidden;
  position: relative;
}

.swiper-container11111::-webkit-scrollbar,  .swiper-container3::-webkit-scrollbar{ 
  display: none; 
}


//nuestras instalaciones

.nuestras-instalaciones{
  .aviva-title{
    @media (min-width:992px) {
      text-align: left;
    }
  }
}


//google map
.content-google{
  padding-top: 40px;
  background-color: $color-blue01;
  .google-map{
    background-color: $color-beige;
    border-radius: 0 40px 0 0;
    padding: 30px;
    text-align: center;
    color: $color-blue01;
    @media (min-width:1200px) {
      border-radius: 0 100px 0 0;
    
    }
    .google-map-text{
      h4{
        font-size: 1em;
        font-family: $avenir-Bold;
        @media (min-width:1200px) {
            font-size: 2em;
        }
      }
      p{
        font-size: .8em;
        font-family: $avenir-LT;
        margin-top: 20px;
  
        @media (min-width:1200px) {
          font-size: 1.5em;
      }
      }
    }
  
  }
}


.google-map-map{
  margin-top: 40px;
  .map{
    width: 100%;
    height: 411px;
    box-shadow: 0px 3px 13px 0px rgba(0,0,0,0.26);
    background-color: $color-white;
  }
}