<div *ngIf="!preloader">
  <div class="conoce-aviva">
    <div class="conoce-aviva-header">
      <div class="conoce-aviva-box-text">
        <div style="height: auto;">
          <h2 class="ca-box-title">
            Nuestro propósito
            <p>
              es lograr, con trato amable, que más peruanos vivan sanos para
              conquistar sus sueños
            </p>
          </h2>
        </div>
      </div>
    </div>
    <div class="cotent-conoce-aviva">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-4">
            <div class="aviva-te-brinda">
              <h3>En aviva te brindamos un servicio de calidad a tu alcance</h3>
              <div style="position: relative;">
                <p>Para eso contamos con</p>
                <div class="vector-orange-horizontal">
                  <div class="circle"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-8">
            <div class="cont-box-card-aviva">
              <div class="box-cura boxes m-4">
                <div class="box-content-cura">
                  <img alt="" src="assets/img/sacar-cita/avivacura_logo.svg" width="165" height="36" />
                  <p>
                    <span class="strong-text">Son servicios para recuperar tu salud y tratar tus
                      urgencias médicas.</span>
                    Atendemos tus problemas de salud de una manera integral y
                    eficiente para que te recuperes lo antes posible.
                  </p>
                  <a><button [routerLink]="[ '/reservas/avivacura' ]">VER ESPECIALIDADES</button></a>
                </div>
              </div>
              <div class="box-cuida boxes m-4">
                <div class="box-content-cuida">
                  <img alt="" src="assets/img/sacar-cita/avivacuida_logo.svg" width="165" height="33" />
                  <p>
                    <span class="strong-text">
                      Nuestros servicios se dirigen a la prevención de
                      enfermedades.</span>
                    Nos preocupamos porque mantengas una buena salud mediante
                    controles y chequeos con nuestros especialistas.
                  </p>
                  <a [routerLink]="[ '/reservas/avivacuida' ]" href="/reservas/avivacuida"><button>VER
                      ESPECIALIDADES</button></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="aviva-te-ofrece">
          <div class="aviva-title">
            <h3>SOLO AVIVA TE OFRECE:</h3>
          </div>
          <div class="swiper-container11111" [swiper]="config1">
            <div class="swiper-wrapper">
              <div *ngFor="let item of sliderAvivaOfrece" class="swiper-slide slider-one-content">
                <img [attr.width]="IMAGES.ONE.with" [attr.height]="IMAGES.ONE.height" [src]="item.image" alt="ofrece" />
                <div class="slider-one-info">
                  <p>{{item.title}}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-pagination-top"></div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
        <div class="nuestros-servicios">
          <div class="aviva-title">
            <h3>NUESTROS SERVICIOS</h3>
          </div>
          <div class="ns-content-grid">
            <div *ngFor="let items of iconsService" class="ns-item-grid">
              <div class="ns-item">
                <div class="ns-item-text">
                  <p>{{items.label}}</p>
                </div>
                <div class="ns-item-icon">
                  <img [src]="items.icon" width="40" height="40" alt="icon" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="aviva-te-ofrece nuestras-instalaciones">
          <div class="aviva-title">
            <h3>NUESTRAS INSTALACIONES CUENTAN CON:</h3>
          </div>
          <div class="swiper-container3" [swiper]="configgg">
            <div class="swiper-wrapper">
              <div *ngFor="let item of sliderInsta" class="swiper-slide slider-one-content">
                <img [src]="item.icon" 
                [attr.width]="IMAGES.TWO.with" [attr.height]="IMAGES.TWO.height" 
                alt="ofrece" />
                <div class="slider-one-info">
                  <p>{{item.label}}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-pagination-button"></div>
          <div class="swiper-button-prev-2"></div>
          <div class="swiper-button-next-2"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="content-google">
    <div class="google-map">
      <div class="container">
        <div class="google-map-text">
          <h4>NOS UBICAMOS EN:</h4>
          <p>Av. Alfredo Mendiola 6301, Los Olivos, Lima</p>
        </div>
        <!--   <div class="google-map-map">
        <div class="map">
            <agm-map style="width: 100%; height: 100%;" [zoom]='zoom' [mapTypeId]='mapType' [latitude]="lat" [longitude]="lng">
                <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
            </agm-map>
        </div>
      </div> -->
      </div>
    </div>
  </div>
</div>

<div *ngIf="preloader">
  <div style="background-color: #347699; margin-top: 0;    height: 81vh;
        width: 100%;
        max-width: 101%;" class="preloader" @fadeIn>
    <mat-progress-spinner [color]="color" [mode]="mode" [diameter]="70">
    </mat-progress-spinner>
    <br>
    <br>
    <p class="text-small">Estamos cargando conoce aviva</p>
  </div>
</div>
<!-- 
<script>    
      function initMap() {
      var myLatLng = { lat: -11.954755, lng: -77.0720101 };
      var map = new google.maps.Map(
        document.getElementById("google-map-div"),
        {
          center: myLatLng,
          zoom: 15
        }
      );
      var marker = new google.maps.Marker({
        position: myLatLng,
        map: map,
        title: "Av. Alfredo Mendiola 6301"
        //agregar icon
        //icon: 'assets/svg/info.svg'
      });
      console.log(marker, " marker");
      marker.setMap(map);
    }
  </script>
  
  <script 
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDXW-8c-BgrOr9rlM3Pmg_du0YY0nX6Mmo&callback=initMap"
  async
  defer
  ></script> -->