
<div *ngIf="!preloader" class="box-mai" @fadeIn>
<div *ngIf="newData" class="planes-programas-header">
  <div class="content-picture">
      <picture>
          <source srcset="{{newData.images.homeMobile ? newData.images.homeMobile  : ''}}" media="(max-width: 768px)">
          <img [attr.width]="IMAGES.ONE.width" [attr.height]="IMAGES.ONE.height" srcset="{{newData.images.main ? newData.images.main  : ''}}" alt="My default image">
      </picture>
  </div>
  <div class="planes-programas-box-text">
    <div *ngIf="newData">
      <h2 class="pp-box-title">{{newData.name}}</h2>
      <p class="pp-box-text">
        {{newData.interiorDescription}}
      </p>
    </div>
  </div>
</div>
<div class="content-gene">
<div class="planes-programas-content">
  <div class="container">
    <!-- Beneficios -->
    <div class="planes-programas-beneficios">
      <div class="planes-programas_title">
        <h3>BENEFICIOS</h3>
      </div>
      <div class="planes-programas-beneficios_list">
        <ul>
          <li *ngFor="let item of newData.planBenefits">{{item.name}}</li>
        </ul>
      </div>
    </div>
    <div class="line-divisor">
      </div>
    <!-- /Beneficios -->
  </div>
</div>

<!-- Inversión -->
<div class="planes-programas-inversión">
  <div class="container">

      <div class="row">
          <div style="padding-top: 15px" class="planes-programas_title col-12 col-md-4">
            <h3>INVERSIÓN</h3>
            <div class="inversion-title-curve inversion-title-curve-mobile">
              <div *ngIf="!newData.hasLeftPrice" class="inversion-title-curve-content">
                <p>{{ newData.leftContent }}</p>
              </div>
    
              <div *ngIf="newData.hasLeftPrice" class="inversion-title-curve-content">
                <h4 class="inversion-curve-prima">Prima mensual</h4>
                <div class="inversion-curve-content-monto">
                  <div class="inversion-curve-content-rango">
                    <p>desde</p>
                    <p>S/</p>
                  </div>
                  <div class="inversion-curve-content-number">
                    <p>{{ newData.leftContent }}</p>
                  </div>
                </div>
                <div class="inversion-curve-content-p">
                  <p>
                    La prima varía de acuerdo al <br />
                    rango de edad del afiliado
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="newData.planServices.length === 1 && newData.planServices[0].planPrograms.length === 1" class="planes-programas-inversion-content col-12 col-md-8" [innerHTML]="newData.planServices[0].planPrograms[0].html">
          </div>
      
          <div *ngIf="newData.planServices.length === 2 && newData.planServices[0].planPrograms.length > 2" class="planes-programas-inversion-content col-12 col-md-8">
          <app-box-tab [newData]="newData"></app-box-tab>
          </div>

          <div *ngIf="newData.planServices.length === 1 && newData.planServices[0].planPrograms.length === 2" class="planes-programas-inversion-content col-12 col-md-8">
              <app-box-car [newData]="newData"></app-box-car>
          </div>

          <div *ngIf="newData.planServices.length === 2 && newData.planServices[0].planPrograms.length === 1" class="planes-programas-inversion-content col-12 col-md-8">
            <app-box-tab-tab [newData]="newData"></app-box-tab-tab>
          </div>
        
        </div>
  
     
  <div class="line-divisor">

    </div>
</div>
<!-- /Inversión -->
<!-- Información -->
  <div *ngIf="newData.planDocuments.length > 0" class="planes-programas-informacion planes-programas-content ">
    <div class="container informacion-container">
      <div class="row">
        <div class="planes-programas_title col-12 col-md-3 col-lg-4">
            <h3>INFORMACIÓN</h3>
        </div>
        <div class="planes-programas-informacion-pdf col-12 col-md-9 col-lg-8">
          <div class="informacion-pdf">
            <a *ngFor="let item of newData.planDocuments" href="{{item.filename}}" target="_blank">
                <img src="../../../assets/svg/pdf.svg" alt="PDF" width="51" height="60">
                <p>{{item.name}}</p>
            </a>
          </div>
        </div>

      </div>
        <div style="margin-top: 0px;" class="line-divisor">

          </div>
    </div>
  </div>
<!-- /Información -->
<div class="planes-programas-app-store-container">
  <div class="planes-programas-app-store">
    <!--  APP STORE -->
    <div class="container container-app-store">
      <div class="app-store-text">
        <div class="container">
            <h3>{{newData.boxFooter.title}}</h3>
        <p>
            {{newData.boxFooter.description}}
        </p>
          <button (click)="openLogin(newData.id)" id="{{'button-planes-y-paquetes-' + newData.trackingCodes.reservar}}">RESERVAR PLAN</button>
        </div>
      </div>
      <div class="app-store-img">
        <img style="width: 100%" width="555" height="492" [src]="newData.boxFooter.image" alt="">
      </div>
      <!-- / APP STORE -->
    </div>
    
  </div>
</div>
</div>
</div>
</div>
<div style="margin-top: 0;    height: 81vh;
width: 100%;
max-width: 101%; background-color: #20668B"  class="preloader" *ngIf="preloader">
    <mat-progress-spinner
    [color]="color"
    [mode]="mode" [diameter]="70">
    </mat-progress-spinner>
    <br>
    <br>
    <p class="text-small">Estamos cargando los planes y programas</p>
</div>

