<div class="conoce-aviva-background">
    <div class="box-nav-desktop-interno">
        <app-nav-interno></app-nav-interno>
      </div>
  <!-- <div [ngClass]="{'box-suport': activateNav}">
  <div [ngClass]="{'content-menu-fixed': activateNav}">
    
    <div class="box-nav-desktop-interno">
      <app-nav-interno></app-nav-interno>
    </div>
 
      <div *ngIf="activateNav === true" class="box-select-planes">
        <div class="box-select-mobile">
          <select [(ngModel)]="programa" (change)="selecGender($event)">
              <option value="Seleccionar otro programa">Seleccionar otro programa</option>
            <option *ngFor="let item of listNav" value="{{item.slug}}"><a [routerLink]="[ '/planes-programas', item.slug ]">{{item.name}}</a></option>
          </select>
        </div>
        <div class="box-select-desktop container">
          <ul>
            <div *ngFor="let item of listNav">
            <a [routerLink]="[ '/planes-programas', item.slug ]" routerLinkActive="active"><li id="{{item.slug}}">{{item.name}}</li></a>
          </div>
          </ul>
        </div>
      </div>
  </div>
</div> -->
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</div>