@font-face
    font-family: avenirLtStd
    src: url('/fonts/AvenirLTStd-Book.ttf') format('truetype')
    font-display: swap


@font-face
    font-family: avenirLt95Bold
    src: url('/fonts/Avenir-LT-Std-85-Heavy_5177.ttf') format('truetype')
    font-display: swap

.box-content-step1
    background-color: #E6E6E4
    padding-bottom: 70px
    margin-bottom: -50px
    .preloader
        margin: auto
    @media (min-width:500px)
        height: calc(100vh - 71px)
        min-height: 600px
    .box-content-login
        @media (min-width:500px)
            display: grid
            grid-template-columns: 1fr 1fr
            width: 516px
            grid-row: 18px
            grid-column-gap: 13px
            margin: auto
    .box-content
        border-radius: 0 0 80px
        margin-bottom: 19px
        background-image: url('/assets/images-landing/cita_fondo_mobile.jpg')
        background-position: top
        background-size: cover
        @media (min-width:500px)
            background-image: url('/assets/images-landing/cita_fondo.jpg')
            height: 267px
    .box-main
        height: 200px
        width: 80%
        text-align: center
        color: white
        margin: auto
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        h1
            font-size: 24px
            font-weight: bold
            line-height: 1.3
            font-family: avenirLt95Bold
            margin-bottom: 10px
            @media (min-width:500px)
                font-size: 40px
                margin-top: 70px
        p
            font-size: 15px
            line-height: 18px
            @media (min-width:500px)
                font-size: 20px
                max-width: 450px
                line-height: 1.3
    .mat-dialog-container
        background-color: transparent
        .modal
            @media (min-width:500px)
                text-align: center
            input
                font-family: avenirLtStd !important
            .box-input
                background-color: white