<div class="box-content-step1">
  <div class="box-content">
      <div class="box-main">
          <h1>¡Ingresa tus datos, para calcular el precio de tu plan!</h1>
          <p>Por favor llena los campos a continuación</p>
          <!-- <p>Ahora, solo necesitamos estos datos para calcular el precio de tu plan:</p> -->
      </div>
  </div>

  <div class="container-fluid">
      <div class="row">
          <div class="col-12">
              <div style="border-radius: 0 !important;box-shadow: none !important;" class="mat-dialog-container">
                  <div class="modal box-login">
                    <!-- BOX FORM -->
                    <div class="box-content-login">
                      <!-- BOX NAME -->
                      <div
                        class="box-input"
                        [ngClass]="{
                          'box-input-load': loaderSession
                        }"
                      >
                        <input
                          [disabled]="loaderSession"
                          autocomplete="off"
                          type="text"
                          [(ngModel)]="name"
                          (keyup)="onkeyValidateString(name)"
                          (blur)="blurValidateString(name)"
                          placeholder="Nombre"
                        />
                        <div
                          *ngIf="nameReadyValidate"
                          [ngClass]="{ 'icon2 check': nameValidate, 'icon error': !nameValidate }"
                        ></div>
                      </div>

                      <!-- BOX LASTNAME PATERNO -->
                      <div
                      class="box-input"
                      [ngClass]="{
                        'box-input-load': loaderSession
                      }"
                    >
                    
                      <input
                        [disabled]="loaderSession"
                        autocomplete="off"
                        type="text"
                        [(ngModel)]="lastName"
                        (keyup)="onkeyValidateString(lastName)"
                        (blur)="blurValidateString(lastName)"
                        placeholder="Apellidos"
                      />
                      <div
                        *ngIf="lastNameReadyValidate"
                        [ngClass]="{
                          'icon2 check': lastNameValidate,
                          'icon error': !lastNameValidate
                        }"
                      ></div>
                    </div>
                     <!-- PHONE -->
                      <div
                      class="box-input"
                      [ngClass]="{
                        'box-input-load': loaderSession
                      }"
                    >
                      <input
                        maxlength="2"
                        minlength="2"
                        [disabled]="loaderSession"
                        autocomplete="off"
                        type="tel"
                        [(ngModel)]="phoneNumber"
                        (keyup)="onkeyPass()"
                        (blur)="blurValidateString(phoneNumber)"
                        placeholder="Edad"
                      />
                      <div
                        *ngIf="phoneReadyValidate"
                        [ngClass]="{
                          'icon2 check': phoneValidate,
                          'icon error': !phoneValidate
                        }"
                      ></div>
                    </div>
                    <!-- EMAIL -->
                    <div
                    class="box-input"
                    [ngClass]="{
                      'box-input-load': loaderSession,
                      'box-input-error': mailInvalid
                    }"
                  >
                    <input
                      [disabled]="loaderSession"
                      autocomplete="off"
                      type="text"
                      [(ngModel)]="email"
                      (keyup)="onkeyValidateString(email)"
                      (blur)="blurValidateString(email)"
                      placeholder="Correo electrónico (opcional)"
                    />
                    <span *ngIf="mailInvalid" class="notifiValidate"
                      >Este correo no cumple con el formato requerido</span
                    >
                    <div
                      *ngIf="emailReadyValidate"
                      [ngClass]="{
                        'icon2 check': emailValidate,
                        'icon error': !emailValidate
                      }"
                    ></div>
                  </div>
                  
                    </div>
                  <br>
                    <button
                      (click)="redirectTo()"
                      [disabled]="validateAllInputs()"
                      *ngIf="!loaderSession"
                      mat-raised-button
                      color="primary"
                      
                      id="button_crear_cuenta_Enviar_Crear_Cuenta"
                    >
                      CONTINUAR
                    </button>
                    <div *ngIf="loaderSession" class="preloader">
                      <mat-progress-spinner [color]="color" [mode]="mode" [diameter]="30">
                      </mat-progress-spinner>
                    </div>
                  </div>
                  </div>
          </div>
        </div>
  </div>
</div>
