<div class="box-content-step1">
    <div class="box-content">
        <div class="box-main">
            <h1>¡Gracias, {{nameUser}}!</h1>
            <p>Pronto nos pondremos en contacto contigo</p>
        </div>
    </div>
  
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="title-two">
                    <p>¿Deseas saber más de aviva?</p>
                    <a [routerLink]="[ '/' ]"><h4>Ir a aviva.pe</h4></a>
                </div>
            
            </div>
          </div>
    </div>
  </div>
  