@font-face
    font-family: avenirLtStd
    src: url('/fonts/AvenirLTStd-Book.ttf') format('truetype')
    font-display: swap


@font-face
    font-family: avenirLt95Bold
    src: url('/fonts/Avenir-LT-Std-85-Heavy_5177.ttf') format('truetype')
    font-display: swap

.box-content-step1
    background-color: #E6E6E4
    padding-bottom: 70px
    margin-bottom: -50px
    height: 100vh
    .title-two
        text-align: center
        margin-top: 55px
        h4
            font-family: avenirLt95Bold
            font-size: 18px
            color: #062F51
            text-decoration: underline

        p
            font-size: 15px
            color: #50504F
            margin: 5px
            @media (min-width:500px)
                font-size: 20px
                margin-bottom: 10px

    .box-content
        border-radius: 0 0 80px
        margin-bottom: 19px
        padding: 0 0 7px
        background-image: url('/assets/images-landing/cita_fondo_mobile.jpg')
        background-position: top
        background-size: cover
        @media (min-width:500px)
            background-image: url('/assets/images-landing/cita_fondo.jpg')
            height: 396px
        .box-text-down
            text-align: center
            margin-top: 21px
            margin-bottom: 10px
            h3
                font-family: avenirLt95Bold
                font-size: 18px
                color: white
            p
                font-size: 24px
                color: #FF9D59
                span
                    font-size: 33px
                    font-family: avenirLt95Bold
        .box-items
            display: grid
            grid-template-columns: 1fr 1fr
            width: 90%
            margin: auto
            grid-gap: 10px
    .box-main
        height: 60vh
        width: 80%
        text-align: center
        color: white
        margin: auto
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        h1
            font-size: 30px
            font-weight: bold
            line-height: 29px
            font-family: avenirLt95Bold
            margin-bottom: 10px
            width: 158px
            @media (min-width:500px)
                font-size: 45px
                width: 100%
        p
            font-size: 18px
            line-height: 1.3
            width: 224px
            @media (min-width:500px)
                font-size: 25px
                width: 100%
                margin-top: 10px
            span
                font-family: avenirLt95Bold
    .mat-dialog-container
        background-color: transparent
        .modal
            input
                font-family: avenirLtStd !important
            .box-input
                background-color: white
    .item
        height: 130px
        background-color: #32A0C4
        box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.25)
        border-radius: 0 0 20px
        padding: 10px
        .title
            p
                color: #FFFFFF
                font-size: 13px
                line-height: 1.3
                text-align: center

            div
                display: flex
                align-items: baseline
                justify-content: center
                margin: 5px 0
                span, h4
                    color: #FFD8AF
                    font-family: avenirLt95Bold 
                h4
                    font-size: 30px
            .dscto
                font-size: 12px
                text-align: center
                color: #FFD8AF
                margin: auto
        .title2
            p
                color: #FFFFFF
                font-size: 13px
                line-height: 1.3
                text-align: center

            div
                display: flex
                align-items: baseline
                justify-content: center
                margin: 5px 0 0
                span, h4
                    color: #FFD8AF
                    font-family: avenirLt95Bold 
                h4
                    font-size: 30px
            .dscto
                font-size: 12px
                color: #FFD8AF
                display: block
                text-align: center
                margin-bottom: 4px