<section class="aviva-cuida-section content-box-info container-fluid" @fadeIn>
  <div class="row">
    <div class="col-12 col-lg-4 padding">
      <div class="box-seguro box-header">
        <!-- <p><span class="main-letter">Hola,</span> <br>en base al motivo de tu consulta, <span class="strong">escoge el servicio donde deseas ser atendido</span></p> -->
        <p class="registra">Bienvenido(a)</p>
        <div class="user-bienvenido" *ngIf="isUser()">
          <span class="main">{{user}}</span>
        </div>

        <div class="vector-orange">
          <div class="circle"></div>
        </div>
        <div class="vector-orange-horizontal">
          <div class="circle"></div>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-7 offset-lg-1">
      <section *ngIf="!preloader" class="content-box-info box-doctor box-seguro">
        <div class="box-parent">
          <div class="row">
            <div class="col col-lg-12">
              <h3>Escoge para quien es la cita?</h3>
            </div>
            <div class="col-lg-4 offset-lg-1 botonesAdd">
              <button class="btn btn-primary" (click)="passFinancer()">
                PARA MI
              </button>
            </div>
            <div class="col-lg-4 offset-lg-1 botonesAdd">
              <button class="btn btn-primary" (click)="openParents()">
                PARA UN FAMILIAR
              </button>
            </div>
            <div class="col-lg-12" *ngIf="addFamily === true">
              <div class="row">
                <div class="col-lg-3" *ngFor="let depe of parents">
                  <button (click)="passFinancerParent(depe)" class="btn btn-light tarjetaDepes">
                    <div class="row" no-padding no-margin>
                      <h3 class="nombrePariente">{{depe.name}} {{depe.surname1}}</h3>
                    </div>
                  </button>
                </div>
              </div>
            </div>
            <div class="col-lg-4 offset-lg-4" *ngIf="addFamily">
              <button class="btn btn-rounded botonAgregar" (click)="createParent()">
                Agregar Familiar
              </button>
            </div>
            <div class="col-sm-12 col-lg-6 offset-lg-3" *ngIf="personOk === true">
              <div>
                <div class="row">
                  <div class="col-sm-3 col-lg-2 col-md-2">
                    <img class="imagenDependent"
                      src="https://static.vecteezy.com/system/resources/previews/000/652/388/non_2x/head-of-cute-little-boy-avatar-character-vector.jpg"
                      alt="">
                  </div>
                  <div class="col-sm-9 col-lg-10 col-md-10">
                    <h3 class="nombreDependiente">escogiste a: {{depe.name}} {{depe.surname1}}</h3>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="loader" *ngIf="loader">
          <mat-progress-spinner [color]="color" [mode]="mode" [diameter]="70">
          </mat-progress-spinner>
          <br>
          <br>
          <p class="text-small">Reservando cita planes</p>
        </div>
        <div class="box-specialty-tele box-info-extra" *ngIf="dataPago">
          <div class="box-info-extra-title">
            <!-- <h4>¿QUÉ TIPO DE SEGURO?</h4> -->
            <h4>¿COMO QUIERES PAGAR?</h4>
          </div>
          <section class="example-section">
            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
              [(ngModel)]="favoriteSeason">
              <div class="box-radio col">
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-12">
                    <mat-radio-button *ngFor="let season of financerInter" id="{{'metodo-pago-'+season.trackingId}}"
                      color="primary"
                      (change)="select(season, season.precio[0].total, season.precio, season.plan_pk)">
                      {{season.plan_desc}} <br>
                      <span>precio: S/ {{season.precio[0].total}}
                      </span>
                    </mat-radio-button>
                  </div>

                 <!--  <div class="col-sm-12 col-md-12 col-lg-12">
                    <mat-radio-button *ngFor="let season of financerExter" id="{{'metodo-pago-'+season.trackingId}}"
                      color="primary" (change)="select(season, season.precio[0].total, season.precio, season.plan_pk)">
                      {{season.Financiador}} <br>
                      <span>Pagarás el copago de tu aseguradora
                      </span>
                    </mat-radio-button>
                  </div> -->

                  <div class="col-sm-12 col-md-12 col-lg-12">
                    <mat-radio-button *ngFor="let season of financerPlanesNoBene"
                      id="{{'metodo-pago-'+season.trackingId}}" color="primary"
                      (change)="select(season, season.precio[0].total, season.precio, season.plan_pk)">
                      {{season.plan_desc}} <br>
                      <span *ngIf="season.beneficios.length == 0">precio: S/ {{season.precio[0].total}}
                      </span>
                    </mat-radio-button>
                  </div>

                  <div class="col-sm-12 col-md-12 col-lg-12">
                    <mat-radio-button *ngFor="let season of financerPlanesBene"
                      id="{{'metodo-pago-'+season.trackingId}}" color="primary"
                      (change)="selectCreate(season, season.precio[0].total, season.precio, season.plan_pk)">
                      {{season.plan_desc}}<br> <span>Usados: {{season.beneficios[0].cantidad_veces}} /
                        {{season.beneficios[0].cantidad_max}}</span>
                    </mat-radio-button>
                  </div>
                </div>
              </div>
            </mat-radio-group>
          </section>
        </div>
        <div (click)="backLink()" class="button-back">
          <img src="assets/img/sacar-cita/back-page.svg" width="45" height="45" alt="">
        </div>
      </section>
      <div class="preloader" *ngIf="preloader">
        <mat-progress-spinner [color]="color" [mode]="mode" [diameter]="70">
        </mat-progress-spinner>
        <br>
        <br>
        <p class="text-small">Cargando formas de pago</p>
      </div>
    </div>
  </div>
</section>