@import '~@angular/material/theming';

@font-face {
  font-family: avenir;
  src: url(src/fonts/AvenirLT95-Black.ttf)format("opentype");
  font-display: swap;
}

// Plus imports for other components in your app.
$mat-aviva-primary: (50: #ffebee,
  100: rgba(255, 255, 255, 0.69),
  200: #ef9a9a,
  300: #e57373,
  400: #ef5350,
  500: #ffbeb2,
  600: #e53935,
  700: #d32f2f,
  800: #c62828,
  900: #b71c1c,
  A100: #ff8a80,
  A200: #ff5252,
  A400: #78b2d2,
  A700: #20668c,
  A900: #062F51,
  contrast: (50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  ));
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$candy-app-primary: mat-palette($mat-aviva-primary, A900);
$candy-app-accent: mat-palette($mat-aviva-primary, 100);

// The warn palette is optional (defaults to red).
$candy-app-warn: mat-palette($mat-aviva-primary, 100);

// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($candy-app-theme);

.botonHomeTour {
  width: 70%;
  margin-left: 15%;
  background: #EB964D;
  border-radius: 10px;
  font-size: 30px !important;
  color: #fff;
  font-family: avenir;
  font-weight: 600;

  @media (min-width:900px) {
    font-size: 15px;
    font-weight: 500;
  }
}

.teleTabs {
  .mat-tab-label {
    width: 50%;
  }

  .mat-tab-label-container {
    background-color: #fff !important;
    margin-bottom: 10px !important;
  }

  .mat-tab-label {
    background: #062F51 !important;
  }

  mat-ink-bar {
    background: #EB964D !important;
  }

  .mat-tab-label-content {
    width: 50%;
    text-transform: uppercase;
    color: #062F51;
  }
}

.mat-form-field-flex{
  background-color: #fff!important;
  margin-top: 20px;
  color:#062F51;
}
