    <!-- START NAV INTERNO DESKTOP -->
    <div class="box-nav-desktop-interno">
      <app-nav-interno></app-nav-interno>
    </div>
    <!-- END NAV INTERNO DESKTOP -->
<router-outlet></router-outlet>