<div [ngClass]="{'reserva-doctor': page === 'reserva-doctor'}" class="box-content-reservas">
  <div style="background-color: white;" class="container-fluid">
    <div class="box-header-interactivo">
      <a (click)="backLink()"></a>
      <h2 [ngStyle]="{'color': page === 'avivaCuida' ? '#FB6E54' : ''}">RESERVAR CITA</h2>
    </div>

  </div>

  <!-- START BAR PROGRESS -->
  <div *ngIf="page === 'avivaCuida' || page === 'avivaCura' || page === 'reserva-doctor'" class="progress-bar">
    <div class="container">
      <div class="row">
        <div class="box-progress">
          <ul>
            <li *ngIf="userNoAutenticate()"
              [ngClass]="{'active': pageInternas === 'registro', 'ready' : registro === true}">
              <div class="circle">
                <img *ngIf="registro === true" src="assets/img/sacar-cita/check1.svg" width="10" height="10" alt="">
                <img *ngIf="pageInternas === 'registro' ? true : false" style="width: 15px;"
                  src="assets/img/sacar-cita/3_registro.svg" alt="">
                <div *ngIf="pageInternas === 'registro' ? true : false" class="text-movil">registro</div>
              </div>
              <h3>Registro</h3>
              <span class="line"></span>
            </li>
            <li [ngClass]="{'active': pageInternas === 'seguro', 'ready' : seguro === true}">
              <div class="circle">
                <img *ngIf="seguro === true" src="assets/img/sacar-cita/check1.svg" width="10" height="10" alt="">
                <img *ngIf="pageInternas === 'seguro' ? true : false" style="width: 15px;"
                  src="assets/img/sacar-cita/4_seguro.svg" alt="">
                <div *ngIf="pageInternas === 'seguro' ? true : false" class="text-movil">seguro</div>
              </div>
              <h3>Financiador</h3>
              <span class="line"></span>
            </li>
            <li [ngClass]="{'active': pageInternas === 'pago', 'ready' : pago === true}">
              <div class="circle">
                <img *ngIf="pago === true" src="assets/img/sacar-cita/check1.svg" width="10" height="10" alt="">
                <img *ngIf="pageInternas === 'pago' ? true : false" style="width: 15px;"
                  src="assets/img/sacar-cita/5_pago.svg" alt="">
                <div *ngIf="pageInternas === 'pago' ? true : false" class="text-movil">pago</div>
              </div>
              <h3>Pago</h3>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- END BAR PROGRESS -->
  <router-outlet></router-outlet>
</div>