<footer class="container-fluid">
  <div style="width:80%; margin: auto">
  <div class="row">
    <!-- <div class="col-12">
      <div class="box-content-footer">
    <div class="vector-orange">
      <div class="circle"></div>
    </div>
    <div class="box-footer">
        <span><img src="assets/svg/ubicacion.svg" alt="">  Encuéntranos en</span>
        <p *ngIf="showData">{{dataContac.contacts[0].address}}</p>
    </div>

      <mat-divider></mat-divider>

      <div *ngIf="showData" class="box-footer">
          <span class="email"><img src="assets/svg/correo.svg" alt=""> Contáctanos</span>
          <a [href]="'mailto:' + dataContac.contacts[0].email"><p>{{dataContac.contacts[0].email}}</p></a>
      </div>

      <mat-divider></mat-divider>

      <div class="box-footer">
          <span>Síguenos</span>
          <ul *ngIf="showData">
          <a *ngFor="let item of dataContac.social_networks" [id]="'a-footer-Ir_' + item.name  +'_Footer'" [href]="item.url" target="_blank">
          <li><img [src]="item.icon" alt=""></li></a>
          </ul>
      </div>
    </div>
  </div> -->
  <div class="show-desktop col-12 col-md-4">
    <div  style="display: flex;">
    <div class="box-letf">
      <ul class="lis-item">
          <a [routerLink]="['/']" id="a-header-Ir_Home_Header">
            <li  class="logo"><img [defaultImage]="defaultImage" style="width: 107px;" width="107" height="40" [lazyLoad]="'assets/svg/logo.svg'" alt="" /></li></a>
        <li><span><img [defaultImage]="defaultImage"  [lazyLoad]="'assets/svg/ubicacion.svg'" width="17" height="17" alt="">  <p style="margin-left: 15px;" *ngIf="showData">{{dataContac.contacts[0].address}}</p></span>   
        <li> <span class="email"><img [defaultImage]="defaultImage" [lazyLoad]="'assets/svg/correo.svg'" width="17" height="17" alt=""> <a [href]="'mailto:' + dataContac.contacts[0].email"><p style="margin-left: 10px;">{{dataContac.contacts[0].email}}</p></a></span></li>
        <li><ul *ngIf="showData">
            <a *ngFor="let item of dataContac.social_networks" [id]="'a-footer-Ir_' + item.name  +'_Footer'" [href]="item.url" target="_blank">
            <li style="margin: 0; margin-right: 10px"><img style="width: 35px;" width="35" height="35" [src]="item.icon" alt=""></li></a>
          </ul></li>
      </ul>
    </div>
    <div style="    display: flex;
    justify-content: center;" class="box-right">
      <a [routerLink]="['/']" id="a-header-Ir_Home_Header" ><span class="title-list">Inicio</span></a>
    </div>
    <div style="margin: 0 22px;" class="border-right"></div>
  </div>
  </div>
  <!-- show movil -->
  <div class="show-movil-boxes col-12 col-md-4">
    <div  style="display: flex;">
    <div class="box-letf">
      <ul class="lis-item">
          <a [routerLink]="['/']" id="a-header-Ir_Home_Header"><li  class="logo"><img style="width: 107px;" width="107" height="39" [defaultImage]="defaultImage" [lazyLoad]="'assets/svg/logo.svg'" alt="" /></li></a>
      </ul>
    </div>
  </div>
  <br>
  </div>
  <!-- show movil -->
  <div class="col-12 col-md-3">
      <a [routerLink]="['/']" id="a-header-Ir_Home_Header" class="show-movil"><span class="title-list">Inicio</span></a>
      <a [routerLink]="[ '/especialidades-doctores' ]"><span class="title-list">Especialidades y doctores</span></a>
      <ul class="list-links">
        <!-- <a *ngFor="let item of dataSpecialty" id="{{'li-ver-especialidades-'+item.slug}}" [routerLink]="[ '/especialidades-doctores/especialidades-details', item.id, item.slug ]"><li>{{item.title}}</li></a> -->
        <a *ngFor="let item of dataSpecialty" id="especialidades-footer" [routerLink]="[ '/especialidades-doctores/especialidades-details', item.id, item.slug ]"><li>{{item.title}}</li></a>
        
      </ul>
  </div>
  <div style="margin: 0 22px;" class="border-right"></div>
  <div class="col-12 col-md-4">
      <div class="box-1-text">
      <div>
          <a [routerLink]="[ '/planes-programas' ]"><span class="title-list">Programas</span></a>
          <ul class="list-links-b">
            <a *ngFor="let item of dataPlans"  [routerLink]="[ '/planes-programas' , item.slug ]"><li>{{item.name}}</li></a>
          </ul>
      </div>
      <div style="margin: 0 22px;" class="border-right"></div>
      <div>
          <a [routerLink]="[ '/conoce-aviva' ]"><span class="title-list">Conoce aviva</span></a>
          <ul class="list-links-c">
            <a [routerLink]="[ '/reservas/avivacura' ]" id="a-paso1-Ir_Aviva_Cura_Paso1"><li>Avivacura</li></a>
            <a [routerLink]="[ '/reservas/avivacuida' ]" id="a-paso1-Ir_Aviva_Cuida_Paso1"><li>Avivacuida</li></a>
          </ul>
      </div>
      </div>
  </div>

  <!-- show only movil -->
      <div class="show-movil-boxes box-content-footer">
    <!-- <div class="vector-orange">
      <div class="circle"></div>
    </div> -->
    <mat-divider></mat-divider>
    <div class="box-footer">
        <span><img [lazyLoad]="'assets/svg/ubicacion.svg'" width="17" height="17" [defaultImage]="defaultImage" alt="">  Encuéntranos en</span>
        <p *ngIf="showData">{{dataContac.contacts[0].address}}</p>
    </div>

      <mat-divider></mat-divider>

      <div *ngIf="showData" class="box-footer">
          <span class="email"><img [lazyLoad]="'assets/svg/correo.svg'"  [defaultImage]="defaultImage" width="17" height="17" alt=""> Contáctanos</span>
          <a [href]="'mailto:' + dataContac.contacts[0].email"><p>{{dataContac.contacts[0].email}}</p></a>
      </div>

      <mat-divider></mat-divider>

      <div class="box-footer">
          <span>Síguenos</span>
          <br>
          <ul *ngIf="showData">
           
          <a *ngFor="let item of dataContac.social_networks" [id]="'a-footer-Ir_' + item.name  +'_Footer'" [href]="item.url" target="_blank">
          <li><img [lazyLoad]="item.icon" width="35" height="35" [defaultImage]="defaultImage" alt=""></li></a>
          </ul>
      </div>
    </div>

  <!-- show only movil -->
  </div>

</div>
</footer>