<div class="box-content-reservas cura-cuida">

  <section class="content-box-info container-fluid">
    <div class="row">
      <div class="col-12 col-lg-3 padding">
        <div class="box-header">
          <p><span class="main-letter">Hola,</span> <br>en base al motivo de tu consulta, <span class="strong">escoge el
              servicio donde deseas ser atendido</span></p>
          <div class="vector-orange">
            <div class="circle"></div>
          </div>
          <div class="vector-orange-horizontal">
            <div class="circle"></div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-7 offset-lg-2">
        <div class="cont-box">
          <div class="box-cura boxes">

            <div style="padding: 20px 20px" class="box-content-cura">
              <img src="assets/img/sacar-cita/avivacura_logo.svg" alt="">
              <div class="box-texto" [innerHtml]="data.cuidaDescription"></div>
              <a [routerLink]="['/reservas/avivacura/selecciona-doctor', data.curaId, data.slug]"
                id="a-paso1-Ir_Aviva_Cuida_Paso1"><button>ELEGIR</button></a>
            </div>

          </div>
          <div class="box-cuida boxes">
            <div style="padding: 20px 20px" class="box-content-cuida">
              <img src="assets/img/sacar-cita/avivacuida_logo.svg" alt="">
              <div class="box-texto" [innerHtml]="data.cuidaDescription">
              </div>
              <a [routerLink]="['/reservas/avivacuida/selecciona-doctor', data.cuidaId, data.slug]"
                id="a-paso1-Ir_Aviva_Cuida_Paso1"><button>ELEGIR</button></a>
            </div>
          </div>
        </div>
        <div style="text-align: center;
  margin-top: 40px;" (click)="backLink()" class="button-back">
          <img src="assets/img/sacar-cita/back-page.svg" width="45" height="45" alt="">
        </div>
      </div>
    </div>
  </section>
</div>