<div class="table-planes-programas">
  <div class="tabla-planes-programa">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th>SERVICIOS</th>
          <th>PRECIO</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Consultas Medicina General</td>
          <td>S/ 12</td>
        </tr>
        <tr>
          <td>Consulta Médico Especialista</td>
          <td>S/ 15</td>
        </tr>
        <tr>
          <td>Consulta Urgencia</td>
          <td>S/ 15</td>
        </tr>
        <tr>
          <td>Chequeo Preventivo Anual</td>
          <td>S/ 50</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="tabla-planes-programa">
    <table cellpadding="0" cellspacing="0" border="0">
        <thead>
          <tr>
            <th>SERVICIOS</th>
            <th>DSCTOS.</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Laboratorio e Imágenes</td>
            <td>50%</td>
          </tr>
          <tr>
            <td>Procedimientos Ambulatorios</td>
            <td>50%</td>
          </tr>
          <tr>
            <td>Farmacia</td>
            <td>10%</td>
          </tr>
          <tr>
            <td>Endoscopia</td>
            <td>40%</td>
          </tr>
        </tbody>
      </table>
  </div>
</div>
