<div class="video-container">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="row">
            <div class="col-sm-12 col-md-3 col-lg-3">
                <div [id]="localCallId" class="local"></div>
            </div>
            <div class="col-sm-12 col-md-9 col-lg-9">
                <div *ngFor="let callId of remoteCalls" [id]="callId" class="remote"></div>
            </div>
            <div class="col-sm-12 col-lg-9 col-md-9 containerBotoms">
                <p class="NombreDoctor">{{dataPermissions.professionalName}} {{dataPermissions.professionalLastName1}}
                    {{dataPermissions.professionalLastName2}}</p>
                <p class="DoctorTitle">{{dataPermissions.basicServiceDescription}}</p>
                <p class="horaInicio fondo">{{time}}</p>
                <button class="btn btn-danger botonClose" (click)="leave()">
                    <i class="fas fa-phone-slash"></i>
                </button>
            </div>
        </div>
    </div>
</div>